﻿.skin-blue .main-header.navbar {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
    .skin-blue .main-header.navbar .nav-link,
    .skin-blue .main-header.navbar .nav-link:hover,
    .skin-blue .main-header.navbar .nav-link:active,
    .skin-blue .main-header.navbar .nav-link:focus {
        color: #fff;
    }
.skin-blue .main-sidebar .brand-link {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.card-primary:not(.card-outline) .card-header {
    background-color: #3c8dbc;
}
.card-primary:not(.card-outline) .note-toolbar.card-header {
    background-color: #ced4da;
}
