﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ArticleScriptItems.FormViewModel
<div class="form-group">
    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title"
           placeholder="Título del tema" maxlength="128"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título del ítem.</div>
</div>
<div class="form-group">
    <label for="Code">Código:</label>
    <textarea class="form-control" name="Code" id="Code" required maxlength="4000"
              placeholder="Código descriptivo del ítem">@Model.Code</textarea>
    <div class="invalid-feedback order-last">Ingrese el código del ítem.</div>
</div>
<div class="form-group">
    <label for="IDMultimediaType">Tipo:</label>
    @Html.DropDownList("IDMultimediaType", Model.MultimediaTypeDropdownListOptions, new
    {
        @class = "form-control"
    })
    <div class="invalid-feedback order-last">Ingrese al menos una keyword.</div>
</div>
