﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ArticleScriptItems.ComebackParametersViewModel
@if (Model.HasIDArticleScriptItem)
{
    <text>
        <input type="hidden" name="IDArticleScriptItem" value="@Model.IDArticleScriptItem" />
    </text>
}
<input type="hidden" name="IDArticleScript" value="@Model.IDArticleScript" />
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="ScriptPageNumber" value="@Model.ScriptPageNumber" />
<input type="hidden" name="ScriptPageSize" value="@Model.ScriptPageSize" />
<input type="hidden" name="EditionPageNumber" value="@Model.EditionPageNumber" />
<input type="hidden" name="EditionPageSize" value="@Model.EditionPageSize" />
<input type="hidden" name="EditionColumns" value="@Model.EditionColumns" />