﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ArticleScriptItems.FormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Ver ítem {0}", Model.Title);
    if (Model.IsCreate)
    {
        actionTitle = string.Format("Nuevo ítem de {0}", Model.ArticleScript.Title);
    }
    else if (Model.IsUpdate)
    {
        actionTitle = string.Format("Editar ítem {0}", Model.Title);
    }
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}

@section Head
{
}

@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader {
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl" title="@Model.BackButtonTitle"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@actionTitle</h3>
                </div>
                @if (Model.IsCreate)
                {
                    <text>
                        <form action="/Admin/ArticleScriptItems/Create" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                            <div class="card-body">
                                @Html.Partial("_ArticleScriptItemInputs", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </text>
                }
                else if (Model.IsUpdate)
                {
                    <text>
                        <form action="/Admin/ArticleScriptItems/Update" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            <div class="card-body">
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                @Html.Partial("_ArticleScriptItemInputs", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </text>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert();
            $('[maxlength]').maxlength();
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}
