﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ArticleScriptItems.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Listado de ítems de \"{0}\"", Model.ArticleScript.Title);
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{

}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div><div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools float-lg-right">
                        @if (User.IsInRole("Super Administrador"))
                        {
                            <a href="@Model.NewButtonHref" title="@Model.NewButtonTitle"
                               class="btn btn-tools comeback" data-toggle="tooltip">
                                <i class="fa fa-plus"></i>
                            </a>
                        }
                    </div>
                </div>
                @if (Model.ArticleScriptItems.Count() > 0)
                {
                    <text>
                        <div class="card-body">
                            <table id="table" class="table" data-toggle="table" data-show-columns="true">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="align-middle"><small>ID</small></th>
                                        <th class="align-middle"><small>Título</small></th>
                                        <th class="align-middle"><small>Tipo</small></th>
                                        <th class="align-middle"><small>Habilitado</small></th>
                                        <th class="align-middle"><small>Editar</small></th>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <th class="align-middle"><small>Borrar</small></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ArticleScriptItems)
                                    {
                                        <tr>
                                            <td class="align-middle text-right"><small>@item.IDArticleScriptItem</small></td>
                                            <td class="align-middle"><small>@item.Title</small></td>
                                            <td class="align-middle">
                                                <small>@item.MultimediaType.Title</small>
                                            </td>
                                            <td class="align-middle text-center">
                                                <form action="/Admin/ArticleScriptItems/Enable" method="post"
                                                      role="form">
                                                    @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDArticleScriptItem))
                                                    <button class="btn" onclick="@item.EnabledButtonOnClick" data-toggle="tooltip"
                                                            title="@item.EnableButtonTitle">
                                                        <i class="fa @item.EnableButtonClass"></i>
                                                    </button>

                                                </form>
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="@item.UpdateLinkURL(Model.ComebackParameters)"
                                                   title="@item.UpdateLinkTitle" class="btn comeback" data-toggle="tooltip">
                                                    <i class="fa fa-pen"></i>
                                                </a>

                                            </td>
                                            @if (User.IsInRole("Super Administrador"))
                                            {
                                                <text>
                                                    <td class="align-middle text-center">
                                                        <form action="/Admin/ArticleScriptItems/Delete"
                                                              role="form" method="post">
                                                            @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDArticleScriptItem))

                                                            <button class="btn" data-toggle="tooltip"
                                                                    title="Borrar sub tema"
                                                                    onclick="@item.DeleteButtonOnClick">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </text>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </text>
                    if (Model.PageCount > 1)
                    {
                        <text>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.FirstPageURL()" title="@Model.FirstPageTitle"><i class="fa fa-step-backward"></i></a></li>
                                    <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.BackPageURL()" title="@Model.BackPageTitle"><i class="fa fa-backward"></i></a></li>
                                    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                    {
                                        if (i == Model.PageNumber)
                                        {
                                            <text>
                                                <li class="page-item active"><a class="page-link" href="#">@i</a></li>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <li class="page-item"><a class="page-link comeback" href="@Model.ToPageURL(i)" title="@Model.ToPageTitle(i)">@i</a></li>
                                            </text>
                                        }
                                    }
                                    <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.NextPageURL()" title="@Model.NextPageTitle"><i class="fa fa-forward"></i></a></li>
                                    <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.LastPageURL()" title="@Model.LastPageTitle"><i class="fa fa-step-forward"></i></a></li>
                                </ul>
                            </div>
                        </text>
                    }
                }
                else
                {
                    <div class="card-body">
                        <p>
                            No hay ítems de @Model.ArticleScript.Title en la base de datos.
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

}
