﻿<footer id="footer" itemscope itemtype="http://schema.org/Organization">
    <div class="container">
        <div class="row">
            <div id="logo-footer" class="col-sm-3">
                <span>
                    <a href="/?ref=footer"
                       @if (!string.IsNullOrEmpty(Model.GetConfiguration("website/logofooter/file-extention"))) { <text> class="@string.Format("e-logo-footer-{0}", Model.GetConfiguration("website/logofooter/file-extention").Substring(1))" </text> }
                       title="@Model.GetConfiguration("website/info/name")"
                       alt="@Model.GetConfiguration("website/info/name")" itemprop="name">@Model.GetConfiguration("website/info/name")</a>
                </span>
                <meta itemprop="logo"
                      content="@string.Format("http://www.{0}/{1}/{2}.png",
Model.GetConfiguration("website/info/domain"),
Model.GetConfiguration("website/logo/folder"),
Model.GetConfiguration("website/logo/filename"))">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(Model.GetConfiguration("home/footer/phones")))
                        {
                            <section class="footer-telefono">
                                <strong>Teléfonos</strong>
                                <ul>
                                    @foreach (var phone in Model.GetConfiguration("home/footer/phones").Split('\n'))
                                    {
                                        if (!string.IsNullOrEmpty(phone))
                                        {
                                            <li><span itemprop="telephone">@phone.Replace("\r", "")</span></li>
                                        }
                                    }

                                </ul>
                            </section>
                        }
                    </div>
                    <div class="col-sm-4">
                        @if (!string.IsNullOrEmpty(Model.GetConfiguration("home/footer/address/1")))
                        {
                            <section class="footer-direccion" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <strong>Dirección</strong>
                                <ul>
                                    @{
                                        var index = 0;
                                    }
                                    @foreach (var line in Model.GetConfiguration("home/footer/address/1").Split('\n'))
                                    {
                                        if (!string.IsNullOrEmpty(line))
                                        {
                                            if (index == 0)
                                            {
                                                <li><span itemprop="streetAddress">@line.Replace("\r", "")</span></li>
                                            }
                                            else
                                            {
                                                if (line.IndexOf("<meta") == 0)
                                                {
                                                    @Html.Raw(line);
                                                }
                                                else
                                                {
                                                    <li><span>@line.Replace("\r", "")</span></li>
                                                }
                                            }
                                        }
                                        index++;
                                    }
                                </ul>
                            </section>
                        }
                    </div>
                    <div class="col-sm-4">
                        <section class="footer-mensaje">
                            <strong>Mensajes</strong>
                            <ul>
                                <li><a href="/Contact?ref=footer" title="Contacto">Contactos</a></li>
                            </ul>
                            <link itemprop="url" href="@string.Format("http://www.{0}", Model.GetConfiguration("website/info/domain"))" rel="me" />
                            @if (!string.IsNullOrEmpty(@Model.GetConfiguration("socialmedia/twitter/url")))
                            {
                                <link itemprop="sameAs" href="@Model.GetConfiguration("socialmedia/twitter/url")" rel="me" />
                            }
                            @if (!string.IsNullOrEmpty(@Model.GetConfiguration("socialmedia/facebook/url")))
                            {
                                <link itemprop="sameAs" href="@Model.GetConfiguration("socialmedia/facebook/url")" rel="me" />
                            }
                        </section>
                    </div>
                </div>
                @Html.Partial("footer/_Footer_External_Links")
            </div>
        </div>
    </div>
</footer>
