﻿@if ((Model.FooterLeftFlyers != null &&
            Model.FooterLeftFlyers.Count > 0) ||
(Model.FooterRightFlyers != null &&
            Model.FooterRightFlyers.Count > 0))
{

    <div id="footer-external-links" class="row">
        <div class="col-xs-6">
            @if (Model.FooterLeftFlyers != null &&
        Model.FooterLeftFlyers.Count > 0)
            {
                <ul class="left">
                    @foreach (var item in Model.FooterLeftFlyers)
                    {

                        <li>
                            <a href="@item.URL" title="@item.Title" target="_blank" rel="nofollow">
                                <img src="@item.GetHomeImage("500")"
                                     alt="@item.Title" />
                            </a>
                        </li>

                    }
                </ul>
            }
        </div>
        <div class="col-xs-6">
            @if (Model.FooterRightFlyers != null &&
                Model.FooterRightFlyers.Count > 0)
            {
                <ul class="right">
                    @foreach (var item in Model.FooterRightFlyers)
                    {
                        <li>
                            <a href="@item.URL" title="@item.Title" target="_blank" rel="nofollow">
                                <img src="@item.GetHomeImage("500")"
                                     alt="@item.Title" />
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>


}