﻿<div id="platform">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Todos los derechos reservados - <span>Powered by <a href="@string.Format("http://www.pixelario.com.ar/?ref={0}", Model.GetConfiguration("website/info/domain"))" title="Pixelario" target="_blank" rel="nofollow">Pixelario</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
