﻿@model Pixelario.CMS.Web.Models.Pages.IndexViewModel

@{
    ViewBag.Title = "Preview" + Model.Page.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{

    <link href="/lib/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}
}

<div id="page">
    <article>
        <header>
            <h1>@Model.Page.Title</h1>
            <p>
                @Model.Page.Summary
            </p>
        </header>
        @if (!string.IsNullOrEmpty(Model.Page.HomeImage))
        {
            <figure>
                <a href="@Model.Page.GetHomeImage("945")" title="@Model.Page.Title"
                   data-toggle="lightbox" data-parent="#page"
                   data-gallery="gallery"
                   data-title="@Model.Page.Title">
                    <img src="@Model.Page.GetHomeImage("945")" alt="@Model.Page.Title" />
                </a>
            </figure>
        }
        <section>
            @Html.Raw(Model.Page.Body)
        </section>
        @if (Model.Page.ImageMultimedia != null && Model.Page.ImageMultimedia.Count > 0)
        {
            @Html.Partial("_Image-Gallery-Thumbnail", Model.Page.ImageMultimedia)
        }
        @if (Model.Page.Widgets != null && Model.Page.Widgets.Count > 0)
        {
            @Html.Partial("_Widgets-Thumbnail", Model.Page.Widgets)
        }
        @if (Model.Page.Documents != null && Model.Page.Documents.Count > 0)
        {
            @Html.Partial("_Download-Links", Model.Page.Documents)
        }
    </article>
</div>
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-2">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-2">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    <script src="/lib/ekko-lightbox/ekko-lightbox.js"></script>
    <script>
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
        $(document).ready(function () {
            $('body').before('<div><span style="display: block; padding: 15px 20px; font-weight: 700; color: #fff; text-align: center; background-color:red; font-size:14px;">Preview</span></div>')
        });

    </script>
}
