﻿@model List<Pixelario.CMS.Web.Models.Frontend.DocumentMultimediaViewModel>
<section class="e-donwload-links">
    <strong>Descargas</strong>
    <ul>
        @foreach (var document in Model)
        {
            <li>
                <a href="@document.HRef" title="@document.Title" target="_blank"
                   class="@document.CssClass" rel="nofollow">@document.Title</a>
            </li>
        }
    </ul>
</section>

