﻿@using Pixelario.CMS.Web.Models.Frontend
@model List<ArticleViewModel>
@if (Model != null && Model.Count > 0)
{
    <section class="e-related-articles">
        <strong>Enlaces relacionado</strong>
        <ul id="related-articles">
            @foreach (var item in Model)
            {
                <li>
                    <article class="@string.Format("{0}",item.HasLongTitle ? "e-article-long-title":"")">
                        @if ((item.Topics != null && item.Topics.Count > 0) ||
                            (item.SubTopics != null && item.SubTopics.Count > 0))
                        {
                            <header>
                                @foreach (var topic in item.Topics)
                                {
                                    <a href="@topic.URL?ref=home" title="@topic.Title">@topic.Title</a>
                                }
                                @foreach (var subTopic in item.SubTopics)
                                {
                                    <a href="@subTopic.URL?ref=home" title="@subTopic.Title">@subTopic.Title</a>
                                }
                            </header>
                        }

                        <figure>
                            <a href="@item.URL?ref=home" title="@item.Title">
                                <img src="@item.GetHomeImage("500")" alt="@item.Title" title="@item.Title" />
                            </a>
                        </figure>
                        <aside>
                            <h1>
                                <a href="@item.URL?ref=home" title="@item.Title">
                                    @item.Title
                                </a>
                            </h1>
                        </aside>
                    </article>
                </li>
            }
        </ul>
    </section>
}
