﻿@model Pixelario.CMS.Web.Models.Articles.IndexViewModel

@{
    ViewBag.Title = Model.Article.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <meta name="description" content="@Model.Article.Summary" />
    <meta name="keywords" content="@Model.Article.Keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Article.Title" />
    <meta property="og:description" content="@Model.Article.Summary" />
    <meta property="og:image" content="@string.Format("http://www.{0}{1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.Article.GetHomeImage("700"))" />
    <meta property="og:url" content="@string.Format("http://www.{0}{1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.Article.URL)" />
    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        if (string.IsNullOrEmpty(Model.Article.HomeImage))
        {
            <meta property="twitter:card" content="summary" />
        }
        else
        {
            <meta property="twitter:card" content="summary_large_image" />
        }
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
    @if (Model.Article.HeaderScriptCodes != null)
    {
        foreach (var code in Model.Article.HeaderScriptCodes)
        {
            @Html.Raw(code)
        }
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

<div id="article">
    <article>
        <header>
            <h1>@Model.Article.Title</h1>
            <p>
                @Model.Article.Summary
            </p>
            @if (!String.IsNullOrEmpty(Model.Article.Source) || !String.IsNullOrEmpty(Model.Article.PublicationDate))
            {<p>
                    @if (!String.IsNullOrEmpty(Model.Article.Source))
                    {
                        <text>
                            <span>Fuente: </span><em>@Model.Article.Source</em>
                        </text>
                    }
                    @if (!String.IsNullOrEmpty(Model.Article.Source) && !String.IsNullOrEmpty(Model.Article.PublicationDate))
                    {
                        <text>/</text>
                    }
                    @if (!String.IsNullOrEmpty(Model.Article.PublicationDate))
                    {
                        <text><em>@Model.Article.PublicationDate</em></text>
                    }
                </p>
            }
        </header>
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <a href="@Model.Article.GetHomeImage("700")" title="@Model.Article.Title"
                       data-toggle="lightbox" data-parent="#page"
                       data-gallery="gallery"
                       data-title="@Model.Article.Title">
                        <img src="@Model.Article.GetHomeImage("700")" alt="@Model.Article.Title" />
                    </a>
                </figure>
                <section>
                    @Html.Raw(Model.Article.Body)
                </section>
                @if (Model.Article.ImageMultimedia != null && Model.Article.ImageMultimedia.Count > 0)
                {
                    @Html.Partial("_Image-Gallery-Thumbnail", Model.Article.ImageMultimedia)
                }
                @if (Model.Article.Widgets != null && Model.Article.Widgets.Count > 0)
                {
                    @Html.Partial("_Widgets-Thumbnail", Model.Article.Widgets)
                }
                @if (Model.Article.Documents != null && Model.Article.Documents.Count > 0)
                {
                    @Html.Partial("_Download-Links", Model.Article.Documents)
                }
                @if (Model.Article.ArticleBottomScriptCodes != null)
                {
                    foreach (var code in Model.Article.ArticleBottomScriptCodes)
                    {
                        @Html.Raw(code)
                    }
                }
                <section class="e-social-networks">
                    <strong>Redes Sociales</strong>
                    <ul>
                        <li class="facebook-share.button">
                            <div class="fb-like" data-href="@string.Format("http://www.{0}{1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.Article.URL)"
                                 data-send="false" data-show-faces="false" data-colorscheme="light"
                                 data-layout="button_count">
                            </div>
                        </li>
                        <li class="twitter-share-button">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="" data-lang="es" data-related="">Twittear</a>
                            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        </li>
                        <li class="whatsapp-share-button">
                            <a href="whatsapp://send" data-text="" data-href="" class="wa_btn wa_btn_s" style="display: none">Whatsapp</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </section>
                @if (Model.BottomFlyers != null && Model.BottomFlyers.Count > 0)
                {
                    foreach (var item in Model.BottomFlyers)
                    {
                        if (item.HasCode)
                        {
                            <text>@Html.Raw(item.Code)</text>
                        }
                    }
                }

            </div>
            <div class="col-md-4">
                @Html.Partial("_Related-Articles", Model.Article.RelatedArticles)
            </div>
        </div>
    </article>
</div>
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    @if (Model.Article.BottomScriptCodes != null)
    {
        foreach (var code in Model.Article.BottomScriptCodes)
        {
            @Html.Raw(code)
        }
    }

    <script type="text/javascript">if (typeof wabtn4fg === "undefined") { wabtn4fg = 1; h = document.head || document.getElementsByTagName("head")[0], s = document.createElement("script"); s.type = "text/javascript"; s.src = "/js/whatsapp-button.js"; h.appendChild(s); }</script>
    @Html.Partial("_Scripts", Model.ScriptFlyers)
}
