﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ArticleScripts.FormViewModel
<div class="form-group">
    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title"
           placeholder="Título del script de artículo" maxlength="128"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título del script de artículo.</div>
</div>
<div class="form-group">
    <label for="Summary">Sumario:</label>
    <textarea class="form-control" name="Summary" id="Summary" required maxlength="4000"
              placeholder="Sumario descriptivo del script de artículo">@Model.Summary</textarea>
    <div class="invalid-feedback order-last">Ingrese el sumario del script de artículo.</div>
</div>