﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ArticleScripts.ComebackParametersViewModel
@if (Model.HasIDArticleScript)
{
    <text>
        <input type="hidden" name="IDArticleScript" value="@Model.IDArticleScript" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="EditionPageNumber" value="@Model.EditionPageNumber" />
<input type="hidden" name="EditionPageSize" value="@Model.EditionPageSize" />
<input type="hidden" name="EditionColumns" value="@Model.EditionColumns" />