﻿@model Pixelario.CMS.Web.Models.Frontend.HeaderViewModel
<header id="header">
    @if (Model.SubscriptionsEnable)
    {
        <text>
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="subscriptions-links">
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <text>
                                        <li>
                                            <a href="/Subscriptions/Profile" title="Perfil">
                                                <b>Perfil</b>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Subscriptions/LogOff?showTechnicalErrors&ref=menu" title="Cerrar Sesión">
                                                <b>Cerrar sesión</b>
                                            </a>
                                        </li>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        <li>
                                            <a href="/Subscriptions/Create?showTechnicalErrors&ref=menu" title="Subscribirme">
                                                <b>Subscribirme</b>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Subscriptions/Login?showTechnicalErrors&ref=menu" title="Ingresar">
                                                <b>Ingresar</b>
                                            </a>
                                        </li>
                                    </text>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </text>
    }
    <div id="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div id="logo">
                        <a href="/?ref=logo" class="@Model.LogoClass"
                           title="@Model.Title">@Model.Title</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="row ultra-top">
                        <div class="col-sm-4 col-sm-push-8">
                            @if (Model.ShowSearch)
                            {
                                <form method="get" action="/Search" class="header-search">
                                    <input type="search" name="q" value="" placeholder="Buscar en @Model.Title" />
                                    <button><img src="/img/buscar-header.svg" alt="Buscar" title="Buscar" /></button>
                                </form>
                            }
                        </div>
                        <div class="col-sm-8 col-sm-pull-4">
                            <button type="button" class="navbar-toggle collapsed"
                                    data-toggle="collapse"
                                    data-target="#menu-colapsable">
                                <span class="glyphicon glyphicon-menu-hamburger"></span> Menú
                            </button>
                            <ul class="socialmedia-top-menu">
                                @if (Model.ShowTwitterLink)
                                {
                                    <li>
                                        <a href="@Model.TwitterLink" title="Seguinos en Twitter" target="_blank">
                                            <img src="/lib/simple-icons/icons/twitter.svg" alt="Seguinos en Twitter" title="Seguinos en Twitter" />
                                        </a>
                                    </li>
                                }
                                @if (Model.ShowFacebookLink)
                                {
                                    <li>
                                        <a href="@Model.FacebookLink" title="Seguinos en Facebook" target="_blank">
                                            <img src="/lib/simple-icons/icons/facebook.svg" alt="Seguinos en Facebook" title="Seguinos en Facebook" />
                                        </a>
                                    </li>
                                }
                                @if (Model.ShowInstagramLink)
                                {
                                    <li>
                                        <a href="@Model.InstagramLink" title="Seguinos en Instagram" target="_blank">
                                            <img src="/lib/simple-icons/icons/instagram.svg" alt="Seguinos en Instagram" title="Seguinos en Instagram" />
                                        </a>
                                    </li>
                                }
                                @if (Model.ShowLinkedinLink)
                                {
                                    <li>
                                        <a href="@Model.LinkedinLink" title="Seguinos en Linkedin" target="_blank">
                                            <img src="/lib/simple-icons/icons/linkedin.svg" alt="Seguinos en Linkedin" title="Seguinos en Linkedin" />
                                        </a>
                                    </li>
                                }
                                @if (Model.ShowYouTubeLink)
                                {
                                    <li>
                                        <a href="@Model.YoutubeLink" title="Seguinos en YouTube" target="_blank">
                                            <img src="/lib/simple-icons/icons/youtube.svg" alt="Seguinos en YouTube" title="Seguinos en YouTube" />
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row top-navbar">
                        @Html.Partial("header/_Menu", Model.MenuViewModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

