﻿@model Pixelario.CMS.Web.Models.Frontend.MenuViewModel
<nav class="navbar @Model.NavbarClass" role="navigation">
    <div class="collapse navbar-collapse" id="menu-colapsable">
        <ul class="nav navbar-nav">
            <li><a href="/" title="@Model.StartTitle">@Model.StartTitle</a></li>
            @Html.Partial("header/menu/_Pages", Model.PagesMenu)
            @Html.Partial("header/menu/_Especial_Editions", Model.EspecialEditionsMenu)
            @Html.Partial("header/menu/_Topics", Model.TopicsMenu)            
            <li><a href="/Contact?ref=menu" title="@Model.ContactTitle">@Model.ContactTitle</a></li>
        </ul>
    </div>
</nav>