﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Users.FormViewModel
<div class="form-group">
    <label for="UserName">Nombre de usuario:</label>
    <input type="text" value="@Model.UserName"  maxlength="256"
           placeholder="Nombre del usuario"
           class="form-control" name="UserName" id="UserName" required />
    <div class="invalid-feedback order-last">Ingrese el nombre del usuario.</div>

</div>
<div class="form-group">
    <label for="Email">Email:</label>
    <input type="email" value="@Model.Email"  maxlength="256"
           placeholder="Email del usuario"
           class="form-control" name="Email" id="Email" required />
    <div class="invalid-feedback order-last">Ingrese el email del usuario.</div>

</div>
<div class="form-group">
    <label for="Password">Password:</label>
    <input type="text" value="@Model.Password"
           placeholder="Password del usuario"  maxlength="10"
           class="form-control" name="Password" id="Password" required />
    <div class="invalid-feedback order-last">Ingrese el password del usuario.</div>

</div>