﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Users.FormViewModel
<div class="form-group">
    <label for="Password">Password:</label>
    <input type="password" value="@Model.Password" maxlength="10"
           placeholder="Nueva contraseña" autocomplete="new-password"
           class="form-control" name="Password" id="Password" required />
    <div class="invalid-feedback order-last">Ingrese la nueva contraseña.</div>
</div>
<div class="form-group">
    <label for="ConfirmPassword">Confirmar password:</label>
    <input type="password" value="@Model.ConfirmPassword" maxlength="10"
           placeholder="Confirmar nueva contraseña" autocomplete="new-password"
           class="form-control" name="ConfirmPassword" id="ConfirmPassword" required />
    <div class="invalid-feedback order-last">Confirme la nueva contraseña.</div>
</div>