﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Users.ComebackParametersViewModel
@if (Model.HasUserId)
{
    <text>
        <input type="hidden" name="UserId" value="@Model.UserId" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
