﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Users.FormViewModel
<div class="form-group">
    <label for="FirstName">Nombres:</label>
    <input type="text" value="@Model.FirstName" maxlength="128"
           placeholder="El nombre real del usuario"
           class="form-control" name="FirstName" id="FirstName" required />
    <div class="invalid-feedback order-last">Ingrese el nombre real del usuario.</div>
</div>
<div class="form-group">
    <label for="LastName">Apellido:</label>
    <input type="text" value="@Model.LastName" maxlength="128"
           placeholder="El apellido del usuario"
           class="form-control" name="LastName" id="LastName" required />
    <div class="invalid-feedback order-last">Ingrese el apellido del usuario.</div>
</div>