﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Users.FormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Nuevo usuario";
    if (Model.IsUpdate)
    {
        actionTitle = "Editar usuario";
    }
    else if (Model.IsMyProfile)
    {
        actionTitle = "Editar mi perfil";
    }
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
    var columns = Model.IsCreate ? "col-12" : "col-6";

}
@section Head
{
}
@section Sidebar
{
    @if (Model.IsMyProfile)
    {
        @Html.Partial("_SidebarContent")
    }
    else
    {
        @Html.Partial("_SidebarUsers")
    }
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            @if (!Model.IsMyProfile)
            {
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Model.BackButtonUrl" title="@Model.BackButtonTitle"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                    </ol>
                </div>
            }
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="@columns">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@actionTitle</h3>
                </div>
                @if (Model.IsCreate)
                {
                    <text>
                        <form action="/Admin/Users/Create" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            @Html.AntiForgeryToken()

                            <div class="card-body">
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)

                                @Html.Partial("_AccountInputs", Model)
                                @Html.Partial("_UserInputs", Model)

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </text>
                }
                else if (Model.IsUpdate)
                {
                    <text>
                        <form action="/Admin/Users/Update" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            @Html.AntiForgeryToken()                            
                            <div class="card-body">
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                @Html.Partial("_UserInputs", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </text>
                }
                else if (Model.IsMyProfile)
                {
                    <text>
                        <form action="/Admin/Users/MyProfile" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                @Html.Partial("_UserInputs", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </text>
                }
            </div>
        </div>
        @if (Model.IsUpdate)
        {
            <text>
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Foto de perfil</h3>
                        </div>
                        @if (!Model.HasPicture)
                        {
                            <text>
                                <form action="/Admin/Users/ChangePicture/" method="post"
                                      class="needs-validation" novalidate
                                      enctype="multipart/form-data" role="form">
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                        <div class="form-group">
                                            <label for="Image">Seleccione un archivo:</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                           lang="es" required
                                                           id="Image" name="Image" />
                                                    <label class="custom-file-label" for="Image"></label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text">Subir</button>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">Seleccione una imagen de tipo jpg o png</small>
                                        </div>

                                    </div>
                                </form>
                            </text>
                        }
                        else
                        {
                            <text>
                                <form action="/Admin/Users/RemovePicture/@Model.UserId" method="post"
                                      class="needs-validation" novalidate
                                      role="form">
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                        <img src="@Model.GetPicture("raw")" class="img-fluid" alt="Foto de perfil" title="Foto de perfil" />
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Quitar</button>

                                    </div>
                                </form>
                            </text>
                        }
                    </div>
                </div>
            </text>
        }
        else if (Model.IsMyProfile)
        {
            <text>
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Foto de mi perfil</h3>
                        </div>
                        @if (!Model.HasPicture)
                        {
                            <text>
                                <form action="/Admin/Users/ChangeMyPicture/" method="post"
                                      class="needs-validation" novalidate
                                      enctype="multipart/form-data" role="form">
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="Image">Seleccione un archivo:</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                           lang="es" required
                                                           id="Image" name="Image" />
                                                    <label class="custom-file-label" for="Image"></label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text">Subir</button>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">Seleccione una imagen de tipo jpg o png</small>
                                        </div>

                                    </div>
                                </form>
                            </text>
                        }
                        else
                        {
                            <text>
                                <form action="/Admin/Users/RemoveMyPicture" method="post"
                                      class="needs-validation" novalidate
                                      role="form">
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        <img src="@Model.GetPicture("raw")" class="img-fluid" alt="Foto de perfil" title="Foto de perfil" />
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Quitar</button>

                                    </div>
                                </form>
                            </text>
                        }
                    </div>
                </div>
            </text>
        }
    </div>
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert();
            $('[maxlength]').maxlength();
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}
