﻿@using Pixelario.CMS.Web.Models.Frontend;
@model EditionViewModel

<div class="informative-section">
    <div class="container">
        <h2><a href="@Model.URL?ref=home" title="@Model.Title">@Model.Title</a></h2>
        <ul class="row">
            @foreach (var article in Model.Articles)
            {
                if (!string.IsNullOrEmpty(article.HomeImage) &&
                       !string.IsNullOrEmpty(article.URL))
                {
                    <li class="col-sm-4">
                        <article>
                            @if ((article.Topics != null && article.Topics.Count > 0) ||
                            (article.SubTopics != null && article.SubTopics.Count > 0))
                            {
                                <header>
                                    @if (article.Topics != null && article.Topics.Count > 0)
                                    {
                                        foreach (var topic in article.Topics)
                                        {
                                            <a href="@topic.URL" title=">@topic.Title">@topic.Title</a>
                                        }
                                    }
                                    @if (article.SubTopics != null && article.SubTopics.Count > 0)
                                    {
                                        foreach (var subTopic in article.SubTopics)
                                        {
                                            <a href="@subTopic.URL" title=">@subTopic.Title">@subTopic.Title</a>
                                        }
                                    }
                                </header>
                            }
                            <figure>
                                <a href="@article.URL" title="@article.Title">
                                    <img src="@article.GetHorizontalImage("500")"
                                         alt="@article.Title" />
                                </a>
                            </figure>
                            <aside>
                                <h1><a href="@article.URL" title="@article.Title">@article.Title</a></h1>
                                <p>@article.Summary</p>
                            </aside>
                        </article>
                    </li>
                }
            }
        </ul>
    </div>
</div>


