﻿@using Pixelario.CMS.Web.Models.Frontend
@model List<ArticleViewModel>
<div id="slide-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="slide">
                    <div id="carousel-home" class="carousel slide" data-ride="carousel">
                        @{
                            int i = 0;
                        }
                        <ol class="carousel-indicators">
                            @foreach (var item in Model)
                            {
                                if (!string.IsNullOrEmpty(item.HomeImage) && !string.IsNullOrEmpty(item.VerticalImage))
                                {
                                    <li data-target="#carousel-home"
                                        data-slide-to="@i" @if (i == 0) { <text> class="active" </text> }></li>
                                    i++;
                                }
                            }
                        </ol>
                        @{
                            int j = 0;
                        }

                        <div class="carousel-inner" role="listbox">
                            @foreach (var item in Model)
                            {
                                if (!string.IsNullOrEmpty(item.HomeImage) && !string.IsNullOrEmpty(item.VerticalImage))
                                {
                                <div class="@string.Format("item{0}", j == 0 ? " active" : "")">
                                    <article class="@string.Format("{0}",item.HasLongTitle ? "e-article-long-title":"")">
                                        @if (item.SubTopics != null && item.SubTopics.Count > 0)
                                        {
                                            <header>
                                                @foreach (var subitem in item.SubTopics)
                                                {
                                                    <a href="@subitem.URL?ref=slide" title="@subitem.Title">@subitem.Title</a>
                                                }
                                            </header>
                                        }
                                        <figure>
                                            <a href="@item.URL?ref=slide" title="@item.Title">
                                                <img src="@item.GetSlideImage("700")" alt="@item.Title" title="@item.Title" class="hidden-xs" />
                                                <img src="@item.GetVerticalImage("425")" alt="@item.Title" title="@item.Title" class="hidden-sm hidden-md hidden-lg" />
                                            </a>
                                        </figure>
                                        <aside>
                                            <h1>
                                                <a href="@item.URL?ref=slide" title="@item.Title">@item.Title</a>
                                            </h1>
                                            <p>@item.Summary</p>
                                        </aside>
                                    </article>
                                </div>
                                    j++;
                                }
                            }
                        </div>
                        <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev" title="Anterior">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next" title="Siguiente">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="hr-slide" />
