﻿@model Pixelario.CMS.Web.Models.Home.ContactViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <meta name="description" content="@Model.Title" />
    <meta name="keywords" content="@Model.Keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:url" content="@string.Format("http://www.{0}/Contact",
                                    Model.GetConfiguration("website/info/domain"))" />
    <meta property="og:image" content="@string.Format("http://www.{0}/uploads/img/logo{1}",
            @Model.GetConfiguration("website/info/domain"),
            @Model.GetConfiguration("website/logo/file-extention"))">

    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

<div id="contact">
    <section>
        <ul class="breadcrumb">
            <li><h1>Contacto</h1></li>
            <li><span>Envíenos su consulta</span></li>
        </ul>
    </section>
    <div class="row">
        <div id="contact-error-list" class="alert-box">
            @if (TempData["errors"] != null)
            {
                var errorsList = (List<string>)TempData["errors"];
                <ul>
                    @foreach (var error in errorsList)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="row">
        <form action="@string.Format("/contact{0}",
                     Model.ShowTechnicalErrors ? "?showTechnicalErrors=true":"")" method="post"
              data-toggle="validator" role="form">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" name="Name" placeholder="Nombre y apellido"
                           class="form-control" value="@Model.Name"
                           required
                           minlength="4"
                           data-error="Debe ingresar su nombre y apellido.">
                </div>
                <div class="form-group">
                    <input type="text" name="Phone" placeholder="Teléfono"
                           class="form-control" value="@Model.Phone"
                           required
                           minlength="7"
                           data-error="Debe ingresar su número de teléfono.">
                </div>
                <div class="form-group">
                    <input type="email" name="Email" placeholder="E-mail"
                           class="form-control" value="@Model.Email"
                           required pattern="@("[^@\\s]+@[^@\\s]+\\.[^@\\s]+")"
                           data-error="Debe ingresar su correo electrónico.">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <textarea name="Comment" rows="6" cols="50"
                              placeholder="Mensaje" class="form-control"
                              required
                              minlength="4"
                              data-error="Debe ingresar un mensaje o comentario.">@Model.Comment</textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <input type="submit" value="ENVIAR" class="btn btn-primary pull-right">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>

</div>
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    @Html.Partial("_Scripts", Model.ScriptFlyers)
    <script src="lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(function () {
            $('#contact form').submit(function () {
                $(this).children('input[type=submit]').prop('disabled', true);
            });
            $('#contact form').validator({
                custom: {
                }
            }).on('submit', function (e) {
                if (!e.isDefaultPrevented()) {
                    $('#contact form input[type=submit]').prop('disabled', true);
                }
            });
            var errorArray = [];
            $('#contact form').on('invalid.bs.validator', function (e) {
                $.each(e.detail, function (index, value) {
                    errorArray.push(value);
                });
                refreshErrorList(errorArray);
            });
            $('#contact form').on('valid.bs.validator', function (e) {
                var newErrorArray = [];
                for (var i = 0; i < errorArray.length; i++) {
                    var text = errorArray[i];
                    if (text.localeCompare(e.detail) != 0) {
                        newErrorArray.push(text);
                    }
                }
                errorArray = newErrorArray;
                refreshErrorList(errorArray);
            });
            $('#cleanForm').click(function (e) {
                e.preventDefault();
                $.each($('#contact form input'), function () {
                    $(this).val('');
                });
                var form = $('#contact form')[0];
                $(form).removeClass('was-validated');
                form.reset();
                errorArray = [];
                refreshErrorList(errorArray);
            });
        });
        var refreshErrorList = function (array) {
            if (array.length > 0) {
                $('#contact-error-list').html("<ul></ul>").show();
                $.each(array, function (i) {
                    $('#contact-error-list ul').append('<li>' + array[i] + '</li>')
                })
            }
            else {
                $('#contact-error-list').html("").hide();
            }
        }
    </script>
}
