﻿@model Pixelario.CMS.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Inicio";
}
@section head
{
    <meta name="description" content="@Model.GetConfiguration("website/info/description")">
    <meta name="keywords" content="@Model.GetConfiguration("website/info/keywords")">
    <meta property="og:type" content="website" />
    <meta name="og:title" content="@Model.GetConfiguration("website/info/name")">
    <meta name="og:description" content="@Model.GetConfiguration("website/info/description")">
    <meta property="og:image" content="@string.Format("http://www.{0}/uploads/img/logo{1}",
            @Model.GetConfiguration("website/info/domain"),
            @Model.GetConfiguration("website/logo/file-extention"))">
    <meta property="og:url" content="http://www.@Model.GetConfiguration("website/info/domain")/">
    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

@section slider
{
    @Html.Partial("_Slider", Model.ArticlesAtSlider)
}
@if (Model.News != null && Model.News.Count() > 0)
{
    @Html.Partial("_Central_Columns", Model.News)
}
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section middle
{
    @if (Model.InformativeEditions != null && Model.InformativeEditions.Count > 0)
    {
        foreach (var edition in Model.InformativeEditions)
        {
            @Html.Partial("_Informative_Section", edition)

        }
    }
}
@section script
{
    @Html.Partial("_Scripts", Model.ScriptFlyers)
}
