﻿@model Pixelario.CMS.Web.Models.Home.SearchViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="lib/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <meta name="description" content="@Model.Title" />
    <meta name="keywords" content="@Model.Q" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Q" />

    <meta property="og:url" content="@string.Format("http://www.{0}/Search?q={1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.Q)" />
    <meta property="og:image" content="@string.Format("http://www.{0}/uploads/img/logo{1}",
            @Model.GetConfiguration("website/info/domain"),
            @Model.GetConfiguration("website/logo/file-extention"))">

    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

<div id="search">
    <section class="e-search-form">
        <form method="get" action="/search"
              data-toggle="validator" role="form">
            <div id="error-list" class="row" style="display:none;">

            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   value="@Model.Q"
                                   name="q"
                                   placeholder="Buscar..."
                                   required
                                   minlength="4"
                                   data-error="Debe ingresar un texto de mas de 4 carácteres">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class=" input-group date">
                            <input type="text" id="fromDate"
                                   value="@Model.FromDate" name="fromDate"
                                   data-fromdate="#toDate"
                                   class="form-control"
                                   placeholder="Desde" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group date">
                            <input type="text" id="toDate"
                                   value="@Model.ToDate" name="toDate"
                                   data-comparedate="#fromDate"
                                   class="form-control" placeholder="Hasta" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <button class="btn btn-default" type="submit">Buscar</button><button id="cleanForm" class="btn btn-link">Limpiar búsqueda</button>

                </div>
            </div>
        </form>
        <div class="row">
            <p>
                @if (Model.ArticlesList != null)
                {
                    if (Model.ArticlesList.TotalCount == 1)
                    {
                        <text>Se encontró <strong>1 resultado</strong></text>
                    }
                    else
                    {
                        <text>Se encontraron <strong>@Model.ArticlesList.TotalCount resultados</strong></text>

                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.Q))
                    {
                        <text>No se encontró ningún resultado</text>
                    }
                    else
                    {
                        <text>No se realizó ninguna búsqueda</text>
                    }
                }
            </p>

        </div>
    </section>
    @if (Model.ArticlesList != null)
    {
        @Html.Partial("sequences/_Atomic-Article-List", Model.ArticlesList)
    }
</div>
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    @Html.Partial("_Scripts", Model.ScriptFlyers)
    <script src="lib/moment.js/moment.min.js"></script>
    <script src="lib/moment.js/locale/es.js"></script>
    <script src="lib/1000hz-bootstrap-validator/validator.js"></script>
    <script src="lib/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('#search .date').datetimepicker({
                useCurrent: false,
                showClear: true,
                showClose: true,
                format: 'L',
                locale: 'es'
            });
            $('#search form').validator({
                custom: {
                    fromdate: function ($el) {
                        if ($el.val().length > 0) {
                            var dateElements = $el.val().split('/');
                            var fromDate = new Date(dateElements[2], dateElements[1] - 1, dateElements[0]);
                            var today = new Date();
                            if (fromDate > today) {
                                return "La fecha \"desde\" no puede ser mayor a hoy.";
                            }
                        }
                        var elToCompare = $el.data("fromdate");
                        $(elToCompare).trigger('input');
                    },
                    comparedate: function ($el) {
                        if ($el.val().length > 0) {
                            var toDateElements = $el.val().split('/');
                            var toDate = new Date(toDateElements[2], toDateElements[1] - 1, toDateElements[0]);
                            var elToCompare = $el.data("comparedate");
                            if ($(elToCompare).val().length > 0) {
                                var fromDateElements = $(elToCompare).val().split('/');
                                var fromDate = new Date(fromDateElements[2], fromDateElements[1] - 1, fromDateElements[0]);
                                if (fromDate > toDate) {
                                    return "La fecha \"hasta\" no puede ser menor que la fecha \"desde\" ni mayor a hoy.";
                                }
                            }
                            var today = new Date();
                            if (toDate > today) {
                                return "La fecha \"hasta\" no puede ser menor que la fecha \"desde\" ni mayor a hoy.";
                            }
                        }
                    },
                    todate: function ($el) {
                        if ($el.val().length > 0) {
                            var toDateElements = $el.val().split('/');
                            var toDate = new Date(toDateElements[2], toDateElements[1] - 1, toDateElements[0]);
                            var today = new Date();
                            if (toDate > today) {
                                return "La fecha \"hasta\" no puede ser mayor a hoy.";
                            }
                        }
                    }
                }
            });
            var errorArray = [];
            $('#search form').on('invalid.bs.validator', function (e) {
                $.each(e.detail, function (index, value) {
                    errorArray.push(value);
                });
                refreshErrorList(errorArray);
            });
            $('#search form').on('valid.bs.validator', function (e) {
                var newErrorArray = [];
                for (var i = 0; i < errorArray.length; i++) {
                    var text = errorArray[i];
                    if (text.localeCompare(e.detail) != 0) {
                        newErrorArray.push(text);
                    }
                }
                errorArray = newErrorArray;
                refreshErrorList(errorArray);
            });
            $('#cleanForm').click(function (e) {
                e.preventDefault();
                $.each($('#search form input'), function () {
                    $(this).val('');
                });
                var form = $('#search form')[0];
                $(form).removeClass('was-validated');
                form.reset();
                errorArray = [];
                refreshErrorList(errorArray);
            });
        });
        var refreshErrorList = function (array) {
            if (array.length > 0) {
                $('#error-list').html("<ul></ul>").show();
                $.each(array, function (i) {
                    $('#error-list ul').append('<li>' + array[i] + '</li>')
                })
            }
            else {
                $('#error-list').html("").hide();
            }
        }
    </script>
}
