﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Subscriptions.Constraints.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Listado de restricciones de {0}", Model.Plan.Title);
    ViewBag.Title = string.Format("{0} - Administrador de subscripciones - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
}
@section Sidebar
{
    @Html.Partial("_SidebarSubscriptions")

}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div><div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Plans?pageNumber=@Model.PageNumber&pageSize=@Model.PageSize"><small class="fa fa-arrow-left"></small> Listado de planes</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            @*<div class="float-lg-right">
                                    <a href="/Admin/Constraints/Create/@Model.Plan.IDPlan" title="Nueva configuración"
                                       class="btn btn-tools" data-toggle="tooltip">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>*@
                        </div>
                    </div>
                </div>
                @if (Model.Constraints != null && Model.Constraints.Count() > 0)
                {
                    <text>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><small>ID</small></th>
                                        <th><small>Tipo</small></th>
                                        <th><small>Entidad</small></th>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <th><small>Borrar</small></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Constraints)
                                    {
                                        <tr>
                                            <td class="align-middle text-right"><small>@item.IDConstraint</small></td>
                                            <td class="align-middle"><small>@item.ConstraintType.Title</small></td>
                                            <td class="align-middle"><small>@item.ConstrainedTitle</small></td>
                                            <td class="align-middle text-center">
                                                <a href="@item.EditUrl" title="Editar @item.ConstrainedTitle" class="btn" data-toggle="tooltip">
                                                    <i class="fa fa-pen"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <text>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item @if (Model.PageNumber == 1)
                                        {<text>disabled</text> }"><a class="page-link" href="/Admin/Constraints/Index/@Model.Plan.IDPlan?pageNumber=1&pageSize=@Model.PageSize"><i class="fa fa-step-backward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == 1)
                                        {<text>disabled</text> }"><a class="page-link" href="/Admin/Constraints/Index/@Model.Plan.IDPlan?pageNumber=@Model.BackPage&pageSize=@Model.PageSize"><i class="fa fa-backward"></i></a></li>
                                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                        {
                                            if (i == Model.PageNumber)
                                            {
                                                <text>
                                                    <li class="page-item active"><a class="page-link" href="#">@i</a></li>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <li class="page-item"><a class="page-link" href="/Admin/Constraints/Index/@Model.Plan.IDPlan?pageNumber=@i&pageSize=@Model.PageSize" title="Página @i">@i</a></li>
                                                </text>
                                            }
                                        }
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount)
                                        {<text>disabled</text> }"><a class="page-link" href="/Admin/Constraints/Index/@Model.Plan.IDPlan?pageNumber=@Model.NextPage&pageSize=@Model.PageSize"><i class="fa fa-forward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount)
                                        {<text>disabled</text> }"><a class="page-link" href="/Admin/Constraints/Index/@Model.Plan.IDPlan?pageNumber=@Model.PageCount&pageSize=@Model.PageSize"><i class="fa fa-step-forward"></i></a></li>

                                    </ul>
                                </div>
                            </text>
                        }

                    </text>
                }
                else
                {
                    <text>
                        <div class="card-footer clearfix">
                            No hay restricciones en la Base de datos.
                        </div>
                    </text>

                }
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}
