﻿@using Pixelario.CMS.Domain.Commons;
@model Pixelario.CMS.Web.Areas.Admin.Models.HomeSettings.ConfigurationsViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Configuraciones de Inicio";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/icheck-bootstrap/icheck-bootstrap.min.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">



        @if (Model.ConfigurationsLists.Count() > 0)
        {
            foreach (var list in Model.ConfigurationsLists)
            {
                if (list.Configurations.Count(c =>
                    c.ConfigurationType != ConfigurationType.Image &&
                    c.ConfigurationType != ConfigurationType.File &&
                    c.ConfigurationType != ConfigurationType.EnumerationValue &&
                    c.ConfigurationType != ConfigurationType.EnumerationClass) > 0)
                {
                    <text>
                        <div class="col-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">@list.Section</h3>
                                </div>
                                <form action="/Admin/HomeSettings/Configurations" method="post"
                                      class="needs-validation" novalidate
                                      role="form">
                                    <input type="hidden" name="section" value="@list.Section" />
                                    @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)

                                    <div class="card-body">
                                        @foreach (var item in list.Configurations.Where(c =>
                                        c.ConfigurationType != ConfigurationType.Image &&
                                        c.ConfigurationType != ConfigurationType.File &&
c.ConfigurationType != ConfigurationType.EnumerationClass &&
c.ConfigurationType != ConfigurationType.EnumerationValue))
                                        {

                                            switch (item.ConfigurationType)
                                            {
                                                case ConfigurationType.BoolOption:
                                                    <input type="hidden" name="@item.Setting" value="!checkbox" />
                                                    <div class="icheck-primary">
                                                        <input type="checkbox" name="@item.Setting" id="@item.InputTagID"
                                                               @if (item.State == "on") { <text> checked</text>} /> <label for="@item.InputTagID">
                                                            @item.Title
                                                        </label>
                                                    </div>
                                                    break;
                                                case ConfigurationType.AreaText:
                                                    <div class="form-group">
                                                        <label for="@item.InputTagID">@item.Title:</label>
                                                        <textarea class="form-control" name="@item.Setting" id="@item.InputTagID" maxlength="255">@item.State</textarea>
                                                    </div>
                                                    break;
                                                case ConfigurationType.LineText:
                                                    <div class="form-group">
                                                        <label for="@item.InputTagID">@item.Title:</label>
                                                        <input type="text" class="form-control" name="@item.Setting" id="@item.InputTagID" value="@item.State" maxlength="255" />
                                                    </div>
                                                    break;
                                                case ConfigurationType.MaskedText:
                                                    <label for="@item.InputTagID">@item.Title:</label>
                                                    if (!string.IsNullOrEmpty(item.State))
                                                    {
                                                        var spaces = "";
                                                        for (int i = 0; i < item.State.Length; i++)
                                                        {
                                                            spaces += " ";
                                                        }
                                                        <input type="password" class="withMaskedText"
                                                               value="@spaces" disabled
                                                               id="desabled-@item.Setting" />
                                                        <input type="password" class="withMaskedText" disabled style="display:none;"
                                                               id="input-@item.Setting" name="@item.Setting" maxlength="255" />
                                                        <a id="change-@item.Setting" href="javascript:void(0)" onclick="enableInput('@item.Setting');">Cambiar</a>
                                                        <a id="cancel-@item.Setting" href="javascript:void(0)" onclick="disableInput('@item.Setting', '@spaces');" style="display:none;">Cancelar</a>
                                                    }
                                                    else
                                                    {
                                                        <input type="password" name="@item.Setting" id="@item.InputTagID" maxlength="255" />

                                                    }
                                                    break;
                                            }
                                        }

                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </text>

                }
                if (list.Configurations.Count(c =>
                    c.ConfigurationType == ConfigurationType.Image ||
                    c.ConfigurationType == ConfigurationType.File ||
                    c.ConfigurationType == ConfigurationType.EnumerationClass) > 0)
                {
                    foreach (var item in list.Configurations.Where(c => c.ConfigurationType == ConfigurationType.Image))
                    {
                        <text>
                            <div class="col-6">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">@list.Section</h3>
                                    </div>
                                    <form action="/Admin/HomeSettings/UploadImage" method="post"
                                          class="needs-validation" novalidate
                                          enctype="multipart/form-data" role="form">
                                        <input type="hidden" name="section" value="@list.Section" />
                                        <input type="hidden" name="Setting" value="@item.Setting" />
                                        @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)

                                        <div class="card-body">
                                            @if (!string.IsNullOrEmpty(item.State))
                                            {
                                                <text>
                                                    <img src="@item.State" class="img-fluid" alt="" title="" />
                                                </text>
                                            }
                                            <div class="form-group">
                                                <label for="@item.InputTagID">Seleccione un archivo:</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input"
                                                               lang="es" required
                                                               id="@item.InputTagID" name="Image" />
                                                        <label class="custom-file-label" for="Image"></label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="input-group-text">Subir</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </text>
                    }
                    foreach (var item in list.Configurations.Where(c => c.ConfigurationType == ConfigurationType.File))
                    {
                        <text>
                            <div class="col-6">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">@list.Section</h3>
                                    </div>
                                    <form action="/Admin/HomeSettings/UploadFile" method="post"
                                          class="needs-validation" novalidate
                                          enctype="multipart/form-data" role="form">
                                        <input type="hidden" name="section" value="@list.Section" />
                                        <input type="hidden" name="Setting" value="@item.Setting" />
                                        @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)

                                        <div class="card-body">
                                            @if (!string.IsNullOrEmpty(item.State))
                                            {
                                                <text>

                                                    <a href="@item.State" class="btn btn-link" target="_blank" title="">Ver archivo actual</a>
                                                </text>
                                            }
                                            <div class="form-group">
                                                <label for="@item.InputTagID">Seleccione un archivo:</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input"
                                                               lang="es" required
                                                               id="@item.InputTagID" name="File" />
                                                        <label class="custom-file-label" for="File"></label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="input-group-text">Subir</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>

                        </text>
                    }
                    foreach (var item in list.Configurations.Where(c => c.ConfigurationType == ConfigurationType.EnumerationClass))
                    {
                        <text>

                        </text>
                    }
                }
            }
        }
        else
        {
            <text>
                <p>
                    No hay configuraciones disponibles.
                </p>
            </text>
        }

    </div>
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert();
            $('[maxlength]').maxlength();
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

    <script>
        var enableInput = function (setting) {
            $('#change-' + setting).hide();
            $('#cancel-' + setting).show();
            $('#desabled-' + setting).hide();
            $('#input-' + setting).removeAttr('disabled');
            $('#input-' + setting).show();
        };
        var disableInput = function (setting, space) {
            $('#desabled-' + setting).show();
            $('#input-' + setting).attr('disabled', 'disabled');
            $('#input-' + setting).hide();
            $('#cancel-' + setting).hide();
            $('#change-' + setting).show();
        };
    </script>
}
