﻿@model Pixelario.CMS.Web.Areas.Admin.Models.SocialMediaSettings.ComebackParametersViewModel
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="Columns" value="@Model.Columns" />
