﻿@model IEnumerable<Pixelario.CMS.Web.Areas.Admin.Models.Editions.PlanAdminModel>
@foreach (var plan in Model)
{
    <div class="icheck-primary">
        <input type="checkbox" name="Plans" id="plan-@plan.IDPlan"
               @if (plan.Selected) { <text> checked</text>
                               }
               value="@plan.IDPlan" />
        <label for="plan-@plan.IDPlan">
            @plan.Title
        </label>
    </div>
}

