﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Editions.FormViewModel
<div class="form-group">
    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title"
           placeholder="Título de la edición"  maxlength="128"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título de la edición.</div>
</div>
<div class="form-group">
    <label for="Summary">Sumario:</label>
    <textarea class="form-control" name="Summary" id="Summary" required
              maxlength="4000"
              placeholder="Sumario descriptivo de la edición">@Model.Summary</textarea>
    <div class="invalid-feedback order-last">Ingrese el sumario de la edición.</div>
</div>
<div class="form-group">
    <label for="Keywords">Keywords:</label>
    <input type="text" value="@Model.Keywords" required
           placeholder="Palabras claves de la edición"
           maxlength="256"
           class="form-control" name="Keywords" id="Keywords" />
    <div class="invalid-feedback order-last">Ingrese al menos una keyword.</div>
</div>
