﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Editions.PageComebackParametersViewModel
@if (Model.HasIDPage)
{
    <text>
        <input type="hidden" name="IDPage" value="@Model.IDPage" />
    </text>
}
<input type="hidden" name="IDEdition" value="@Model.IDEdition" />
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="EditionPageNumber" value="@Model.EditionPageNumber" />
<input type="hidden" name="EditionPageSize" value="@Model.EditionPageSize" />
<input type="hidden" name="EditionColumns" value="@Model.EditionColumns" />
