﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Editions.ComebackParametersViewModel
@if(Model.HasIDEdition)
{
    <text>
    <input type="hidden" name="IDEdition" value="@Model.IDEdition" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="Columns" value="@Model.Columns" />
