﻿@using Pixelario.CMS.Domain.Commons;
@model Pixelario.CMS.Web.Areas.Admin.Models.Editions.ConfigurationsViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Configuraciones de contenidos";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}", Model.AppName, actionTitle);
}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/icheck-bootstrap/icheck-bootstrap.min.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }

    @if (Model.ConfigurationsLists.Count() > 0)
    {
        <text>
            <div class="row">
                @foreach (var list in Model.ConfigurationsLists)
                {
                    if (list.Configurations != null && list.Configurations.Count > 0)
                    {
                        <text>
                            <div class="col-6">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">@list.Section</h3>
                                    </div>
                                    <form action="/Admin/Editions/Configurations" method="post"
                                          class="needs-validation" novalidate
                                          role="form">
                                        <div class="card-body">
                                            <input type="hidden" name="section" value="@list.Section" />
                                            @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                            @foreach (var item in list.Configurations)
                                            {

                                                switch (item.ConfigurationType)
                                                {
                                                    case ConfigurationType.BoolOption:
                                                        <input type="hidden" name="@item.Setting" value="!checkbox" />
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" name="@item.Setting" id="@item.InputTagID"
                                                                   @if (item.State == "on") { <text> checked</text>} /> <label for="@item.InputTagID">
                                                                @item.Title
                                                            </label>
                                                        </div>


                                                        break;
                                                    case ConfigurationType.AreaText:
                                                        <div class="form-group">
                                                            <label for="@item.Setting">@item.Title:</label>
                                                            <textarea name="@item.Setting" id="@item.Setting" class="form-control" maxlength="255">@item.State</textarea>
                                                        </div>
                                                        break;
                                                    case ConfigurationType.LineText:
                                                    default:
                                                        <div class="form-group">
                                                            <label for="@item.Setting">@item.Title:</label>
                                                            <input type="text" name="@item.Setting" id="@item.Setting" value="@item.State" class="form-control" maxlength="255" />
                                                        </div>
                                                        break;
                                                }
                                            }

                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </text>
                    }
                }
            </div>
        </text>
    }
    else
    {
        <text>
            <p>
                No hay configuraciones disponibles.
            </p>
        </text>
    }
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert();
            $('[maxlength]').maxlength();
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}
