﻿@using Pixelario.CMS.Domain.AggregatesModel.Editions
@model Pixelario.CMS.Web.Areas.Admin.Models.Editions.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Listado de contenidos";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);

}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
        </div>
    </div>
}
<div class="container-fluid">

    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    @if (User.IsInRole("Super Administrador"))
                    {
                        <div class="card-tools float-lg-right">
                            <a href="@Model.NewButtonHref" title="@Model.NewButtonTitle"
                               class="btn btn-tools comeback" data-toggle="tooltip">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="card-tools float-lg-right">
                            <a href="@Model.ConfigurationButtonHref" title="@Model.ConfigurationButtonTitle"
                               class="btn btn-tools comeback" data-toggle="tooltip">
                                <i class="fa fa-cog"></i>
                            </a>

                        </div>
                        <div class="card-tools float-lg-right">
                            <a href="@Model.ArticleScriptButtonHref" title="@Model.ArticleScriptButtonTitle"
                               class="btn btn-tools comeback" data-toggle="tooltip">
                                <i class="fas fa-puzzle-piece"></i>
                            </a>
                        </div>
                        <div class="card-tools float-lg-right">
                            <a href="@Model.WebsiteConfigurationButtonHref" title="@Model.WebsiteConfigurationButtonTitle"
                               class="btn btn-tools comeback" data-toggle="tooltip">
                                <i class="fa fa-globe-americas"></i>
                            </a>
                        </div>
                    }
                    <div class="card-tools float-lg-right">
                        <a href="@Model.HomeSettingsButtonHref" title="@Model.HomeSettingsButtonTitle"
                           class="btn btn-tools comeback" data-toggle="tooltip">
                            <i class="fas fa-warehouse"></i>
                        </a>
                    </div>
                    <div class="card-tools float-lg-right">
                        <a href="@Model.SocialMediaSettingsButtonHref" title="@Model.SocialMediaSettingsButtonTitle"
                           class="btn btn-tools comeback" data-toggle="tooltip">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                    <div class="card-tools float-lg-right">
                        <a href="@Model.ContactSettingsButtonHref" title="@Model.ContactSettingsButtonTitle"
                           class="btn btn-tools comeback" data-toggle="tooltip">
                            <i class="fas fa-mail-bulk"></i>
                        </a>
                    </div>
                </div>

                @if (Model.Editions != null && Model.Editions.Count() > 0)
                {
                    <div class="card-body">
                        <table id="table" class="table" data-toggle="table" data-show-columns="true">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" class="align-middle" data-switchable="false"><small>ID</small></th>
                                    <th rowspan="2" class="align-middle" data-switchable="false"><small>Título</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("2")><small>Páginas</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("3")><small>Multimedios</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("4")><small>Ítems</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("5")><small>Tipo</small></th>
                                    <th colspan="2" class="text-center"><small>Menú</small></th>
                                    <th colspan="2" class="text-center"><small>Inicio</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("10")><small>Habilitado</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("11")><small>Editar</small></th>
                                    @if (User.IsInRole("Super Administrador"))
                                    {
                                        <th rowspan="2" class="align-middle" @Model.ColumnVisible("12")><small>Borrar</small></th>
                                    }
                                </tr>
                                <tr>
                                    <th @Model.ColumnVisible("6", false) data-title="<small>Orden en el menú</small>"><small>Orden</small></th>
                                    <th @Model.ColumnVisible("7", false)><small>Menú</small></th>

                                    <th @Model.ColumnVisible("8", false) data-title="<small>Orden en inicio</small>"><small>Orden</small></th>
                                    <th @Model.ColumnVisible("9", false)><small>Portada</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Editions)
                                {
                                    var index = Model.Editions.IndexOf(item);
                                    <tr>
                                        <td class="align-middle text-right">
                                            <small>@item.IDEdition</small>
                                        </td>
                                        <td class="align-middle"><small>@item.Title</small></td>
                                        <td class="align-middle text-center">
                                            <a href="@item.PagesLinkURL(Model.ComebackParameters)" class="btn editioncomeback"
                                               data-toggle="tooltip" title="@item.PagesLinkTitle">
                                                <i class="far fa-file"></i>
                                            </a>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="@item.MultimediaLinkURL(Model.ComebackParameters)" class="btn comeback"
                                               data-toggle="tooltip" title="@item.MultimediaLinkTitle">
                                                <i class="fa fa-file-image"></i>
                                            </a>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="@item.ItemLinkURL(Model.ComebackParameters)" title="@item.ItemLinkTitle"
                                               data-toggle="tooltip" class="btn editioncomeback">
                                                <i class="fa fa-file"></i>
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <form action="/Admin/Editions/ChangeEditionType" role="form"
                                                  id="EditionType-@item.IDEdition" method="post"
                                                  class="edition-type">
                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDEdition))
                                                <div class="form-group mb-0">
                                                    <select name="EditionType" class="form-control-sm "
                                                            data-toggle="tooltip" title="Cambiar tipo de edición">
                                                        @foreach (var editionType in EditionType.List())
                                                        {
                                                            <text>
                                                                <option value="@editionType.Id"
                                                                        @if (editionType.Id == item.EditionType.Id) { <text> selected="selected" </text> }>
                                                                    @editionType.Name
                                                                </option>
                                                            </text>
                                                        }
                                                    </select>
                                                </div>
                                            </form>

                                        </td>
                                        <td class="align-middle">
                                            @if (item.Enabled && item.OnMenu &&
                                            (item.EditionType == EditionType.Especial_Content ||
                                                item.EditionType == EditionType.Information))
                                            {
                                            <form class="needs-validation" novalidate style="max-width:10rem;"
                                                  action="/Admin/Editions/ChangeOnMenuOrder" method="post"
                                                  role="form">
                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDEdition))
                                                <div class="input-group input-group-sm">
                                                    <input type="number" min="1" required
                                                           class="form-control" name="Order" value="@item.OrderAtMenu" />
                                                    <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-info btn-flat"
                                                                data-toggle="tooltip" title="Cambiar el orden del menú">
                                                            Cambiar
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            @if (item.Enabled && 
                                                (item.EditionType == EditionType.Especial_Content ||
                                                item.EditionType == EditionType.Information))
                                            {
                                            <form action="/Admin/Editions/ToMenu" role="form" method="post">
                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDEdition))
                                                <button class="btn" onclick="@item.OnMenuButtonOnClick" data-toggle="tooltip"
                                                        title="@item.OnMenuButtonTitle">
                                                    <i class="fa @item.OnMenuButtonClass"></i>
                                                </button>
                                            </form>
                                            }
                                        </td>
                                        <td class="align-middle">
                                            @if (item.Enabled && item.AtHome &&
                                                item.EditionType != EditionType.None)
                                            {
                                            <form class="needs-validation" novalidate style="max-width:10rem;"
                                                  action="/Admin/Editions/ChangeHomeOrder" method="post"
                                                  role="form">
                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDEdition))
                                                <div class="input-group input-group-sm">
                                                    <input type="number" min="1" required
                                                           class="form-control" name="Order" value="@item.Order" />
                                                    <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-info btn-flat"
                                                                data-toggle="tooltip" title="Cambiar el orden de la edición">
                                                            Cambiar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            @if (item.Enabled)
                                            {
                                            <form action="/Admin/Editions/ToHome" role="form" method="post">
                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDEdition))
                                                <button class="btn" onclick="@item.AtHomeButtonOnClick" data-toggle="tooltip"
                                                        title="@item.AtHomeButtonTitle">
                                                    <i class="fa @item.AtHomeButtonClass"></i>
                                                </button>
                                            </form>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            <form action="/Admin/Editions/Enable"
                                                  role="form" method="post">
                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDEdition))
                                                <button class="btn" onclick="@item.EnabledButtonOnClick" data-toggle="tooltip"
                                                        title="@item.EnableButtonTitle">
                                                    <i class="fa @item.EnableButtonClass"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="@item.UpdateLinkURL(Model.ComebackParameters)"
                                               title="@item.UpdateLinkTitle" class="btn comeback" data-toggle="tooltip">
                                                <i class="fa fa-pen"></i>
                                            </a>
                                        </td>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <td class="align-middle text-center">
                                                <form action="/Admin/Editions/Delete" method="post"
                                                      role="form">
                                                    @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDEdition))
                                                    <input type="hidden" name="Columns" value="@Model.Columns" />
                                                    <button class="btn" data-toggle="tooltip"
                                                            title="Borrar contenido"
                                                            onclick="@item.DeleteButtonOnClick">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    if (Model.PageCount > 1)
                    {
                        <text>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (i == Model.PageNumber)
                                        {
                                            <text>
                                                <li class="page-item"><a href="#">@i</a></li>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <li class="page-item"><a class="page-link" href="/Admin/Editions/Index?pageNumber=@i&pageSize=@Model.PageSize">@i</a></li>
                                            </text>
                                        }
                                    }
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>

                        </text>
                    }

                }
                else
                {
                    <div class="card-body">
                        <p>
                            No hay contenidos en la base de datos.
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{

    <script src="/Areas/Admin/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script>
        $(function () {

            $('.edition-type select').change(function () {
                var form = $(this).parents('form:first');
                if (form != null)
                    form.submit();
            });
            $('#table').on('column-switch.bs.table', function (e, field, checked) {
                var fields = $('#table').bootstrapTable('getVisibleColumns').map(function (it) {
                    return it.field
                });
                $('input[name="Columns"]').val(fields);
                $('.card a.comeback').each(function () {
                    var oldUrl = $(this).attr('href');
                    var newUrl = "";
                    if (oldUrl.indexOf("&columns=") >= 0 || oldUrl.indexOf("?columns=") >= 0) 
                        newUrl = updateURLParameter(oldUrl, "columns", fields);
                    else if (oldUrl.indexOf("?") >= 0)
                        newUrl = oldUrl + "&columns=" + fields;
                    else 
                        newUrl = oldUrl + "?columns=" + fields;                    
                    $(this).attr('href', newUrl);
                });

                $('.card a.editioncomeback').each(function () {
                    var oldUrl = $(this).attr('href');
                    var newUrl = "";
                    if (oldUrl.indexOf("&editionColumns=") >= 0 || oldUrl.indexOf("?editionColumns=") >= 0) 
                        newUrl = updateURLParameter(oldUrl, "editionColumns", fields);
                    else if (oldUrl.indexOf("?") >= 0)
                        newUrl = oldUrl + "&editionColumns=" + fields;
                    else 
                        newUrl = oldUrl + "?editionColumns=" + fields;                    
                    $(this).attr('href', newUrl);
                });
                $('.edition-type select').change(function () {
                    var form = $(this).parents('form:first');
                    if (form != null)
                        form.submit();
                });
            });        
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        var updateURLParameter = function (url, param, paramVal){
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";
            if (additionalURL) {
                tempArray = additionalURL.split("&");
                for (var i=0; i<tempArray.length; i++){
                    if(tempArray[i].split('=')[0] != param){
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }
            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }
    </script>
}
