﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Editions.PagesViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Listado de paginas de \"{0}\"", Model.Edition.Title);
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div><div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools float-lg-right">
                        <div class="card-tools float-lg-right">
                            <a href="@Model.CreatePageButtonLink" title="@Model.CreatePageButtonTitle"
                               class="btn btn-tools" data-toggle="tooltip">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="card-tools float-lg-right">
                            <a href="@Model.ConfigurationButtonLink" title="@Model.ConfigurationButtonTitle"
                               class="btn btn-tools" data-toggle="tooltip">
                                <i class="fa fa-cog"></i>
                            </a>
                        </div>
                    </div>
                </div>

                @if (Model.Pages != null && Model.Pages.Count() > 0)
                {
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="4"></th>
                                    <th class="text-center" colspan="2"><small>Menú</small></th>
                                    <th colspan="@if (User.IsInRole("Super Administrador"))
                                    {<text>3</text>} else {<text>2</text> }"></th>
                                </tr>
                                <tr>
                                    <th><small>ID</small></th>
                                    <th><small>Título</small></th>
                                    <th><small>Preview</small></th>
                                    <th><small>Multimedios</small></th>
                                    <th><small>Orden</small></th>
                                    <th><small>Agregar</small></th>
                                    <th><small>Habilitado</small></th>
                                    <th><small>Editar</small></th>
                                    @if (User.IsInRole("Super Administrador"))
                                    {
                                        <th><small>Borrar</small></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Pages)
                                {
                                    <tr>
                                        <td class="align-middle text-right"><small>@item.IDPage</small></td>
                                        <td class="align-middle"><small>@item.Title</small></td>
                                        <td class="align-middle text-center">
                                            <a href="@item.PreviewURL" target="_blank"
                                               title="Preview" class="btn" data-toggle="tooltip">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="@item.MultimediaLinkURL(Model.EditionComebackParameters)"
                                               class="btn" data-toggle="tooltip" title="@item.MultimediaLinkTitle">
                                                <i class="fa fa-file-image"></i>
                                            </a>
                                            <a href="@item.DocumentsLinkURL(Model.EditionComebackParameters)"
                                               class="btn" data-toggle="tooltip" title="@item.DocumentsLinkTitle">
                                                <i class="fa fa-file"></i>
                                            </a>
                                            <a href="@item.WidgetsLinkURL(Model.EditionComebackParameters)"
                                               class="btn" data-toggle="tooltip" title="@item.WidgetsLinkTitle">
                                                <i class="fa fa-photo-video"></i>
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            @if (item.Enabled && item.OnMenu)
                                            {
                                                <text>
                                                    <form id="OrderAtMenu-@(item.IDPage)" action="/Admin/Pages/OrderAtMenu"
                                                          class="needs-validation" novalidate style="max-width:10rem;"
                                                          method="post" role="form">
                                                        @Html.Partial("_PagesRowHiddenInputs", Model.GetComebackParameters(item.IDPage))
                                                        <div class="input-group input-group-sm">
                                                            <input type="number" min="1" required
                                                                   class="form-control" name="Order" value="@item.OrderAtMenu" />
                                                            <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-info btn-flat"
                                                                        data-toggle="tooltip" title="Cambiar el orden de la página">
                                                                    Cambiar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </text>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            @if (item.Enabled)
                                            {
                                                <text>
                                                    <form action="/Admin/Pages/ToMenu"
                                                          role="form" method="post">
                                                        @Html.Partial("_PagesRowHiddenInputs", Model.GetComebackParameters(item.IDPage))
                                                        <button class="btn" onclick="@item.OnMenuButtonOnClick" data-toggle="tooltip"
                                                                title="@item.OnMenuButtonTitle">
                                                            <i class="fa @item.OnMenuButtonClass"></i>
                                                        </button>
                                                    </form>
                                                </text>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            <form action="/Admin/Pages/Enable" method="post"
                                                  role="form">
                                                @Html.Partial("_PagesRowHiddenInputs", Model.GetComebackParameters(item.IDPage))
                                                <button class="btn" onclick="@item.EnabledButtonOnClick" data-toggle="tooltip"
                                                        title="@item.EnableButtonTitle">
                                                    <i class="fa @item.EnableButtonClass"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="@item.UpdateLinkURL(Model.EditionComebackParameters)"
                                               title="@item.UpdateLinkTitle" class="btn" data-toggle="tooltip">
                                                <i class="fa fa-pen"></i>
                                            </a>
                                        </td>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <text>
                                                <td class="align-middle text-center">
                                                    <form action="/Admin/Pages/Delete" method="post"
                                                          role="form">
                                                        @Html.Partial("_PagesRowHiddenInputs", Model.GetComebackParameters(item.IDPage))
                                                        <button class="btn" data-toggle="tooltip"
                                                                title="Borrar contenido"
                                                                onclick="@item.DeleteButtonOnClick">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </text>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    if (Model.PageCount > 1)
                    {
                        <text>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (i == Model.PageNumber)
                                        {
                                            <text>
                                                <li class="page-item"><a href="#">@i</a></li>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <li class="page-item"><a class="page-link" href="/Admin/Editions/Index?pageNumber=@i&pageSize=@Model.PageSize">@i</a></li>
                                            </text>
                                        }
                                    }
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </text>
                    }

                }
                else
                {
                    <text>
                        <div class="card-body">
                            <p>
                                No hay paginas en la base de datos.
                            </p>
                        </div>
                    </text>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}
