﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Roles.FormViewModel
<div class="form-group">
    <label for="Rolename">Nombre del role:</label>
    <input type="text" value="@Model.RoleName"
           placeholder="Nombre del role" maxlength="256"
           class="form-control" name="RoleName" id="RoleName" required />
    <div class="invalid-feedback order-last">Ingrese el nombre del role.</div>
</div>
