﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Roles.ComebackParametersViewModel
@if (Model.HasRoleId)
{
    <text>
        <input type="hidden" name="RoleId" value="@Model.RoleId" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
