﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Roles.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Listado de roles";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);

}
@section Head
{
}
@section Sidebar
{
    @Html.Partial("_SidebarUsers")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            @if (Model.Roles != null && Model.Roles.Count() > 0)
            {
                <text>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools float-lg-right">
                                <div class="card-tools float-lg-right">
                                    <a href="@Model.NewButtonHref" title="@Model.NewButtonTitle"
                                       class="btn btn-tools" data-toggle="tooltip">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><small>Role</small></th>
                                        <th><small>Editar</small></th>
                                        <th><small>Borrar</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Roles)
                                    {
                                        <tr>
                                            <td class="align-middle"><small>@item.Name</small></td>
                                            <td class="align-middle text-center">
                                                @if (item.Name.ToLower() != "super administrador")
                                                {
                                                    <a href="@item.UpdateLinkURL(Model.ComebackParameters)"
                                                       title="@item.UpdateLinkTitle" class="btn" data-toggle="tooltip">
                                                        <i class="fa fa-pen"></i>
                                                    </a>
                                                }
                                            </td>
                                            <td class="align-middle text-center">
                                                @if (item.Name.ToLower() != "super administrador")
                                                {
                                                <form action="/Admin/Roles/Delete" method="post"
                                                      role="form">
                                                    @Html.AntiForgeryToken()
                                                    @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.Id))
                                                    <button class="btn" data-toggle="tooltip"
                                                            title="Borrar role"
                                                            onclick="@item.DeleteButtonOnClick">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <text>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item @if (Model.PageNumber == 1)
                                            {<text>disabled</text> }"><a class="page-link" href="/Admin/Roles/Index?pageNumber=1&pageSize=@Model.PageSize"><i class="fa fa-step-backward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == 1)
                                            {<text>disabled</text> }"><a class="page-link" href="/Admin/Roles/Index?pageNumber=@Model.BackPage&pageSize=@Model.PageSize"><i class="fa fa-backward"></i></a></li>
                                        @for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            if (i == Model.PageNumber)
                                            {
                                                <text>
                                                    <li class="page-item"><a href="#">@i</a></li>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <li class="page-item"><a class="page-link" href="/Admin/Roles/Index?pageNumber=@i&pageSize=@Model.PageSize">@i</a></li>
                                                </text>
                                            }
                                        }
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount)
                                            {<text>disabled</text> }"><a class="page-link" href="/Admin/Roles/Index?pageNumber=@Model.NextPage&pageSize=@Model.PageSize"><i class="fa fa-forward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount)
                                            {<text>disabled</text> }"><a class="page-link" href="/Admin/Roles/Index?pageNumber=@Model.PageCount&pageSize=@Model.PageSize"><i class="fa fa-step-forward"></i></a></li>
                                    </ul>
                                </div>
                            </text>
                        }
                    </div>
                </text>

            }
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

}
