﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Pages.FormViewModel
<div class="form-group">
    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title"
           placeholder="Título de la página"
           maxlength="128"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título de la página.</div>
</div>
<div class="form-group">
    <label for="Summary">Sumario:</label>
    <textarea class="form-control" name="Summary" id="Summary" required
              maxlength="4000"
              placeholder="Sumario descriptivo de la página">@Model.Summary</textarea>
    <div class="invalid-feedback order-last">Ingrese el sumario de la página.</div>
</div>
<div class="form-group">
    <label for="Body">Cuerpo:</label>
    <textarea id="Body" name="Body">
        @Model.Body
    </textarea>
</div>
<div class="form-group">
    <div class="form-group">
        <label for="Keywords">Keywords:</label>
        <input type="text" value="@Model.Keywords" required
                placeholder="Palabras claves de la página"
                maxlength="256"
                class="form-control" name="Keywords" id="Keywords" />
        <div class="invalid-feedback order-last">Ingrese al menos una keyword.</div>
    </div>
</div>
@if (Model.AvailableEditions.Any())
{
    <text>
        <div class="form-group">
            <label>Contenidos:</label>
        </div>
    </text>
    foreach (var edition in Model.AvailableEditions)
    {
        <text>
            <div class="icheck-primary">
                <input type="checkbox" name="editions" id="edition-@edition.IDEdition"
                       @if (Model.Editions.Contains(edition.IDEdition) || (Model.Edition != null && Model.Edition.IDEdition == edition.IDEdition)) { <text> checked</text>
                            }
                       value="@edition.IDEdition" />
                <label for="edition-@edition.IDEdition">@edition.Title</label>
            </div>
        </text>
    }
}
