﻿@using Pixelario.CMS.Domain.Commons
@model Pixelario.CMS.Web.Areas.Admin.Models.Pages.FormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Documentos de {0}", Model.Title);
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}", Model.AppName, actionTitle);
}
@section Head
{
    <style>
        .custom-file-input:lang(es) ~ .custom-file-label::after {
            content: "Eligir archivo";
        }
    </style>
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div><div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="@Model.BackButtonUrl"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                      </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Subir documento de @Model.Title</h3>
                </div>
                <div class="card-body">
                    <form action="/Admin/Pages/UploadDocument" method="post"
                          class="needs-validation" novalidate
                          enctype="multipart/form-data">
                        @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                        <div class="form-group">
                            <label for="MultimediaTitle">Título de la foto</label>
                            <input type="text" name="MultimediaTitle" id="MultimediaTitle"
                                   placeholder="Título del documento" maxlength="255"
                                   class="form-control" required value="@Model.MultimediaTitle" />
                            <div class="invalid-feedback order-last">Ingrese el título del documento.</div>
                        </div>
                        <div class="form-group">
                            <label for="DocuemtFile">Seleccione un archivo:</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input"
                                           lang="es" required
                                           id="DocuemtFile" name="DocuemtFile" />
                                    <label class="custom-file-label" for="DocuemtFile"></label>
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text">Subir</button>
                                </div>
                            </div>
                            <small class="form-text text-muted">Seleccione un archivo de tipo doc, pdf, ppt o xls</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @if (Model.Multimedia != null && Model.Multimedia.Count() > 0)
        {
            foreach (var item in Model.Multimedia)
            {
                <div class="col-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@item.Title</h3>
                        </div>
                        <form action="/Admin/Pages/RemoveDocument" method="post"
                              role="form">
                            <div class="card-body">
                                <input type="hidden" name="IDMultimedia" value="@item.IDMultimedia" />
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                <a href="@item.Path1" title="@item.Title" target="_blank">
                                    <i class="fa fa-arrow-down"></i> @item.Title
                                </a>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Quitar</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert()
            $('[maxlength]').maxlength();
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}
