﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Pages.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Listado de páginas";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools float-lg-right">
                        <div class="card-tools float-lg-right">
                            <a href="/Admin/Pages/Create" title="Nueva página"
                               class="btn btn-tools" data-toggle="tooltip">
                                <i class="fa fa-plus"></i>
                            </a>

                        </div>
                        <div class="card-tools float-lg-right">
                            <a href="/Admin/Pages/Configurations?pageNumber=@Model.PageNumber&pageSize=@Model.PageSize" title="Configuraciones"
                               class="btn btn-tools" data-toggle="tooltip">
                                <i class="fa fa-cog"></i>
                            </a>

                        </div>
                    </div>
                </div>

                @if (Model.Pages != null && Model.Pages.Count() > 0)
                {
                    <text>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="3"></th>
                                        <th colspan="3" class="text-center"><small>Portada</small></th>
                                        <th colspan="@if (User.IsInRole("Super Administrador"))
                                        {<text>3</text>} else {<text>2</text> }"></th>
                                    </tr>
                                    <tr>
                                        <th><small>ID</small></th>
                                        <th><small>Título</small></th>
                                        <th><small>Preview</small></th>
                                        <th><small>Multimedios</small></th>

                                        <th><small>Orden</small></th>
                                        <th><small>Agregar</small></th>

                                        <th><small>Habilitado</small></th>
                                        <th><small>Editar</small></th>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <th><small>Borrar</small></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Pages)
                                    {
                                    <tr>
                                        <td class="align-middle text-right"><small>@item.IDPage</small></td>
                                        <td class="align-middle"><small>@item.Title</small></td>
                                        <td class="align-middle text-center">
                                            <a href="@item.PreviewURL" target="_blank"
                                               title="Preview" class="btn" data-toggle="tooltip">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="/Admin/Pages/Images/@item.IDPage?pageNumber=@Model.PageNumber&pageSize=@Model.PageSize"
                                               class="btn" data-toggle="tooltip" title="Multimedios de la página">
                                                <i class="fa fa-file-image"></i>
                                            </a>
                                            <a href="/Admin/Pages/Documents/@item.IDPage?pageNumber=@Model.PageNumber&pageSize=@Model.PageSize"
                                               class="btn" data-toggle="tooltip" title="Documentos de la página">
                                                <i class="fa fa-file"></i>
                                            </a>
                                            <a href="/Admin/Pages/Widgets/@item.IDPage?pageNumber=@Model.PageNumber&pageSize=@Model.PageSize"
                                               class="btn" data-toggle="tooltip" title="Widgets de la página">
                                                <i class="fa fa-photo-video"></i>
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            @if (item.Enabled && item.AtHome)
                                            {
                                                <text>
                                                    <form action="/Admin/Pages/OrderAtHome"
                                                          class="needs-validation" novalidate style="max-width:10rem;"
                                                          role="form" method="post">
                                                        <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                                        <input type="hidden" name="PageSize" value="@Model.PageSize" />
                                                        <input type="hidden" name="IDPage" value="@item.IDPage" />
                                                        <input type="hidden" name="Order" value="@item.Order" />
                                                        <div class="input-group input-group-sm">
                                                            <input type="number" min="1" required
                                                                   class="form-control" name="Order" value="@item.Order" />
                                                            <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-info btn-flat"
                                                                        data-toggle="tooltip" title="Cambiar el orden de la página">
                                                                    Cambiar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </text>
                                            }
                                        </td>
                                        <td class="align-middle  text-center">
                                            @if (item.Enabled)
                                            {
                                                <text>
                                                    <form action="/Admin/Pages/ToHome"
                                                          role="form" method="post">
                                                        <input type="hidden" name="IDPage" value="@item.IDPage" />
                                                        <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                                        <input type="hidden" name="PageSize" value="@Model.PageSize" />
                                                        <button class="btn" onclick="@item.ToHomeButtonOnClick" data-toggle="tooltip"
                                                                title="@item.ToHomeButtonTitle">
                                                            <i class="fa @item.ToHomeButtonClass"></i>
                                                        </button>
                                                    </form>
                                                </text>
                                            }
                                        </td>
                                        <td class="align-middle  text-center">
                                            <form action="/Admin/Pages/Enable" method="post"
                                                  role="form">
                                                <input type="hidden" name="IDPage" value="@item.IDPage" />
                                                <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                                <input type="hidden" name="PageSize" value="@Model.PageSize" />
                                                <button class="btn" onclick="@item.EnabledButtonOnClick" data-toggle="tooltip"
                                                        title="@item.EnableButtonTitle">
                                                    <i class="fa @item.EnableButtonClass"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td class="align-middle  text-center">
                                            <a href="/Admin/Pages/Update/@item.IDPage?PageNumber=@Model.PageNumber&PageSize=@Model.PageSize"
                                               title="Editar página" class="btn" data-toggle="tooltip">
                                                <i class="fa fa-pen"></i>
                                            </a>
                                        </td>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <text>
                                                <td class="align-middle  text-center">
                                                    <form action="/Admin/Pages/Delete" method="post"
                                                          role="form">
                                                        <input type="hidden" name="IDPage" value="@item.IDPage" />
                                                        <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                                        <input type="hidden" name="PageSize" value="@Model.PageSize" />
                                                        <button class="btn" data-toggle="tooltip"
                                                                title="Borrar página"
                                                                onclick="@item.DeleteButtonOnClick">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </text>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <text>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                        @for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            if (i == Model.PageNumber)
                                            {
                                                <text>
                                                    <li class="page-item"><a href="#">@i</a></li>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <li class="page-item"><a class="page-link" href="/Admin/Pages/Index?pageNumber=@i&pageSize=@Model.PageSize">@i</a></li>
                                                </text>
                                            }
                                        }
                                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </text>
                        }
                    </text>
                }
                else
                {
                    <text >
                    <div class="card-body">

                        <p>
                            No hay paginas en la base de datos.
                        </p>
                    </div>
                    </text>
                }
            </div>

        </div>
    </div>
</div>

@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}
