﻿@model Pixelario.CMS.Web.Models.SubTopics.IndexViewModel

@{
    ViewBag.Title = Model.SubTopic.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <meta name="description" content="@Model.SubTopic.Summary" />
    <meta name="keywords" content="@Model.SubTopic.Keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.SubTopic.Title" />
    <meta property="og:description" content="@Model.SubTopic.Summary" />
    <meta property="og:url" content="@string.Format("http://www.{0}{1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.SubTopic.URL)" />
    <meta property="og:image" content="@string.Format("http://www.{0}/uploads/img/logo{1}",
            @Model.GetConfiguration("website/info/domain"),
            @Model.GetConfiguration("website/logo/file-extention"))">

    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

<div id="topic">
    <section class="e-topic-navigation">
        <ul class="breadcrumb">
            @if (Model.Topic != null)
            {
                <text>
                    <li><a href="@Model.Topic.URL" title="@Model.Topic.Title">@Model.Topic.Title</a></li>
                </text>
                if (Model.Topic.SubTopics != null)
                {
                    foreach (var subTopic in Model.Topic.SubTopics)
                    {
                        if (subTopic.ID == Model.SubTopic.ID)
                        {
                            <li class="active"><h1>@Model.SubTopic.Title</h1></li>
                        }
                        else
                        {
                            <li><a href="@subTopic.URL" title="@subTopic.Title">@subTopic.Title</a></li>
                        }
                    }
                }
                else
                {
                    <li class="active"><h1>@Model.SubTopic.Title</h1></li>
                }
            }
            else
            {
                <li class="active"><h1>@Model.SubTopic.Title</h1></li>
            }
        </ul>
    </section>
    @if (Model.Articles != null && Model.Articles.Count() > 0)
    {
        @Html.Partial("_Central_Columns", Model.Articles)
        if (Model.PageCount > 1)
        {
            <text>
                <a id="infinite-more-link" href="/API/SubTopics/Index/@Model.SubTopic.ID?pageNumber=2">Más árticulos</a>
            </text>
        }
    }

</div>
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}

@section script
{
    <script src="/lib/wayponts/jquery.waypoints.min.js"></script>
    <script src="/js/startWaypoint.js"></script>
    <script>
        startWaypoint('subtopic');
        @Html.Partial("_Scripts", Model.ScriptFlyers)
    </script>
}
