﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Commons.ConfigurationsViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = Model.PageTitle;
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/icheck-bootstrap/icheck-bootstrap.min.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarSubscriptions")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Plans?pageNumber=@Model.PageNumber&pageSize=@Model.PageSize"><small class="fa fa-arrow-left"></small> Listado de planes</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        @Html.Partial("_ConfigurationInputs")
    </div>
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert();
            $('[maxlength]').maxlength();
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

    <script>
        var enableInput = function (setting) {
            $('#change-' + setting).hide();
            $('#cancel-' + setting).show();
            $('#desabled-' + setting).hide();
            $('#input-' + setting).removeAttr('disabled');
            $('#input-' + setting).show();
        };
        var disableInput = function (setting, space) {
            $('#desabled-' + setting).show();
            $('#input-' + setting).attr('disabled', 'disabled');
            $('#input-' + setting).hide();
            $('#cancel-' + setting).hide();
            $('#change-' + setting).show();
        };
    </script>
}
