﻿<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>
        @ViewBag.Title - @Model.GetConfiguration("website/info/name")
    </title>
    @if (Model.IsDebug)
    {
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/lib/lato-font/css/lato-font.css" rel="stylesheet" />
    }
    else
    {
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    }
    <link href="/lib/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    <link href="@string.Format("/uploads/{0}/{1}{2}",
            Model.GetConfiguration("website/favicon/folder"),
            Model.GetConfiguration("website/favicon/filename"),
            Model.GetConfiguration("website/favicon/file-extention"))"
          rel="icon" type="image/x-icon" />
    <link href="@string.Format("/uploads/{0}/{1}{2}",
            Model.GetConfiguration("website/css/folder"),
            Model.GetConfiguration("website/css/filename"),
            Model.GetConfiguration("website/css/file-extention"))" rel="stylesheet" type="text/css" />
    <meta property="og:site_name" content="@Model.GetConfiguration("website/info/name")" />
    <meta property="og:locale" content="es_LA" />

    @if (IsSectionDefined("head"))
    {
        @RenderSection("head")
    }
    @if (!Model.IsDebug)
    {
        <link rel="dns-prefetch" href="//www.google-analytics.com" />
        <link rel="dns-prefetch" href="//connect.facebook.net" />
        <link rel="dns-prefetch" href="//ajax.googleapis.com" />
        <link rel="dns-prefetch" href="//connect.facebook.net" />
        <link rel="dns-prefetch" href="//platform.twitter.com" />

    }
    @if (IsSectionDefined("analytics"))
    {
        if (!Model.IsDebug)
        {
            @RenderSection("analytics")
        }
    }
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    @if (IsSectionDefined("header"))
    {
        @RenderSection("header")
    }
    @if (IsSectionDefined("slider"))
    {
        @RenderSection("slider")
    }
    <div id="wrapper">
        <div class="container">
            <div class="row">
                @if (IsSectionDefined("asideTop"))
                {
                    @RenderSection("asideTop")
                }
                <div id="main" class="col-sm-9">
                    @RenderBody()
                </div>
                @if (IsSectionDefined("aside"))
                {
                    @RenderSection("aside")
                }
            </div>
        </div>
    </div>
    @if (IsSectionDefined("middle"))
    {
        @RenderSection("middle")
    }
    @Html.Partial("footer/_Footer")
    @if (Model.GetConfiguration("website/platform/show") == "on")
    {
        @Html.Partial("footer/_Platform")
    }
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=1528734154017155&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @if (Model.IsDebug)
    {
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    }
    else
    {
        <!--[if !(IE)]><!-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!--<![endif]-->
        <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <![endif]-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    }
    <script src="/lib/ekko-lightbox/ekko-lightbox.js"></script>
    <script>
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    @if (IsSectionDefined("script"))
    {
        @RenderSection("script")
    }
</body>
</html>
