﻿@model List<Pixelario.CMS.Web.Models.Frontend.AdvertismentFrontModel>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        if (item.HasCode)
        {
            <text>@Html.Raw(item.Code)</text>
        }
    }
}
