﻿@model Pixelario.CMS.Web.Models.ArticlesList
@if (Model != null && Model.Articles != null && Model.Articles.Count > 0)
{
    <ul id="atomic-article-list">
        @foreach (var item in Model.Articles)
        {
            <li>
                <article>
                    @if ((item.Topics != null && item.Topics.Count > 0) ||
                        (item.SubTopics != null && item.SubTopics.Count > 0))
                    {
                        <header>
                            @foreach (var topic in item.Topics)
                            {
                                <a href="@topic.URL?ref=search" title="@topic.Title" class="strong-header-title">@topic.Title</a>
                            }
                            @foreach (var subTopic in item.SubTopics)
                            {
                                <a href="@subTopic.URL?ref=search" title="@subTopic.Title">@subTopic.Title</a>
                            }
                        </header>
                    }
                    <h1>
                        <a href="@item.URL?ref=search" title="@item.Title">
                            @item.Title
                        </a>
                    </h1>
                    <aside>
                        <p>@item.PublicationDate</p>
                    </aside>
                </article>
            </li>
        }
    </ul>
    <div class="text-center">
        <ul class="pagination">
            <li class="page-item @if (Model.PageNumber == 1)
                                        {<text>disabled</text> }"><a class="page-link" href="@(Model.URL)pageNumber=1&pageSize=@Model.PageSize"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a></li>
            <li class="page-item @if (Model.PageNumber == 1)
                                        {<text>disabled</text> }"><a class="page-link" href="@(Model.URL)pageNumber=@Model.BackPage&pageSize=@Model.PageSize"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                if (i == Model.PageNumber)
                {
                    <text>
                        <li class="page-item active"><a class="page-link" href="#">@i</a></li>
                    </text>
                }
                else
                {
                    <text>
                        <li class="page-item"><a class="page-link" href="@(Model.URL)pageNumber=@i&pageSize=@Model.PageSize" title="Página @i">@i</a></li>
                    </text>
                }
            }
            <li class="page-item @if (Model.PageNumber == Model.PageCount)
                                        {<text>disabled</text> }"><a class="page-link" href="@(Model.URL)pageNumber=@Model.NextPage&pageSize=@Model.PageSize"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></li>
            <li class="page-item @if (Model.PageNumber == Model.PageCount)
                                        {<text>disabled</text> }"><a class="page-link" href="@(Model.URL)pageNumber=@Model.PageCount&pageSize=@Model.PageSize"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a></li>

        </ul>
    </div>
}
