﻿@model Pixelario.CMS.Web.Areas.Admin.Models.SubTopics.SubTopicComebackParametersViewModel
@if (Model.HasIDSubTopic)
{
    <text>
        <input type="hidden" name="IDSubTopic" value="@Model.IDSubTopic" />
    </text>
}
<input type="hidden" name="IDTopic" value="@Model.IDTopic" />
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="Columns" value="@Model.Columns" />
<input type="hidden" name="TopicPageNumber" value="@Model.TopicPageNumber" />
<input type="hidden" name="TopicPageSize" value="@Model.TopicPageSize" />
<input type="hidden" name="TopicColumns" value="@Model.TopicColumns" />