﻿@model Pixelario.CMS.Web.Areas.Admin.Models.SubTopics.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Listado de subtemas de \"{0}\"", Model.Topic.Title);
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div><div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools float-lg-right">
                        @if (User.IsInRole("Super Administrador"))
                        {
                            <a href="@Model.CreatePageButtonLink" title="@Model.CreatePageButtonTitle"
                               class="btn btn-tools comeback" data-toggle="tooltip">
                                <i class="fa fa-plus"></i>
                            </a>
                        }
                    </div>
                </div>
                @if (Model.SubTopics.Count() > 0)
                {
                    <div class="card-body">
                        <table id="table" class="table" data-toggle="table" data-show-columns="true">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" class="align-middle" data-switchable="false"><small>ID</small></th>
                                    <th rowspan="2" class="align-middle" data-switchable="false"><small>Título</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("2")><small>Multimedios</small></th>
                                    <th colspan="2" class="text-center"><small>Menú</small></th>
                                    <th colspan="2" class="text-center"><small>Inicio</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("7")><small>Habilitado</small></th>
                                    <th rowspan="2" class="align-middle" @Model.ColumnVisible("8")><small>Editar</small></th>
                                    @if (User.IsInRole("Super Administrador"))
                                    {
                                        <th rowspan="2" class="align-middle" @Model.ColumnVisible("9")><small>Borrar</small></th>
                                    }
                                </tr>
                                <tr>
                                    <th @Model.ColumnVisible("3", false) data-title="<small>Orden en el menú</small>"><small>Orden</small></th>
                                    <th @Model.ColumnVisible("4", false)><small>Menú</small></th>
                                    <th @Model.ColumnVisible("5", false) data-title="<small>Orden en el inicio</small>"><small>Orden</small></th>
                                    <th @Model.ColumnVisible("6", false)><small>Inicio</small></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SubTopics)
                                {
                                    <tr>
                                        <td class="align-middle text-right"><small>@item.IDSubTopic</small></td>
                                        <td class="align-middle"><small>@item.Title</small></td>
                                        <td class="align-middle">
                                            <a href="@item.MultimediaLinkURL(@Model.ComebackParameters)"
                                               class="btn comeback" data-toggle="tooltip" title="@item.MultimediaLinkTitle">
                                                <i class="fa fa-file-image"></i>
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            @if (item.Enabled && item.OnMenu)
                                            {
                                                <text>
                                                    <form action="/Admin/SubTopics/OrderAtMenu"
                                                          class="needs-validation" novalidate style="max-width:10rem;"
                                                          method="post" role="form">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDSubTopic))
                                                        <div class="input-group input-group-sm">
                                                            <input type="number" min="1" required
                                                                   class="form-control" name="Order" value="@item.OrderAtMenu" />
                                                            <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-info btn-flat"
                                                                        data-toggle="tooltip" title="Cambiar el orden del subtema en el menú">
                                                                    Cambiar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </text>

                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            @if (item.Enabled)
                                            {
                                                <text>
                                                    <form action="/Admin/SubTopics/ToMenu"
                                                          role="form" method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDSubTopic))
                                                        <button class="btn" onclick="@item.ToMenuButtonOnClick" data-toggle="tooltip"
                                                                title="@item.ToMenuButtonTitle">
                                                            <i class="fa @item.ToMenuButtonClass"></i>
                                                        </button>
                                                    </form>
                                                </text>
                                            }
                                        </td>

                                        <td class="align-middle">
                                            @if (item.Enabled && item.AtHome)
                                            {
                                                <text>
                                                    <form action="/Admin/SubTopics/OrderAtHome"
                                                          class="needs-validation" novalidate style="max-width:10rem;"
                                                          role="form" method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDSubTopic))
                                                        <div class="input-group input-group-sm">
                                                            <input type="number" min="1" required
                                                                   class="form-control" name="Order" value="@item.Order" />
                                                            <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-info btn-flat"
                                                                        data-toggle="tooltip" title="Cambiar el orden del subtema en el tema">
                                                                    Cambiar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </text>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            @if (item.Enabled)
                                            {
                                                <text>
                                                    <form action="/Admin/SubTopics/ToHome" role="form"
                                                          method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDSubTopic))
                                                        <button class="btn" onclick="@item.ToHomeButtonOnClick" data-toggle="tooltip"
                                                                title="@item.ToHomeButtonTitle">
                                                            <i class="fa @item.ToHomeButtonClass"></i>
                                                        </button>
                                                    </form>
                                                </text>
                                            }
                                        </td>
                                        <td class="align-middle text-center">
                                            <form action="/Admin/SubTopics/Enable" method="post"
                                                  role="form">
                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDSubTopic))

                                                <button class="btn" onclick="@item.EnabledButtonOnClick" data-toggle="tooltip"
                                                        title="@item.EnableButtonTitle">
                                                    <i class="fa @item.EnableButtonClass"></i>
                                                </button>

                                            </form>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="@item.UpdateLinkURL(Model.ComebackParameters)"
                                               title="@item.UpdateLinkTitle" class="btn comeback" data-toggle="tooltip">
                                                <i class="fa fa-pen"></i>
                                            </a>

                                        </td>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <text>
                                                <td class="align-middle text-center">
                                                    <form action="/Admin/SubTopics/Delete"
                                                          role="form" method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDSubTopic))

                                                        <button class="btn" data-toggle="tooltip"
                                                                title="Borrar sub tema"
                                                                onclick="@item.DeleteButtonOnClick">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </text>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    if (Model.PageCount > 1)
                    {
                        <text>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (i == Model.PageNumber)
                                        {
                                            <text>
                                                <li class="page-item"><a href="#">@i</a></li>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <li class="page-item"><a class="page-link" href="/Admin/SubTopics/@Model.Topic.IDTopic?pageNumber=@i&pageSize=@Model.PageSize&topicPageNumber=@Model.TopicPageNumber&topicPageSize=@Model.TopicPageSize">@i</a></li>
                                            </text>
                                        }
                                    }
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </text>
                    }
                }
                else
                {
                    <div class="card-body">
                        <p>
                            No hay subtemas de @Model.Topic.Title en la base de datos.
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-table/bootstrap-table.min.js"></script>

    <script>
        $(function () {
            $('#table').on('column-switch.bs.table', function (e, field, checked) {
                var fields = $('#table').bootstrapTable('getVisibleColumns').map(function (it) {
                    return it.field
                });
                $('input[name="Columns"]').val(fields);
                $('.card a.comeback').each(function () {
                    var oldUrl = $(this).attr('href');
                    var newUrl = "";
                    if (oldUrl.indexOf("&columns=") >= 0 || oldUrl.indexOf("?columns=") >= 0)
                        newUrl = updateURLParameter(oldUrl, "columns", fields);
                    else if (oldUrl.indexOf("?") >= 0)
                        newUrl = oldUrl + "&columns=" + fields;
                    else
                        newUrl = oldUrl + "?columns=" + fields;
                    $(this).attr('href', newUrl);
                });               
                $('.edition-type select').change(function () {
                    var form = $(this).parents('form:first');
                    if (form != null)
                        form.submit();
                });
            });

            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        var updateURLParameter = function (url, param, paramVal) {
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";
            if (additionalURL) {
                tempArray = additionalURL.split("&");
                for (var i = 0; i < tempArray.length; i++) {
                    if (tempArray[i].split('=')[0] != param) {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }
            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }

    </script>

}
