﻿@model Pixelario.CMS.Web.Models.Subscriptions.ProfileViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <meta name="description" content="@Model.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta name="description" content="@Model.GetConfiguration("website/info/description")">
    <meta name="keywords" content="@Model.GetConfiguration("website/info/keywords")">
    <meta name="og:description" content="@Model.GetConfiguration("website/info/description")">
    <meta property="og:url" content="@string.Format("http://www.{0}/Contact",
                                    Model.GetConfiguration("website/info/domain"))" />
    <meta property="og:image" content="@string.Format("http://www.{0}/uploads/img/logo{1}",
            @Model.GetConfiguration("website/info/domain"),
            @Model.GetConfiguration("website/logo/file-extention"))">

    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

<div id="profile">
    <section>
        <ul class="breadcrumb">
            <li><h1>Perfil</h1></li>
            <li><span>Datos del usuario</span></li>
            <li><span>Subscripción</span>
        </ul>
    </section>
    <div class="row">
        <div id="create-error-list" class="alert-box">
            @if (TempData["errors"] != null)
            {
                var errorsList = (List<string>)TempData["errors"];
                <ul>
                    @foreach (var error in errorsList)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" name="FirstName" placeholder="Ingrese su nombre"
                       class="form-control" value="@Model.Account.FirstName"
                       required disabled
                       minlength="4"
                       data-error="Debe ingresar su nombre.">
            </div>
            <div class="form-group">
                <input type="text" name="LastName" placeholder="Ingrese su apellido"
                       class="form-control" value="@Model.Account.LastName"
                       required disabled
                       minlength="4"
                       data-error="Debe ingresar su apellido.">
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="radio">
                    <input type="radio" disabled
                           data-radioCheck="PlanId"
                           checked>
                    <label>
                        @Model.Account.PlanTitle
                    </label>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
    </div>

</div>
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    @Html.Partial("_Scripts", Model.ScriptFlyers)
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(function () {
            $('#create form').submit(function () {
                $(this).children('input[type=submit]').prop('disabled', true);
            });
            $('#create form').validator({
                custom: {
                    radioCheck: function ($el) {
                        var radioCheck = $el.data('radioCheck');
                        var count = $('input[name="' + radioCheck + '"]:checked').length;
                        if (count > 0) {
                            $('input[name="' + radioCheck + '"]').off('.bs.validator')
                                .removeData(['bs.validator.errors', 'bs.validator.deferred', 'bs.validator.previous']);
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            }).on('submit', function (e) {
                if (!e.isDefaultPrevented()) {
                    $('#create form input[type=submit]').prop('disabled', true);
                }
            });
            var errorArray = [];
            $('#create form').on('invalid.bs.validator', function (e) {
                $.each(e.detail, function (index, value) {
                    errorArray.push(value);
                });
                refreshErrorList(errorArray);
            });
            $('#create form').on('valid.bs.validator', function (e) {
                var newErrorArray = [];
                for (var i = 0; i < errorArray.length; i++) {
                    var text = errorArray[i];
                    if (text.localeCompare(e.detail) != 0) {
                        newErrorArray.push(text);
                    }
                }
                errorArray = newErrorArray;
                refreshErrorList(errorArray);
            });
            $('#cleanForm').click(function (e) {
                e.preventDefault();
                $.each($('#create form input'), function () {
                    $(this).val('');
                });
                var form = $('#create form')[0];
                $(form).removeClass('was-validated');
                form.reset();
                errorArray = [];
                refreshErrorList(errorArray);
            });
        });
        var refreshErrorList = function (array) {
            if (array.length > 0) {
                $('#create-error-list').html("<ul></ul>").show();
                $.each(array, function (i) {
                    $('#create-error-list ul').append('<li>' + array[i] + '</li>')
                })
            }
            else {
                $('#create-error-list').html("").hide();
            }
        }
    </script>
}
