﻿@model Pixelario.CMS.Web.Models.Subscriptions.CreateViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <meta name="description" content="@Model.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta name="description" content="@Model.GetConfiguration("website/info/description")">
    <meta name="keywords" content="@Model.GetConfiguration("website/info/keywords")">
    <meta name="og:description" content="@Model.GetConfiguration("website/info/description")">
    <meta property="og:url" content="@string.Format("http://www.{0}/Contact",
                                    Model.GetConfiguration("website/info/domain"))" />
    <meta property="og:image" content="@string.Format("http://www.{0}/uploads/img/logo{1}",
            @Model.GetConfiguration("website/info/domain"),
            @Model.GetConfiguration("website/logo/file-extention"))">

    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

<div id="contact">
    <section>
        <ul class="breadcrumb">
            <li><h1>Subscribirme</h1></li>
            <li><span>Formulario completado</span></li>
        </ul>
    </section>
    <div class="row">
        <div class="col-xs-12">
            <p>Su subscripción fue registrada con exitosamente.</p>
            <p>Muchas gracias.</p>
        </div>
    </div>
</div>
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    @Html.Partial("_Scripts", Model.ScriptFlyers)
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}
