﻿@using Pixelario.Subscriptions.Domain.AggregateModels.Accounts
@model Pixelario.CMS.Web.Areas.Admin.Models.Subscriptions.Accounts.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Listado de cuentas";
    ViewBag.Title = string.Format("{0} - Administrador de subscripciones - {1}",
        Model.AppName, actionTitle);

}
@section Head
{
}
@section Sidebar
{
    @Html.Partial("_SidebarSubscriptions")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
        </div>
    </div>
}
<div class="container-fluid">

    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    @if (User.IsInRole("Super Administrador"))
                    {
                        @*<div class="card-tools float-lg-right">
                            <a href="/Admin/Accounts/Create" title="Nuevo contenido"
                               class="btn btn-tools" data-toggle="tooltip">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="card-tools float-lg-right">
                            <a href="/Admin/WebSiteSettings/Configurations" title="Configuraciones de la web"
                               class="btn btn-tools" data-toggle="tooltip">
                                <i class="fa fa-globe-americas"></i>
                            </a>
                        </div>*@
                    }
                </div>

                @if (Model.Accounts != null && Model.Accounts.Count() > 0)
                {
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th><small>ID</small></th>
                                    <th><small>User</small></th>
                                    <th><small>Plan</small></th>                                    
                                    @if (User.IsInRole("Super Administrador"))
                                    {
                                        <th><small>Borrar</small></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Accounts)
                                {
                                    var index = Model.Accounts.IndexOf(item);
                                <tr>
                                    <td class="align-middle text-right">
                                        <small>@item.IDAccount</small>
                                    </td>
                                    <td class="align-middle"><small>@item.Email</small></td>
                                    <td class="align-middle"><small>@item.Plan.Name</small></td>
                                    @if (User.IsInRole("Super Administrador"))
                                    {
                                        <td class="align-middle text-center">
                                            <form action="/Admin/Accounts/Delete" method="post"
                                                  role="form">
                                                <input type="hidden" name="IDAccount" value="@item.IDAccount" />
                                                <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                                <input type="hidden" name="PageSize" value="@Model.PageSize" />
                                                <button class="btn" data-toggle="tooltip"
                                                        title="Borrar contenido"
                                                        onclick="@item.DeleteButtonOnClick">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    if (Model.PageCount > 1)
                    {
                        <text>
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        if (i == Model.PageNumber)
                                        {
                                            <text>
                                                <li class="page-item"><a href="#">@i</a></li>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <li class="page-item"><a class="page-link" href="/Admin/Accounts/Index?pageNumber=@i&pageSize=@Model.PageSize">@i</a></li>
                                            </text>
                                        }
                                    }
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>

                        </text>
                    }

                }
                else
                {
                    <div class="card-body">
                        <p>
                            No hay contenidos en la base de datos.
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
}
