﻿@model Pixelario.CMS.Web.Models.Frontend.EspecialEditionsMenuViewModel
@if (Model.Editions != null && Model.Editions.Count > 0)
{
    if (Model.Grouped)
    {
        <li>
            <a href="javascript:void(0);" title="@Model.Title"
               class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @Model.Title <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @foreach (var edition in Model.Editions)
                {
                    <li><a href="@edition.URL?ref=menu" title="@edition.Title">@edition.Title</a></li>
                }
            </ul>
        </li>
    }
    else
    {
        foreach (var edition in Model.Editions)
        {
            <li><a href="@edition.URL?ref=menu" title="@edition.Title">@edition.Title</a></li>
        }
    }
}