﻿@model Pixelario.CMS.Web.Models.Frontend.PagesMenuViewModel
@if (Model.Editions != null && Model.Editions.Count > 0)
{
    foreach (var edition in Model.Editions)
    {
        if (edition.Pages != null && edition.Pages.Count > 0)
        {
            <li>
                <a href="javascript:void(0);" title="@edition.Title"
                   class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    @edition.Title <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var page in edition.Pages)
                    {
                        <li><a href="@page.URL" title="@page.Title">@page.Title</a></li>
                    }
                </ul>
            </li>
        }
    }
}
