﻿@model Pixelario.CMS.Web.Models.Frontend.TopicsMenuViewModel

@foreach (var topic in Model.Topics)
{
    var topicIndex = Model.Topics.IndexOf(topic);
    if (Model.ShowSubTopics &&
        topic.SubTopics != null && topic.SubTopics.Count > 0)
    {
        <text>
            <li id="menu-item-@topicIndex">
                <span>
                    <a href="@topic.URL?ref=menu" title="@topic.Title">@topic.Title</a>
                    <a href="javascript:void(0);" title="@topic.Title"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       data-target="#menu-item-@topicIndex"
                       role="button" aria-haspopup="true"
                       aria-expanded="false"><b class="caret"></b></a>
                </span>
                <ul class="dropdown-menu">
                    @foreach (var subTopic in topic.SubTopics)
                    {
                        <li><a href="@subTopic.URL?ref=menu" title="@subTopic.Title">@subTopic.Title</a></li>
                    }
                </ul>
            </li>
        </text>
    }
    else
    {
        <text>
        <li><a href="@topic.URL?ref=menu" title="@topic.Title">@topic.Title</a></li>
        </text>

    }
}