﻿
@{
    Layout = null;
    Response.StatusCode = 500;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Se produjo un error</title>
</head>
<body>
    <div>
        <img src="/uploads/img/logo.png" />
        <h1>Se produjo un error.</h1>
        <a href="/" title="Ir a la página de inicio">Ir a la página de inicio</a>
    </div>
</body>
</html>
