﻿
@{
    Layout = null;
    Response.StatusCode = 403;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No tiene permiso para ver el contenido solicitado</title>
</head>
<body>
    <div>
        <img src="/uploads/img/logo.png" />
        <h1>No tiene permiso para ver el contenido solicitado</h1>
        <a href="/Subscriptions/LogOff?ref=403" title="Cerrar sesión">Cerrar sesión</a>
        <br />
        <a href="/" title="Ir a la página de inicio">Ir a la página de inicio</a>
    </div>
</body>
</html>
