﻿
@{
    Layout = null;
    Response.StatusCode = 404;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No se encontró el contenido solicitado</title>
</head>
<body>
    <div>
        <img src="/uploads/img/logo.png" />
        <h1>No se encontró el contenido solicitado</h1>
        <a href="/" title="Ir a la página de inicio">Ir a la página de inicio</a>
    </div>
</body>
</html>
