﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Advertisments.FormViewModel
<div class="form-group">

    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title" maxlength="128"
           placeholder="Título del flyer"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título del flyer.</div>
</div>
<div class="form-group">

    <label for="URL">Url:</label>
    <input type="text" value="@Model.URL" maxlength="255"
           placeholder="URL del flyer"
           class="form-control" name="URL" id="URL" />
    <div class="invalid-feedback order-last">Ingrese la url del flyer.</div>

</div>
<div class="form-group">
    <label for="Code">Código:</label>
    @Html.TextArea("code", Model.Code, new
    {
        @class = "form-control",
        @id = "Code"    
    })
</div>
