﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Advertisments.ComebackParametersViewModel
@if (Model.HasIDAdvertisment)
{
    <text>
        <input type="hidden" name="IDAdvertisment" value="@Model.IDAdvertisment" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />