﻿@using Pixelario.CMS.Domain.Commons;
@model Pixelario.CMS.Web.Areas.Admin.Models.ConfigurationsListViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - Configuraciones de paginas",
        Model.AppName);
}
@section Head
{
    <link href="/css/bvalidator.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="/js/jquery.bvalidator-yc.js" type="text/javascript"></script>
}
@Html.ValidationSummary(false, "", new { @class = "errorbox" })
@if (TempData["success"] != null)
{
    <text><div class="successbox"><ul><li>@TempData["success"]</li></ul></div></text>
}
@if (TempData["errors"] != null)
{
    var errorsList = (List<string>)TempData["errors"];
    <div class="errorbox">
        <ul>
            @foreach (var error in errorsList)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
<div id="box">
    <h3>Configuraciones de páginas</h3>
    <div>
        @if (Model.ConfigurationsLists.Count() > 0)
        {
            foreach (var list in Model.ConfigurationsLists)
            {
                if (list.Configurations != null && list.Configurations.Count > 0)
                {

                    using (Html.BeginForm("Configurations"))
                    {
                        <input type="hidden" name="section" value="@list.Section" />
                        <fieldset>
                            <legend>@list.Section</legend>
                            @foreach (var item in list.Configurations)
                            {
                                <label for="@item.Setting">@item.Title:</label>
                                switch (item.ConfigurationType)
                                {
                                    case ConfigurationType.BoolOption:
                                        <input type="hidden" name="@item.Setting" value="!checkbox" />
                                        <input type="checkbox" name="@item.Setting" id="@item.Setting"
                                               @if (item.State == "on") { <text> checked</text>} />
                                        break;
                                    case ConfigurationType.AreaText:
                                        <textarea name="@item.Setting" id="@item.Setting">@item.State</textarea>
                                        break;
                                    case ConfigurationType.LineText:
                                    default:
                                        <input type="text" name="@item.Setting" id="@item.Setting" value="@item.State" />
                                        break;
                                }
                                <br />
                            }
                        </fieldset>
                        <div class="alignCenter">
                            <input type="submit" value="Guardar" />
                            @Html.ActionLink("Cancelar", "Index")
                        </div>
                    }
                }
            }
        }
        else
        {
            <text>
                <p>
                    No hay configuraciones disponibles.
                </p>
            </text>
        }
    </div>
</div>
@section Script
{
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
