﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Advertisments.FormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Ver flyer";
    if (Model.IsCreate)
    {
        actionTitle = "Nuevo flyer";
    }
    else if (Model.IsUpdate)
    {
        actionTitle = "Editar flyer";
    }
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/summernote/summernote-bs4.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">

                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl" title="@Model.BackButtonTitle"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>

                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@actionTitle</h3>
                </div>
                @if (Model.IsCreate)
                {

                    <text>
                        <form action="/Admin/Advertisments/Create" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            <div class="card-body">
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                @Html.Partial("_AdvertismentInputs", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>

                        </form>
                    </text>
                }
                else if (Model.IsUpdate)
                {

                    <text>
                        <form action="/Admin/Advertisments/Update" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            <div class="card-body">
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                @Html.Partial("_AdvertismentInputs", Model)
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>

                        </form>
                    </text>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="/Areas/Admin/lib/summernote/summernote-bs4.min.js"></script>
    <script src="/Areas/Admin/lib/summernote-cleaner/summernote-cleaner.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert();
            $('[maxlength]').maxlength();
            //$('.textarea').summernote({
            //    toolbar: [
            //        // [groupName, [list of button]]
            //        ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
            //        ['para', ['ul', 'ol']],
            //        ['view', ['fullscreen', 'codeview']]
            //    ],
            //    cleaner: {
            //        action: 'both', // both|button|paste 'button' only cleans via toolbar button, 'paste' only clean when pasting content, both does both options.
            //        newline: '<br>', // Summernote's default is to use '<p><br></p>'
            //        notStyle: 'position:absolute;top:0;left:0;right:0', // Position of Notification
            //        icon: '<i class="note-icon">[Your Button]</i>',
            //        keepHtml: false, // Remove all Html formats
            //        keepOnlyTags: ['<p>', '<br>', '<ul>', '<li>', '<b>', '<strong>', '<i>', '<a>'], // If keepHtml is true, remove all tags except these
            //        keepClasses: false, // Remove Classes
            //        badTags: ['style', 'script', 'applet', 'embed', 'noframes', 'noscript', 'html'], // Remove full tags with contents
            //        badAttributes: ['style', 'start'], // Remove attributes from remaining tags
            //        limitChars: false, // 0/false|# 0/false disables option
            //        limitDisplay: 'both', // text|html|both
            //        limitStop: false // true/false
            //    }
            //});
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
}
