﻿@using Pixelario.CMS.Domain.AggregatesModel.Advertisments;
@model Pixelario.CMS.Web.Areas.Admin.Models.Advertisments.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Listado de todos los flyers";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools float-lg-right">
                        <a href="@Model.NewButtonHref" title="@Model.NewButtonTitle"
                           class="btn btn-tools" data-toggle="tooltip">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                @if (Model.Advertisments != null && Model.Advertisments.Count() > 0)
                {
                    <text>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><small>ID</small></th>
                                        <th><small>Título</small></th>
                                        <th><small>Multimedios</small></th>
                                        <th><small>Orden</small></th>
                                        <th><small>Posición</small></th>
                                        <th><small>Publicar</small></th>
                                        <th><small>Habilitado</small></th>
                                        <th><small>Editar</small></th>
                                        @if (User.IsInRole("Super Administrador"))
                                        {
                                            <th><small>Borrar</small></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Advertisments)
                                    {
                                        <text>
                                            <tr>
                                                <td class="align-middle text-right"><small>@item.IDAdvertisment</small></td>
                                                <td class="align-middle"><small>@item.Title</small></td>
                                                <td class="align-middle text-center">
                                                    <a href="@item.MultimediaLinkURL(@Model.ComebackParameters)"
                                                       class="btn" data-toggle="tooltip" title="@item.MultimediaLinkTitle">
                                                        <i class="fa fa-file-image"></i>
                                                    </a>
                                                </td>
                                                <td class="align-middle">
                                                    @if (item.Enabled && item.Published &&
                                                            item.PlaceAtWeb != AdvertismentPlaceAtWeb.None)
                                                    {
                                                        <text>
                                                            <form action="/Admin/Advertisments/ChangeOrder"
                                                                  class="needs-validation" novalidate style="max-width:10rem;"
                                                                  role="form" method="post">
                                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDAdvertisment))
                                                                <div class="input-group input-group-sm">
                                                                    <input type="number" min="1" required
                                                                           class="form-control" name="Order" value="@item.Order" />
                                                                    <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                                    <div class="input-group-append">
                                                                        <button type="submit" class="btn btn-info btn-flat"
                                                                                data-toggle="tooltip" title="Cambiar el orden del flyer">
                                                                            Cambiar
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </text>
                                                    }
                                                </td>
                                                <td class="align-middle">
                                                    @if (item.Enabled && item.Published)
                                                    {
                                                        <text>
                                                            <form action="/Admin/Advertisments/ChangePlaceAtWeb/@item.IDAdvertisment"
                                                                  class="place-at-web-form"
                                                                  id="PlaceAtWeb-@item.IDAdvertisment" method="post" role="form">
                                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDAdvertisment))
                                                                <div class="form-group mb-0">
                                                                    <select name="PlaceAtWeb" class="form-control-sm"
                                                                            data-toggle="tooltip" title="Cambiar posición del flyer">
                                                                        @foreach (var placeAtWeb in Model.PlacesAtWeb)
                                                                        {
                                                                            <text>
                                                                                <option value="@placeAtWeb.Id"
                                                                                        @if (placeAtWeb.Id == item.PlaceAtWeb.Id) { <text> selected</text>}>
                                                                                    @placeAtWeb.Title
                                                                                </option>
                                                                            </text>

                                                                        }
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </text>
                                                    }
                                                </td>

                                                <td class="align-middle text-center">
                                                    @if (item.Enabled)
                                                    {
                                                        <text>
                                                            <form action="/Admin/Advertisments/Publish" role="form" method="post">
                                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDAdvertisment))
                                                                <button class="btn" onclick="@item.PublishButtonOnClick" data-toggle="tooltip"
                                                                        title="@item.PublishButtonTitle">
                                                                    <i class="fa @item.PublishButtonClass"></i>
                                                                </button>
                                                            </form>
                                                        </text>
                                                    }
                                                </td>
                                                <td class="align-middle text-center">
                                                    <form action="/Admin/Advertisments/Enable" method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDAdvertisment))
                                                        <button class="btn" onclick="@item.EnabledButtonOnClick" data-toggle="tooltip"
                                                                title="@item.EnableButtonTitle">
                                                            <i class="fa @item.EnableButtonClass"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <a href="@item.UpdateLinkURL(Model.ComebackParameters)"
                                                       title="@item.UpdateLinkTitle" class="btn" data-toggle="tooltip">
                                                        <i class="fa fa-pen"></i>
                                                    </a>

                                                </td>
                                                @if (User.IsInRole("Super Administrador"))
                                                {
                                                    <text>
                                                        <td class="align-middle text-center">
                                                            <form action="/Admin/Advertisments/Delete" role="form" method="post">
                                                                @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDAdvertisment))

                                                                <button class="btn" data-toggle="tooltip"
                                                                        title="Borrar flyer"
                                                                        onclick="@item.DeleteButtonOnClick">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </text>
                                                }
                                            </tr>
                                        </text>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <text>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                        @for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            if (i == Model.PageNumber)
                                            {
                                                <text>
                                                    <li class="page-item"><a href="#">@i</a></li>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <li class="page-item"><a class="page-link" href="/Admin/Advertisments?pageNumber=@i&pageSize=@Model.PageSize">@i</a></li>
                                                </text>
                                            }
                                        }
                                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                    </ul>
                                </div>

                            </text>
                        }

                    </text>
                }
                else
                {
                    <text>
                        <div class="card-body">

                            <p>
                                No hay flyers en la base de datos.
                            </p>
                        </div>

                    </text>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
            $('.place-at-web-form select').change(function () {
                var form = $(this).parents('form:first');
                if (form != null)
                    form.submit();
            });
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}
