﻿@model Pixelario.CMS.Web.Models.Articles.IndexViewModel

@{
    ViewBag.Title = "Preview" + Model.Article.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <meta name="description" content="@Model.Article.Summary" />
    <meta name="keywords" content="@Model.Article.Keywords" />
    <link href="/lib/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
}
<div id="article">
    <article>
        <header>
            <h1>@Model.Article.Title</h1>
            <p>
                @Model.Article.Summary
            </p>
            @if (!String.IsNullOrEmpty(Model.Article.Source) || !String.IsNullOrEmpty(Model.Article.PublicationDate))
            {<p>
                    @if (!String.IsNullOrEmpty(Model.Article.Source))
                    {
                        <text>
                            <span>Fuente: </span><em>@Model.Article.Source</em>
                        </text>
                    }
                    @if (!String.IsNullOrEmpty(Model.Article.Source) && !String.IsNullOrEmpty(Model.Article.PublicationDate))
                    {
                        <text>/</text>
                    }
                    @if (!String.IsNullOrEmpty(Model.Article.PublicationDate))
                    {
                        <text><em>@Model.Article.PublicationDate</em></text>
                    }
                </p>
            }
        </header>
        <div class="row">
            <div class="col-md-8">
                <figure>
                    <a href="@Model.Article.GetHomeImage("700")" title="@Model.Article.Title"
                       data-toggle="lightbox" data-parent="#page"
                       data-gallery="gallery"
                       data-title="@Model.Article.Title">
                        <img src="@Model.Article.GetHomeImage("700")" alt="@Model.Article.Title" />
                    </a>
                </figure>
                <section>
                    @Html.Raw(Model.Article.Body)
                </section>
                @if (Model.Article.ImageMultimedia != null && Model.Article.ImageMultimedia.Count > 0)
                {
                    @Html.Partial("_Image-Gallery-Thumbnail", Model.Article.ImageMultimedia)
                }
                @if (Model.Article.Widgets != null && Model.Article.Widgets.Count > 0)
                {
                    @Html.Partial("_Widgets-Thumbnail", Model.Article.Widgets)
                }
                @if (Model.Article.Documents != null && Model.Article.Documents.Count > 0)
                {
                    @Html.Partial("_Download-Links", Model.Article.Documents)
                }

            </div>
            <div class="col-md-4">
                @Html.Partial("_Related-Articles", Model.Article.RelatedArticles)
            </div>
        </div>
    </article>
</div>
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-2">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-2">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    <script src="/lib/ekko-lightbox/ekko-lightbox.js"></script>
    <script>
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
        $(document).ready(function () {
            $('body').before('<div><span style="display: block; padding: 15px 20px; font-weight: 700; color: #fff; text-align: center; background-color:red; font-size:14px;">Preview</span></div>')
        });
    </script>
}
