﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Configurations.FormViewModel
<div class="form-group">
    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title" maxlength="255"
           placeholder="Título de la configuración"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título de la configuración.</div>

</div>
<div class="form-group">
    <label for="Key">Llave:</label>
    <input type="text" value="@Model.Key" maxlength="255"
           placeholder="Llave de la configuración"
           class="form-control" name="Key" id="Key" required />

    <div class="invalid-feedback order-last">Ingrese la llave de la configuración.</div>

</div>
<div class="form-group">
    <label for="ConfigurationTypes">Tipo:</label>
        @Html.EnumDropDownListFor(model => model.ConfigurationType, "Seleccione un tipo de Configuración", new
        {
            @class = "form-control",
            @data_toggle = "tooltip",
            required=true,
            @title="Cambiar el tipo de configuración"
        })
    <div class="invalid-feedback order-last">Seleccione el tipo de configuración.</div>

</div>