﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Configurations.ComebackParametersViewModel
@if (Model.HasIDConfiguration)
{
    <text>
        <input type="hidden" name="IDConfiguration" value="@Model.IDConfiguration" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="SearchText" value="@Model.SearchText">
<input type="hidden" name="ConfigurationTypeParameter" value="@Model.ConfigurationType">
<input type="hidden" name="OrderBy" value="@Model.OrderBy">
<input type="hidden" name="OrderDirection" value="@Model.OrderDirection">