﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Configurations.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Listado de todas las configuraciones";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <div class="float-lg-right">
                                <a href="@Model.NewButtonHref" title="@Model.NewButtonTitle"
                                   class="btn btn-tools" data-toggle="tooltip">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <form method="post" action="/Admin/Configurations">
                        <div class="row">
                            <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="SearchText">Texto de búsqueda:</label>
                                    @Html.TextBoxFor(model => model.SearchText, new
                                        {
                                            Name = "SearchText",
                                            @class = "form-control"
                                        })

                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="ConfigurationType">Tipo:</label>
                                    @Html.DropDownListFor(model => model.ConfigurationType,
                                        Model.ConfigurationTypesDropdownListOptions, new
                                        {
                                            Name = "ConfigurationType",
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="OrderBy">Ordenado por:</label>
                                    @Html.DropDownListFor(model => model.OrderBy,
                                        Model.OrderByDropdownListOptions, new
                                        {
                                            Name = "OrderBy",
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="OrderBy">
                                        Dirección del orden:
                                    </label>
                                    @Html.DropDownListFor(model => model.OrderDirection,
                                        Model.OrderDirectionDropdownListOptions, new
                                        {
                                            Name = "OrderDirection",
                                             @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="PageSize">Cantidad de configuraciones:</label>
                                    @Html.DropDownListFor(model => model.PageSize, Model.PageSizesDropdownListOptions, new
                                        {
                                             @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                                <a href="/Admin/Configurations" class="btn btn-link" title="Limpiar búsqueda">Limpiar búsqueda</a>
                            </div>
                        </div>
                    </form>

                </div>
                @if (Model.Configurations != null &&
                                    Model.Configurations.Count() > 0)
                {
                    <text>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><small>ID</small></th>
                                        <th><small>Título</small></th>
                                        <th><small>Tipo</small></th>
                                        <th><small>Llave</small></th>
                                        <th><small>Opciones</small></th>
                                        <th><small>Permisos</small></th>
                                        <th><small>Editar</small></th>
                                        <th><small>Borrar</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Configurations)
                                    {
                                        <text>
                                            <tr>
                                                <td class="align-middle text-right"><small>@item.IDConfiguration</small></td>
                                                <td class="align-middle"><small>@item.Title</small></td>
                                                <td class="align-middle"><small>@item.ConfigurationType</small></td>
                                                <td class="align-middle"><small>@item.Key</small></td>
                                                <td class="align-middle text-center">
                                                    @if (item.ConfigurationType == "EnumerationClass")
                                                    {
                                                        <text>
                                                            <a href="@item.ItemLinkURL(@Model.ComebackParameters)"
                                                               class="btn topiccomeback" data-toggle="tooltip" title="@item.ItemLinkTitle">
                                                                <i class="fa fa-file"></i>
                                                            </a>
                                                        </text>
                                                    }
                                                </td>
                                                <td class="align-middle text-center">
                                                    <a href="@item.RolesLinkURL(Model.ComebackParameters)"
                                                       title="@item.RolesLinkTitle" class="btn" data-toggle="tooltip">
                                                        <i class="fa fa-user-lock"></i>
                                                    </a>
                                                </td>
                                                <td class="align-middle text-center">
                                                    <a href="@item.UpdateLinkURL(Model.ComebackParameters)"
                                                       title="@item.UpdateLinkTitle" class="btn" data-toggle="tooltip">
                                                        <i class="fa fa-pen"></i>
                                                    </a>

                                                </td>
                                                <td class="align-middle text-center">
                                                    <form action="/Admin/Configurations/Delete"
                                                          role="form" method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDConfiguration))
                                                        <button class="btn" data-toggle="tooltip"
                                                                title="Borrar flyer"
                                                                onclick="@item.DeleteButtonOnClick">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        </text>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <text>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link" href="@Model.FirstPageURL()" title="@Model.FirstPageTitle"><i class="fa fa-step-backward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link" href="@Model.BackPageURL()" title="@Model.BackPageTitle"><i class="fa fa-backward"></i></a></li>
                                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                        {
                                            if (i == Model.PageNumber)
                                            {
                                                <text>
                                                    <li class="page-item active"><a class="page-link" href="#">@i</a></li>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <li class="page-item"><a class="page-link" href="@Model.ToPageURL(i)" title="@Model.ToPageTitle(i)">@i</a></li>
                                                </text>
                                            }
                                        }
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link" href="@Model.NextPageURL()" title="@Model.NextPageTitle"><i class="fa fa-forward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link" href="@Model.LastPageURL()" title="@Model.LastPageTitle"><i class="fa fa-step-forward"></i></a></li>
                                    </ul>
                                </div>

                            </text>
                        }

                    </text>
                }
                else
                {
                    <p>
                        No hay configuraciones en la base de datos.
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}