﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Configurations.FormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Editar roles de la configuración";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/icheck-bootstrap/icheck-bootstrap.min.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl" title="@Model.BackButtonTitle"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@actionTitle</h3>
                </div>
                <form action="/Admin/Configurations/BindRoles" method="post"
                      class="needs-validation" novalidate
                      role="form">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                        @foreach (var item in Model.Roles)
                        {
                            <text>
                                <div class="icheck-primary">

                                    <input type="checkbox" value="@item" name="roles" id="role-@item.Replace(" ","-")"
                                           @if (Model.ConfigurationRoles.Contains(item)) { <text> checked="checked" </text> } />
                                    <label for="role-@item.Replace(" ","-")">
                                        @item
                                    </label>
                                </div>
                            </text>
                        }

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script
{
}
