﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Topics.ComebackParametersViewModel
@if (Model.HasIDTopic)
{
    <text>
        <input type="hidden" name="IDTopic" value="@Model.IDTopic" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="Columns" value="@Model.Columns" />