﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Topics.FormViewModel
<div class="form-group">
    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title"
           placeholder="Título del tema" maxlength="128"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título del tema.</div>
</div>
<div class="form-group">
    <label for="Summary">Sumario:</label>
    <textarea class="form-control" name="Summary" id="Summary" required maxlength="4000"
              placeholder="Sumario descriptivo del tema">@Model.Summary</textarea>
    <div class="invalid-feedback order-last">Ingrese el sumario del tema.</div>

</div>
<div class="form-group">
    <label for="Keywords">Keywords:</label>
    <input type="text" value="@Model.Keywords" required
           placeholder="Palabras claves del tema" maxlength="256"
           class="form-control" name="Keywords" id="Keywords" />
    <div class="invalid-feedback order-last">Ingrese al menos una keyword.</div>
</div>
@if (Model.AvailableEditions.Any())
{
    <text>
        <div class="form-group">
            <label>Contenidos:</label>
        </div>
    </text>
    foreach (var edition in Model.AvailableEditions)
    {
        <text>
            <div class="icheck-primary">

                <input type="checkbox" name="editions" id="edition-@edition.IDEdition"
                       @if (Model.Editions.Contains(edition.IDEdition)) { <text> checked</text>
                            }
                       value="@edition.IDEdition" />
                <label for="edition-@edition.IDEdition">
                    @edition.Title
                </label>
            </div>
        </text>
    }
}
