﻿@using Pixelario.CMS.Domain.Commons
@model Pixelario.CMS.Web.Areas.Admin.Models.Topics.FormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Fotos de {0}", Model.Title);
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}", Model.AppName, actionTitle);
}
@section Head
{
    <style>
        .custom-file-input:lang(es) ~ .custom-file-label::after {
            content: "Eligir archivo";
        }
    </style>
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div><div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl" title="@Model.BackButtonTitle"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Foto principal de @Model.Title</h3>
                </div>
                @if (!Model.HasHomeImage)
                {
                    <text>
                        <form action="/Admin/Topics/UploadHomeImage" method="post"
                              class="needs-validation" novalidate
                              enctype="multipart/form-data" role="form">
                            <div class="card-body">
                                <input type="hidden" name="ImageType" value="@ImageType.Home" />
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                <div class="form-group">
                                    <label for="HomeImage">Seleccione un archivo:</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input"
                                                   lang="es" required
                                                   id="HomeImage" name="HomeImage" />
                                            <label class="custom-file-label" for="HomeImage"></label>
                                        </div>
                                        <div class="input-group-append">
                                            <button type="submit" class="input-group-text">Subir</button>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted">Seleccione una imagen de tipo jpg o png</small>
                                </div>
                            </div>
                        </form>
                    </text>

                }
                else
                {
                    <text>
                        <form action="/Admin/Topics/RemoveImage" method="post"
                              role="form">
                            <div class="card-body">
                                <input type="hidden" name="ImageType" value="@ImageType.Home" />
                                @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                                <img src="@Model.GetHomeImage("raw")" class="img-fluid" alt="Foto principal de @Model.Title" title="Foto principal de @Model.Title" />
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Quitar</button>
                            </div>
                        </form>
                    </text>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
}

