﻿@model Pixelario.CMS.Web.Areas.Admin.Models.CacheRegisters.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = "Listado de todos los registros del cache";
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
}
@section Sidebar
{
    @Html.Partial("_SidebarLogs")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">

                        </div>
                    </div>

                   

                </div>
                @if (Model.CacheRegisters != null &&
                                    Model.CacheRegisters.Count() > 0)
                {
                    <text>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th><small>Key</small></th>                                                                              
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CacheRegisters)
                                    {
                                        <text>
                                            <tr>
                                                <td class="align-middle"><small>@item.Key</small></td>
                                            </tr>
                                        </text>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <text>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link" href="@Model.FirstPageURL()" title="@Model.FirstPageTitle"><i class="fa fa-step-backward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link" href="@Model.BackPageURL()" title="@Model.BackPageTitle"><i class="fa fa-backward"></i></a></li>
                                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                        {
                                            if (i == Model.PageNumber)
                                            {
                                                <text>
                                                    <li class="page-item active"><a class="page-link" href="#">@i</a></li>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <li class="page-item"><a class="page-link" href="@Model.ToPageURL(i)" title="@Model.ToPageTitle(i)">@i</a></li>
                                                </text>
                                            }
                                        }
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link" href="@Model.NextPageURL()" title="@Model.NextPageTitle"><i class="fa fa-forward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link" href="@Model.LastPageURL()" title="@Model.LastPageTitle"><i class="fa fa-step-forward"></i></a></li>
                                    </ul>
                                </div>

                            </text>
                        }

                    </text>
                }
                else
                {
                    <p>
                        No hay registros en cache.
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@section Script
{
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

}