﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Articles.FormViewModel
<div class="form-group">

    <label for="PublicationDate">Fecha de publicación:</label>
    <input type="date" name="PublicationDate" id="PublicationDate"
           class="form-control"
           @if (Model.PublicationDate.HasValue) { <text>
           value="@Model.PublicationDate.Value.ToString("yyyy-MM-dd")"
           </text>  } else { <text>
           value=""
           </text> } />
</div>
<div class="form-group">
    <label for="Title">Título:</label>
    <input type="text" value="@Model.Title"
           placeholder="Título de la página" maxlength="128"
           class="form-control" name="Title" id="Title" required />
    <div class="invalid-feedback order-last">Ingrese el título del articulo.</div>
</div>
<div class="form-group">
    <label for="Summary">Sumario:</label>
    <textarea class="form-control maxlenght" name="Summary" id="Summary" required
              maxlength="4000"
              placeholder="Sumario descriptivo del articulo">@Model.Summary</textarea>
    <div class="invalid-feedback order-last">Ingrese el sumario del articulo.</div>
</div>
<div class="form-group">

    <label for="Body">Cuerpo:</label>
    <textarea id="Body" name="Body" required>
        @Model.Body
    </textarea>
</div>
<div class="form-group">
    <label for="Source">Fuente:</label>
    <input type="text" value="@Model.Source"
           placeholder="Fuente del articulo"
           maxlength="128"
           class="form-control" name="Source" id="Source" />
</div>
<div class="form-group">
    <label for="Keywords">Keywords:</label>
    <input type="text" value="@Model.Keywords"
           placeholder="Keywords del articulo"
           maxlength="256"
           class="form-control" name="Keywords" id="Keywords" required />
</div>
@if (Model.Edition.Topics.Any())
{
    <text>
        <div class="form-group">
            <label for="">Temas:</label>
        </div>
        <div class="form-group" style="float:left;">
            <table>
                @foreach (var topic in Model.Edition.Topics)
                {
                    <tr>
                        <td style="border:none;">
                            <div class="icheck-primary">
                                <input type="checkbox" name="Topics" id="topic-@topic.IDTopic"
                                       @if (Model.Topics.Contains(topic.IDTopic)) { <text> checked</text>
                               }
                                       value="@topic.IDTopic" />
                                <label for="topic-@topic.IDTopic">
                                    @topic.Title
                                </label>
                            </div>
                        </td>
                        <td style="border:none;"></td>
                    </tr>
                    <tr>
                        <td style="border:none;"></td>
                        <td style="border:none;">
                            @if (topic.SubTopics.Any())
                            {
                                <table>
                                    @foreach (var subTopic in topic.SubTopics)
                                    {
                                        <tr>
                                            <td style="border:none;">
                                                <div class="icheck-primary">

                                                    <input type="checkbox" name="SubTopics" id="subtopic-@subTopic.IDSubTopic"
                                                           @if (Model.SubTopics.Contains(subTopic.IDSubTopic)) { <text> checked</text>
                                            }
                                                           value="@subTopic.IDSubTopic" />
                                                    <label for="subtopic-@subTopic.IDSubTopic">
                                                        @subTopic.Title
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="clearfix"></div>
    </text>
}
@if (Model.Scripts != null && Model.Scripts.Count > 0)
{
    <text>
        <div class="form-group">
            <label for="">Extensiones:</label>
        </div>
        <div class="form-group" style="float:left;">
            @foreach (var script in Model.Scripts)
            {
                <text>
                    <div class="icheck-primary">
                        <input id="script-@script.Value" type="checkbox" name="Scripts" value="@script.Value" @if (script.Selected) { <text> checked=</text>} /> <label for="script-@script.Value">@script.Text</label>
                    </div>
                </text>
            }
        </div>
        <div class="clearfix"></div>
    </text>
}
