﻿@model Pixelario.CMS.Web.Areas.Admin.Models.Articles.ComebackParametersViewModel
@if (Model.HasIDArticle)
{
    <text>
        <input type="hidden" name="IDArticle" value="@Model.IDArticle" />
    </text>
}
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="Columns" value="@Model.Columns" />
<input type="hidden" name="EditionPageNumber" value="@Model.EditionPageNumber" />
<input type="hidden" name="EditionPageSize" value="@Model.EditionPageSize" />
<input type="hidden" name="EditionColumns" value="@Model.EditionColumns" />
<input type="hidden" name="SearchText" value="@Model.SearchText" />
<input type="hidden" name="PublicationDateParameter" value="@Model.PublicationDate" />
<input type="hidden" name="Enable" value="@Model.Enable" />
<input type="hidden" name="AtHome" value="@Model.AtHome" />
<input type="hidden" name="PlaceAtHomeParameter" value="@Model.PlaceAtHome" />
<input type="hidden" name="OrderBy" value="@Model.OrderBy" />
<input type="hidden" name="OrderDirection" value="@Model.OrderDirection" />