﻿@using Pixelario.CMS.Domain.Commons
@using Pixelario.CMS.Domain.AggregatesModel.Editions
@model Pixelario.CMS.Web.Areas.Admin.Models.Articles.CropImagesViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Fotos de {0}", Model.Title);
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}", Model.AppName, actionTitle);
}
@section Head
{
    <link href="/Areas/Admin/lib/cropper/cropper.min.css" rel="stylesheet" />
    <style>
        .custom-file-input:lang(es) ~ .custom-file-label::after {
            content: "Eligir archivo";
        }

        #image {
            width: 100%; /* This rule is very important, please do not ignore this! */
        }
    </style>
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")
}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl" title="@Model.BackButtonTitle"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    @Html.ValidationSummary(false, "", new { @class = "errorbox" })
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-10">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Foto principal de @Model.Title</h3>
                </div>
                <form action="/Admin/Articles/CropImage" method="post"
                      role="form">
                    <div class="card-body">
                        @Html.Partial("_RowHiddenInputs", Model.ComebackParameters)
                        <input type="hidden" name="Action" value="@Model.ActionName" />
                        <input type="hidden" name="XPoint" value="" />
                        <input type="hidden" name="YPoint" value="" />
                        <input type="hidden" name="NaturalWidth" value="" />
                        <input type="hidden" name="Width" value="" />
                        <input type="hidden" name="Height" value="" />

                        <div>

                            <img src="@Model.GetHomeImage("raw")"
                                 id="image"
                                 class="img-fluid"
                                 alt="Foto principal de @Model.Title"
                                 title="Foto principal de @Model.Title" />

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Cortar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script src="/Areas/Admin/lib/cropper/cropper.min.js"></script>
    <script>
        $(function () {
            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);


            var $image = $('#image');
            $('input[name=NaturalWidth]').val($image[0].width);
            $image.cropper({
                movable: false,
                rotatable: false,
                scalable: false,
                zoomable: false,
                aspectRatio: @Model.Ratio,
                crop: function (event) {
                    $('input[name=XPoint]').val(event.detail.x);
                    $('input[name=YPoint]').val(event.detail.y);
                    $('input[name=Width]').val(event.detail.width);
                    $('input[name=Height]').val(event.detail.height);
                    
                    console.log('x: '+ event.detail.x);
                    console.log('y: '+ event.detail.y);
                    console.log('w: '+ event.detail.width);
                    console.log('h: '+ event.detail.height);
                }
            });

            // Get the Cropper.js instance after initialized
            var cropper = $image.data('cropper');


        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
}
