﻿@using Pixelario.CMS.Domain.AggregatesModel.Articles;
@using Pixelario.CMS.Domain.AggregatesModel.Editions;
@model Pixelario.CMS.Web.Areas.Admin.Models.Articles.IndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminLTe.cshtml";
    var actionTitle = string.Format("Listado de items de {0}", Model.Edition.Title);
    ViewBag.Title = string.Format("{0} - Administrador de contenidos - {1}",
        Model.AppName, actionTitle);
}
@section Head
{
    <link rel="stylesheet" href="/Areas/Admin/lib/bootstrap-table/bootstrap-table.min.css">
}
@section Sidebar
{
    @Html.Partial("_SidebarContent")

}
@section PageHeader{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@actionTitle</h1>
            </div><div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Model.BackButtonUrl"><small class="fa fa-arrow-left"></small> @Model.BackButtonTitle</a></li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="container-fluid">
    @if (TempData["success"] != null)
    {
        <text>
            <div class="alert alert-success" role="alert">
                @TempData["success"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }
    @if (TempData["errors"] != null)
    {
        var errorsList = (List<string>)TempData["errors"];
        foreach (var error in errorsList)
        {
            <text>
                <div class="alert alert-warning" role="alert">
                    @error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </text>
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <div class="float-lg-right">
                                <a href="@Model.CreatePageButtonLink" title="@Model.CreatePageButtonTitle"
                                   class="btn btn-tools comeback" data-toggle="tooltip">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form method="post" action="/Admin/Articles" role="form">
                        <input type="hidden" name="IDEdition" value="@Model.Edition.IDEdition" />
                        <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                        <div class="row">
                            <div class="col-9">
                                <div class="form-group">
                                    <label>Texto de búsqueda:</label>
                                    @Html.TextBoxFor(model => model.SearchText, new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-3">
                                @if (Model.Edition.EditionType == EditionType.News ||
                                    Model.Edition.EditionType == EditionType.Information)
                                {
                                    <div class="form-group">
                                        <label>
                                            Fecha de publicación:
                                        </label>
                                        @Html.TextBoxFor(model => model.PublicationDate,
                                             new
                                             {
                                                    @type = "date",
                                                    @class = "form-control"
                                             })
                                    </div>
                                }

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>
                                        Habilitación:
                                    </label>
                                    @Html.DropDownListFor(model => model.Enable,
                                        Model.YesNoDropdownListOptions, new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>En portada:</label>
                                    @Html.DropDownListFor(model => model.AtHome,
                                        Model.YesNoDropdownListOptions, new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-4">
                                @if (Model.Edition.EditionType == EditionType.News ||
                                                                            Model.Edition.EditionType == EditionType.Flyer ||
                                                                            Model.Edition.EditionType == EditionType.Information)
                                {
                                    <div class="form-group">
                                        <label>
                                            Posición en portada:
                                        </label>
                                        @Html.DropDownList("PlacesAtHome", Model.PlacesAtHomeListOptions, new
                                        {
                                            @class = "form-control"
                                        })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>
                                        Ordenado por:
                                    </label>
                                    @Html.DropDownList("OrderBy", Model.OrderByDropdownListOptions, new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>
                                        Dirección del orden:
                                    </label>
                                    @Html.DropDownList("OrderDirection", Model.OrderDirectionDropdownListOptions, new
                                        {
                                            @class = "form-control"
                                        })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>
                                        Cantidad de árticulo:
                                    </label>
                                    @Html.DropDownList("PageSize", Model.PageSizesDropdownListOptions, new
                                    {
                                         @class = "form-control"
                                    })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                                <a href="/Admin/Articles/Index/@Model.Edition.IDEdition" title="Limpiar búsqueda" class="btn btn-link">Limpiar búsqueda</a>
                            </div>
                        </div>
                    </form>
                </div>
                @if (Model.Articles != null && Model.Articles.Count() > 0)
                {
                    <text>
                        <div class="card-body">
                            <table id="table" class="table" data-toggle="table" data-show-columns="true">
                                <thead class="thead-dark">
                                                        <tr>
                                                            <th rowspan="2" class="align-middle" data-switchable="false"><small>ID</small></th>
                                                            <th rowspan="2" class="align-middle" data-switchable="false"><small>Título</small></th>
                                                            <th rowspan="2" class="align-middle" @Model.ColumnVisible("2")><small>Preview</small></th>
                                                            <th rowspan="2" class="align-middle" @Model.ColumnVisible("3")><small>Multimedios</small></th>

                                                            @if (Model.Edition.EditionType == EditionType.News ||
                                                                Model.Edition.EditionType == EditionType.Flyer)
                                                            {
                                                                <th colspan="3" class="text-center"><small>Inicio</small></th>
                                                                <th rowspan="2" class="align-middle" @Model.ColumnVisible("7")><small>Habilitado</small></th>
                                                                <th rowspan="2" class="align-middle" @Model.ColumnVisible("8")><small>Editar</small></th>
                                                            }
                                                            else
                                                            {
                                                                <th colspan="2" class="text-center"><small>Inicio</small></th>
                                                                <th rowspan="2" class="align-middle" @Model.ColumnVisible("6")><small>Habilitado</small></th>
                                                                <th rowspan="2" class="align-middle" @Model.ColumnVisible("7")><small>Editar</small></th>
                                                            }
                                                            @if (User.IsInRole("Super Administrador"))
                                                            {
                                                                if (Model.Edition.EditionType == EditionType.News ||
                                                                  Model.Edition.EditionType == EditionType.Flyer)
                                                                {
                                                                    <text>
                                                                        <th rowspan="2" class="align-middle" @Model.ColumnVisible("9")><small>Borrar</small></th>
                                                                    </text>
                                                                }
                                                                else
                                                                {
                                                                    <text>
                                                                        <th rowspan="2" class="align-middle" @Model.ColumnVisible("8")><small>Borrar</small></th>
                                                                    </text>
                                                                }
                                                            }
                                                        </tr>
                                    <tr>
                                        <th @Model.ColumnVisible("4", false)><small>Orden</small></th>
                                        @if (Model.Edition.EditionType == EditionType.News ||
                                            Model.Edition.EditionType == EditionType.Flyer)
                                        {
                                            <th @Model.ColumnVisible("5", false)><small>Posición</small></th>
                                            <th @Model.ColumnVisible("6", false)><small>Inicio</small></th>
                                        }
                                        else
                                        {
                                            <th @Model.ColumnVisible("5", false)><small>Inicio</small></th>

                                        }
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Articles)
                                    {
                                        var index = Model.Articles.IndexOf(item);
                                        <tr>
                                            <td class="align-middle text-right"><small>@item.IDArticle</small></td>
                                            <td class="align-middle"><small>@item.Title</small></td>
                                            <td class="align-middle text-center">
                                                <a href="@item.PreviewURL" target="_blank"
                                                   title="Preview" class="btn" data-toggle="tooltip">
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                            </td>

                                            <td class="align-middle text-center">
                                                @if (Model.Edition.EditionType == EditionType.News ||
Model.Edition.EditionType == EditionType.Especial_Content ||
Model.Edition.EditionType == EditionType.Information)
                                                {
                                                    <div style="min-width:9rem;">

                                                        <a href="@item.MultimediaLinkURL(Model.ComebackParameters)"
                                                           title="@item.MultimediaLinkTitle"
                                                           class="btn comeback" data-toggle="tooltip">
                                                            <i class="fa fa-file-image"></i>
                                                        </a>
                                                        <a href="@item.DocumentsLinkURL(Model.ComebackParameters)"
                                                           title="@item.DocumentsLinkTitle"
                                                           class="btn comeback" data-toggle="tooltip">
                                                            <i class="fa fa-file"></i>
                                                        </a>
                                                        <a href="@item.WidgetsLinkURL(Model.ComebackParameters)"
                                                           title="@item.WidgetsLinkTitle"
                                                           class="btn comeback" data-toggle="tooltip">
                                                            <i class="fa fa-photo-video"></i>
                                                        </a>
                                                    </div>
                                                }
                                                @if (Model.Edition.EditionType == EditionType.Flyer)
                                                {

                                                    <a href="/Admin/Articles/Links/@item.IDArticle?pageNumber=@Model.PageNumber &pageSize=@Model.PageSize"
                                                       class="btn" data-toggle="tooltip"
                                                       title="Links del artículo"> <i class="fa fa-chain"></i></a>

                                                }
                                            </td>
                                            <td class="align-middle">
                                                @if (item.Enabled && item.AtHome && (Model.Edition.EditionType != EditionType.News ||
item.PlaceAtHome != ArticlePlaceAtHome.None))
                                                {
                                                    <text>
                                                        <form id="Orden@(item.IDArticle)" action="/Admin/Articles/ChangeHomeOrder"
                                                              role="form" method="post">
                                                            @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDArticle))
                                                            <div class="input-group input-group-sm">
                                                                <input type="number" min="1" required style=""
                                                                       class="form-control" name="Order" value="@item.Order" />
                                                                <div class="invalid-feedback order-last">Ingrese un número mayor a 1.</div>
                                                                <div class="input-group-append">
                                                                    <button type="submit" class="btn btn-info btn-flat"
                                                                            data-toggle="tooltip" title="Cambiar el orden de la árticulo">
                                                                        Cambiar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </text>
                                                }
                                            </td>
                                            @if (Model.Edition.EditionType == EditionType.News ||
Model.Edition.EditionType == EditionType.Flyer)
                                            {
                                                <td class="align-middle">
                                                    @if (item.Enabled && item.AtHome)
                                                    {
                                                        <form action="/Admin/Articles/ChangePlaceAtHome"
                                                              role="form" class="PlaceAtHome" method="post">
                                                            @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDArticle))
                                                            <div class="form-group mb-0">
                                                                <select name="PlaceAtHome" class="form-control-sm"
                                                                        data-toggle="tooltip" title="Cambiar posición del articulo">
                                                                    <option value="0">None</option>
                                                                    @foreach (var placeAtHome in Model.PlacesAtHome)
                                                                    {
                                                                        <option value="@placeAtHome.Id"
                                                                                @if (placeAtHome.Id == item.PlaceAtHome.Id) { <text> selected</text>}>
                                                                            @placeAtHome.Title
                                                                        </option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </form>
                                                    }
                                                </td>
                                            }
                                            <td class="align-middle text-center">
                                                @if (item.Enabled)
                                                {
                                                    <form action="/Admin/Articles/ToHome" method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDArticle))
                                                        <button class="btn" onclick="@item.AtHomeButtonOnClick" data-toggle="tooltip"
                                                                title="@item.AtHomeButtonTitle">
                                                            <i class="fa @item.AtHomeButtonClass"></i>
                                                        </button>
                                                    </form>
                                                }
                                            </td>
                                            <td class="align-middle text-center">
                                                <form action="/Admin/Articles/Enable" method="post">
                                                    @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDArticle))
                                                    <button class="btn" onclick="@item.EnabledButtonOnClick" data-toggle="tooltip"
                                                            title="@item.EnableButtonTitle">
                                                        <i class="fa @item.EnableButtonClass"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="@item.UpdateLinkURL(Model.ComebackParameters)"
                                                   title="@item.UpdateLinkTitle" class="btn comeback" data-toggle="tooltip">
                                                    <i class="fa fa-pen"></i>
                                                </a>

                                            </td>
                                            @if (User.IsInRole("Super Administrador"))
                                            {
                                                <td class="align-middle text-center">
                                                    <form action="/Admin/Articles/Delete" method="post">
                                                        @Html.Partial("_RowHiddenInputs", Model.GetComebackParameters(item.IDArticle))
                                                        <button class="btn" data-toggle="tooltip"
                                                                title="Borrar article"
                                                                onclick="@item.DeleteButtonOnClick">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <text>
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.FirstPageURL()" title="@Model.FirstPageTitle"><i class="fa fa-step-backward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == 1) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.BackPageURL()" title="@Model.BackPageTitle"><i class="fa fa-backward"></i></a></li>
                                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                        {
                                            if (i == Model.PageNumber)
                                            {
                                                <text>
                                                    <li class="page-item active"><a class="page-link" href="#">@i</a></li>
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                    <li class="page-item"><a class="page-link comeback" href="@Model.ToPageURL(i)" title="@Model.ToPageTitle(i)">@i</a></li>
                                                </text>
                                            }
                                        }
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.NextPageURL()" title="@Model.NextPageTitle"><i class="fa fa-forward"></i></a></li>
                                        <li class="page-item @if (Model.PageNumber == Model.PageCount) {<text>disabled</text> }"><a class="page-link comeback" href="@Model.LastPageURL()" title="@Model.LastPageTitle"><i class="fa fa-step-forward"></i></a></li>
                                    </ul>
                                </div>
                            </text>
                        }

                    </text>
                }
                else
                {
                    <text>
                        <div class="card-footer clearfix">
                            No hay Artículos en la Base de datos.
                        </div>
                    </text>

                }
            </div>
        </div>
    </div>
</div>

@section Script
{
    <script src="/Areas/Admin/lib/bootstrap-table/bootstrap-table.min.js"></script>

    <script>
        $(function () {
            $('#table').on('column-switch.bs.table', function (e, field, checked) {
                var fields = $('#table').bootstrapTable('getVisibleColumns').map(function (it) {
                    return it.field
                });
                $('input[name="Columns"]').val(fields);
                $('.card a.comeback').each(function () {
                    var oldUrl = $(this).attr('href');
                    var newUrl = "";
                    if (oldUrl.indexOf("&columns=") >= 0 || oldUrl.indexOf("?columns=") >= 0)
                        newUrl = updateURLParameter(oldUrl, "columns", fields);
                    else if (oldUrl.indexOf("?") >= 0)
                        newUrl = oldUrl + "&columns=" + fields;
                    else
                        newUrl = oldUrl + "?columns=" + fields;
                    $(this).attr('href', newUrl);
                });

                $('.PlaceAtHome select').change(function () {
                    var form = $(this).parents('form:first');
                    if (form != null)
                        form.submit();
                });
            });

            $('.alert').alert()
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
            $('.PlaceAtHome select').change(function () {
                var form = $(this).parents('form:first');
                if (form != null)
                    form.submit();
            });
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        var updateURLParameter = function (url, param, paramVal) {
            var newAdditionalURL = "";
            var tempArray = url.split("?");
            var baseURL = tempArray[0];
            var additionalURL = tempArray[1];
            var temp = "";
            if (additionalURL) {
                tempArray = additionalURL.split("&");
                for (var i = 0; i < tempArray.length; i++) {
                    if (tempArray[i].split('=')[0] != param) {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            }
            var rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }

    </script>

}
