﻿@using Pixelario.CMS.Domain.Commons
@model Pixelario.CMS.Web.Areas.Admin.Models.Articles.FormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
        ViewBag.Title = string.Format("{0} - Administrador de contenidos - Links de {1}",Model.AppName, Model.Title);
}

@if (TempData["success"] != null)
{
    <text><div class="successbox"><ul><li>@TempData["success"]</li></ul></div></text>
}
@if (TempData["errors"] != null)
{
    var errorsList = (List<string>)TempData["errors"];
    <div class="errorbox">
        <ul>
            @foreach (var error in errorsList)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
<div id="box">
    <div>
        <h3>
            Flyer de @Model.Title
        </h3>

        @using (Html.BeginForm("UploadLink", "Articles", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="IDArticle" value="@Model.IDArticle" />
            <input type="hidden" name="IDEdition" value="@Model.Edition.IDEdition" />
            <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
            <input type="hidden" name="PageSize" value="@Model.PageSize" />
            @Html.Partial("_SearchAndPagingInputs", Model.SearchAndPagingOptions)
            <fieldset>
                <legend>
                    Subir flyer
                </legend>
                <label for="MultimediaLink">URL del flyer</label>
                <input type="hidden" name="MultimediaTitle" value="@Model.Title" />
                <input type="text" name="MultimediaLink" id="MultimediaLink" value="@Model.MultimediaLink" />
                <br />
                <label for="GalleryImage">
                    Seleccione un archivo:
                </label>
                <input type="file" id="LinkyImage" name="LinkyImage" />
                <br />
            </fieldset>
            <div class="alignCenter">
                <input type="submit" value="Guardar" />
                <a href="/Admin/Articles/Index/@Model.IDEdition?PageNumber=@Model.PageNumber&PageSize=@Model.PageSize&@Model.SearchAndPagingOptions.ToString()"
                   title="Continuar">
                    Continuar
                </a>
            </div>
        }
        <div>
            @if (Model.Multimedia != null && Model.Multimedia.Count() > 0)
            {
                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Título
                            </th>
                            <th>
                            </th>
                            <th style="width: 80px;">
                                Borrar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Multimedia)
                        {
                            <tr>
                                <td class="alignRight">
                                    @item.IDMultimedia
                                </td>
                                <td>
                                    <a href="@item.Path2" title="Link" target="_blank">
                                        @item.Path2
                                    </a>
                                </td>
                                <td>
                                    <img src="@item.Path1" alt="@item.Title" title="@item.Title" />
                                </td>
                                <td>
                                    @using (Html.BeginForm("RemoveLink", "Articles"))
                                    {
                                        <input type="hidden" name="IDMultimedia" value="@item.IDMultimedia" />
                                        <input type="hidden" name="IDArticle" value="@Model.IDArticle" />
                                        <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                        <input type="hidden" name="PageSize" value="@Model.PageSize" />
                                        @Html.Partial("_SearchAndPagingInputs", Model.SearchAndPagingOptions)
                                        <input type="image" src="/img/icons/bin.png" value="Borrar link" title="Eliminar link"
                                               onclick="@item.OnclickEliminar" alt="Borrar link" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
@section Script
{
}
@section Sidebar
{
    @Html.Partial("_SidebarContent");
}
