﻿@using Pixelario.CMS.Domain.Commons;
@using Pixelario.CMS.Web.Enumerations;
@model Pixelario.CMS.Web.Areas.Admin.Models.Commons.ConfigurationsViewModel
@if (Model.ConfigurationsLists.Count() > 0)
{
    foreach (var list in Model.ConfigurationsLists)
    {
        if (list.Configurations.Count(c =>
            c.ConfigurationType != ConfigurationType.Image &&
            c.ConfigurationType != ConfigurationType.File &&
            c.ConfigurationType != ConfigurationType.EnumerationValue &&
            c.ConfigurationType != ConfigurationType.EnumerationClass) > 0)
        {
            <text>
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">@list.Section</h3>
                        </div>
                        <form action="/Admin/@Model.ControllerName/Configurations" method="post"
                              class="needs-validation" novalidate
                              role="form">
                            <input type="hidden" name="section" value="@list.Section" />
                            <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                            <input type="hidden" name="PageSize" value="@Model.PageSize" />

                            <div class="card-body">
                                @foreach (var item in list.Configurations.Where(c =>
                                c.ConfigurationType != ConfigurationType.Image &&
                                c.ConfigurationType != ConfigurationType.File &&
c.ConfigurationType != ConfigurationType.EnumerationClass &&
c.ConfigurationType != ConfigurationType.EnumerationValue))
                                {

                                    switch (item.ConfigurationType)
                                    {
                                        case ConfigurationType.BoolOption:
                                            <input type="hidden" name="@item.Setting" value="!checkbox" />
                                            <div class="icheck-primary">
                                                <input type="checkbox" name="@item.Setting" id="@item.InputTagID"
                                                       @if (item.State == "on") { <text> checked</text>} /> <label for="@item.InputTagID">
                                                    @item.Title
                                                </label>
                                            </div>
                                            break;
                                        case ConfigurationType.AreaText:
                                            <div class="form-group">
                                                <label for="@item.InputTagID">@item.Title:</label>
                                                <textarea class="form-control" name="@item.Setting" id="@item.InputTagID" maxlength="255">@item.State</textarea>
                                            </div>
                                            break;
                                        case ConfigurationType.LineText:
                                            <div class="form-group">
                                                <label for="@item.InputTagID">@item.Title:</label>
                                                <input type="text" class="form-control" name="@item.Setting" id="@item.InputTagID" value="@item.State"  maxlength="255"/>
                                            </div>
                                            break;
                                        case ConfigurationType.MaskedText:
                                            <label for="@item.InputTagID">@item.Title:</label>
                                            if (!string.IsNullOrEmpty(item.State))
                                            {
                                                var spaces = "";
                                                for (int i = 0; i < item.State.Length; i++)
                                                {
                                                    spaces += " ";
                                                }
                                                <input type="password" class="withMaskedText"
                                                       value="@spaces" disabled maxlength="255"
                                                       id="desabled-@item.Setting" />
                                                <input type="password" class="withMaskedText" disabled style="display:none;"
                                                       id="input-@item.Setting" name="@item.Setting"  maxlength="255"/>
                                                <a id="change-@item.Setting" href="javascript:void(0)" onclick="enableInput('@item.Setting');">Cambiar</a>
                                                <a id="cancel-@item.Setting" href="javascript:void(0)" onclick="disableInput('@item.Setting', '@spaces');" style="display:none;">Cancelar</a>
                                            }
                                            else
                                            {
                                                <input type="password" name="@item.Setting" id="@item.InputTagID"  maxlength="255"/>

                                            }
                                            break;
                                    }
                                }

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </text>

        }
        if (list.Configurations.Count(c =>
            c.ConfigurationType == ConfigurationType.Image ||
            c.ConfigurationType == ConfigurationType.File ||
            c.ConfigurationType == ConfigurationType.EnumerationClass) > 0)
        {
            foreach (var item in list.Configurations.Where(c => c.ConfigurationType == ConfigurationType.Image))
            {
                <text>
                    <div class="col-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@list.Section</h3>
                            </div>
                            <form action="/Admin/@Model.ControllerName/UploadImage" method="post"
                                  class="needs-validation" novalidate
                                  enctype="multipart/form-data" role="form">
                                <input type="hidden" name="section" value="@list.Section" />
                                <input type="hidden" name="Setting" value="@item.Setting" />
                                <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                <input type="hidden" name="PageSize" value="@Model.PageSize" />

                                <div class="card-body">
                                    @if (!string.IsNullOrEmpty(item.State))
                                    {
                                        <text>
                                            <img src="@item.State" class="img-fluid" alt="" title="" />
                                        </text>
                                    }
                                    <div class="form-group">
                                        <label for="@item.InputTagID">Seleccione un archivo:</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                       lang="es" required
                                                       id="@item.InputTagID" name="Image" />
                                                <label class="custom-file-label" for="Image"></label>
                                            </div>
                                            <div class="input-group-append">
                                                <button type="submit" class="input-group-text">Subir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </text>
            }
            foreach (var item in list.Configurations.Where(c => c.ConfigurationType == ConfigurationType.File))
            {
                <text>
                    <div class="col-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@list.Section</h3>
                            </div>
                            <form action="/Admin/@Model.ControllerName/UploadFile" method="post"
                                  class="needs-validation" novalidate
                                  enctype="multipart/form-data" role="form">
                                <input type="hidden" name="section" value="@list.Section" />
                                <input type="hidden" name="Setting" value="@item.Setting" />
                                <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                <input type="hidden" name="PageSize" value="@Model.PageSize" />

                                <div class="card-body">
                                    @if (!string.IsNullOrEmpty(item.State))
                                    {
                                        <text>

                                            <a href="@item.State" class="btn btn-link" target="_blank" title="">Ver archivo actual</a>
                                        </text>
                                    }
                                    <div class="form-group">
                                        <label for="@item.InputTagID">Seleccione un archivo:</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                       lang="es" required
                                                       id="@item.InputTagID" name="File" />
                                                <label class="custom-file-label" for="File"></label>
                                            </div>
                                            <div class="input-group-append">
                                                <button type="submit" class="input-group-text">Subir</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </text>
            }
            foreach (var item in list.Configurations.Where(c => c.ConfigurationType == ConfigurationType.EnumerationClass))
            {
                <text>
                    <div class="col-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">@list.Section</h3>
                            </div>
                            <form action="/Admin/@Model.ControllerName/Enumeration" method="post"
                                  class="needs-validation" novalidate
                                  role="form">
                                <input type="hidden" name="section" value="@list.Section" />
                                <input type="hidden" name="Setting" value="@item.Setting" />
                                <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
                                <input type="hidden" name="PageSize" value="@Model.PageSize" />

                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="@item.Setting">@item.Title:</label>
                                        <select class="form-control" name="@item.Setting" id="@item.Setting">
                                            <option value="-1">Ninguno</option>
                                            @foreach (var assembly in Model.TypeOfEnumerations)
                                            {
                                                <text>
                                                    <option value="@assembly"
                                                            @if (item.State == assembly) { <text> selected="selected" </text> }>
                                                        @assembly
                                                    </option>
                                                </text>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        @if (item.State != null && item.State != "-1")
                                        {
                                            string valueOption = "";
                                            var valueConfiguration = list.Configurations
                                                .Where(c => c.ConfigurationType == ConfigurationType.EnumerationValue)
                                                .FirstOrDefault(c => c.Section == item.Section && c.Setting == "value");
                                            if (valueConfiguration != null)
                                            {
                                                valueOption = valueConfiguration.State;
                                            }
                                            <text>
                                                <label for="value">Valor:</label>
                                                <select class="form-control" name="value" id="value">
                                                    @foreach (var option in EnumerationsTool.GetOptionsFrom(item.State))
                                                    {
                                                        <option value="@option"
                                                                @if (valueOption == option) { <text> selected="selected" </text> }>
                                                            @option
                                                        </option>
                                                    }
                                                </select>
                                            </text>
                                        }

                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </text>
            }
        }
    }
}
else
{
    <text>
        <p>
            No hay configuraciones disponibles.
        </p>
    </text>
}

