﻿@using Pixelario.CMS.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Areas/Admin/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Areas/Admin/lib/admin-lte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/Areas/Admin/css/skin-blue.css" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head")
    }
</head>
<body class="skin-blue hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Modules")
            }
            <!-- Right navbar links -->
            <div class="navbar-custom-menu  ml-auto">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                            <i class="fas fa-cogs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link" target="_blank">
                <img src="/uploads/img/logo-admin.png" alt="@ViewBag.Title" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Administrador</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@User.Identity.GetPicture()" class="img-circle elevation-2" alt="@User.Identity.GetFullName()">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.GetFullName()</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    @if (IsSectionDefined("Sidebar"))
                    {
                        @RenderSection("Sidebar")
                    }
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <div class="content-header">
                @if (IsSectionDefined("PageHeader"))
                {
                    @RenderSection("PageHeader")
                }
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                @RenderBody()
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#control-sidebar-secuity" data-toggle="tab" aria-expanded="true"><i class="fa fa-user"></i></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="control-sidebar-secuity">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="tree">

                        <li class="nav-item">
                            <a href="/Admin/Users/MyProfile"
                               title="Cambiar mi perfil" class="nav-link"><i class="nav-icon fa fa-user"></i><p>Cambiar perfil</p></a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Users/MyPassword"
                               title="Cambiar contraseña" class="nav-link"><i class="nav-icon fa fa-key"></i><p>Cambiar contraseña</p></a>
                        </li>
                        <li class="nav-divider"></li>
                        <li class="nav-item">

                            <form action="/Admin/Account/Logoff" method="post" class="form-inline" role="form">
                                @Html.AntiForgeryToken()

                                <button title="Salir" class="btn btn-link nav-link" role="link">
                                    <i class="nav-icon fa fa-sign-out-alt"></i>  Salir
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                <a href="/Manual/Releases.html" title="Releases" target="_blank">Version @Model.AppVersion</a>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2019 - @DateTime.Now.Year Desarrollo por <a href='http://www.pixelario.com.ar/?ref=admin_' target="_blank" title="Desarrollado por Pixelario">Pixelario</a>.</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="/Areas/Admin/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Areas/Admin/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Areas/Admin/lib/admin-lte/dist/js/adminlte.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @if (IsSectionDefined("Script"))
    {
        @RenderSection("Script")
    }
</body>
</html>
