﻿<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        @Html.ActionLink("Contenido", "Index", "Editions", null, new { @title = "Contenidos", @class = "nav-link" })
    </li>
    @if (User.IsInRole("Super Administrador"))
    {
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Users/Index" title="Usuarios" class="nav-link">Seguridad</a>
        </li>
    }
    @if (Model.SubscriptionsEnable)
    {
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Accounts/Index" title="Subscripciones" class="nav-link">Subscripciones</a>
        </li>
    }
    @if (User.IsInRole("Super Administrador"))
    {
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/LogEvents/Index" title="Logs" class="nav-link">Logs</a>
        </li>
    }
</ul>
