﻿<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="/Admin/Editions/Index" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>Contenidos</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Admin/Advertisments/Index" class="nav-link">
            <i class="nav-icon fas fa-external-link-alt"></i>
            <p>Flyers</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Admin/Topics/Index" class="nav-link">
            <i class="nav-icon fas fa-tags"></i>
            <p>Temas</p>
        </a>
    </li>
    @if (this.User.IsInRole("Super Administrador"))
    {
        <li class="nav-item">
            <a href="/Admin/Configurations/Index" class="nav-link">
                <i class="nav-icon fas fa-cogs"></i>
                <p>Configuraciones</p>
            </a>
        </li>

    }
</ul>