﻿<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="/Admin/Users/Index" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Listado de usuarios</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Admin/Roles/Index" class="nav-link">
            <i class="nav-icon fas fa-user-lock"></i>
            <p>Listado de roles</p>
        </a>
    </li>
</ul>
