﻿<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="/Admin/LogEvents/Index" class="nav-link">
            <i class="nav-icon fas fa-history"></i>
            <p>Listado de logs</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Admin/CacheRegisters/Index" class="nav-link">
            <i class="nav-icon fas fa-server"></i>
            <p>Registros en Cache</p>
        </a>
    </li>
</ul>
