﻿<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="/Admin/Accounts/Index" class="nav-link">
            <i class="nav-icon fas fa-id-badge"></i>
            <p>Cuentas</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="/Admin/Plans/Index" class="nav-link">
            <i class="nav-icon fas fa-money-check-alt"></i>
            <p>Planes</p>
        </a>
    </li>
</ul>