﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ConfigurationOptions.FormViewModel
<div class="form-group">
    <label for="Value">Value:</label>
    <input type="text" value="@Model.Value"
           placeholder="Valor de la opción"  maxlength="128"
           class="form-control" name="Value" id="Value" required />
    <div class="invalid-feedback order-last">Ingrese el valor de la opción.</div>
</div>