﻿@model Pixelario.CMS.Web.Areas.Admin.Models.ConfigurationOptions.ComebackParametersViewModel
@if (Model.HasIDConfigurationOption)
{
    <text>
        <input type="hidden" name="IDConfigurationOption" value="@Model.IDConfigurationOption" />
    </text>
}
<input type="hidden" name="IDConfiguration" value="@Model.IDConfiguration" />
<input type="hidden" name="PageNumber" value="@Model.PageNumber" />
<input type="hidden" name="PageSize" value="@Model.PageSize" />
<input type="hidden" name="ConfigurationSearchText" value="@Model.ConfigurationSearchText" />
<input type="hidden" name="ConfigurationPageNumber" value="@Model.ConfigurationPageNumber" />
<input type="hidden" name="ConfigurationPageSize" value="@Model.ConfigurationPageSize" />
<input type="hidden" name="ConfigurationType" value="@Model.ConfigurationType" />
<input type="hidden" name="ConfigurationOrderBy" value="@Model.ConfigurationOrderBy" />
<input type="hidden" name="ConfigurationOrderDirection" value="@Model.ConfigurationOrderDirection" />
