﻿@model List<Pixelario.CMS.Web.Models.Frontend.ImageMultimediaViewModel>
<section class="e-image-gallery-thumbnail">
    <strong>Galería de fotos</strong>
    <ul>
        @foreach (var multimedia in Model)
        {
            <li>
                <span><a href="@multimedia.GetSRC("800")" title="@multimedia.Title"
                        data-toggle="lightbox" data-parent="#page"
                        data-gallery="gallery" rel="nofollow"
                        data-title="@multimedia.Title"><img src="@multimedia.GetSRC("450")" title="@multimedia.Title"/></a></span>
            </li>
        }
    </ul>
</section>

