﻿@model List<Pixelario.CMS.Web.Models.Frontend.WidgetMultimediaViewModel>
<section class="e-widget-thumbnail">
    <strong>Vídeos y multimedios</strong>
    <ul>
        @foreach (var multimedia in Model)
        {
            <li>
                <span>
                    <a href="@multimedia.Href" title="@multimedia.Title"
                       data-toggle="lightbox" data-parent="#page"
                       @if (!string.IsNullOrEmpty(multimedia.DataType)) { <text>
                       data-type="@multimedia.DataType"
                       </text> } data-gallery="remoteload" rel="nofollow" 
                       data-title="@multimedia.Title">
                        <img src="@multimedia.GetSRC("450")" 
                             title="@multimedia.Title" /><em>Ver vídeo</em></a>
                </span>
            </li>
        }
    </ul>
</section>

