﻿@model Pixelario.CMS.Web.Models.Pages.IndexViewModel

@{
    ViewBag.Title = Model.Page.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <meta name="description" content="@Model.Page.Summary" />
    <meta name="keywords" content="@Model.Page.Keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Page.Title" />
    <meta property="og:description" content="@Model.Page.Summary" />
    <meta property="og:image" content="@string.Format("http://www.{0}{1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.Page.HomeImage)" />
    <meta property="og:url" content="@string.Format("http://www.{0}{1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.Page.URL)" />

    @if (!string.IsNullOrEmpty(Model.GetConfiguration("socialmedia/twitter/url")))
    {
        if (string.IsNullOrEmpty(Model.Page.HomeImage))
        {
            <meta property="twitter:card" content="summary" />
        }
        else
        {
            <meta property="twitter:card" content="summary_large_image" />
        }
        <meta property="twitter:site" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
        <meta property="twitter:creator" content="@string.Format("@{0}", Model.GetConfiguration("socialmedia/twitter/url"))" />
    }
}
@section header
{
    @Html.Partial("header/_Header", Model.HeaderViewModel)
}

<div id="page">
    <article>
        <header>
            <h1>@Model.Page.Title</h1>
            <p>
                @Model.Page.Summary
            </p>
        </header>
        @if (!string.IsNullOrEmpty(Model.Page.HomeImage))
        {
            <figure>
                <a href="@Model.Page.GetHomeImage("945")" title="@Model.Page.Title"
                   data-toggle="lightbox" data-parent="#page"
                   data-gallery="gallery"
                   data-title="@Model.Page.Title">
                    <img src="@Model.Page.GetHomeImage("945")" alt="@Model.Page.Title" />
                </a>
            </figure>
        }
        <section>
            @Html.Raw(Model.Page.Body)
        </section>
        @if (Model.Page.ImageMultimedia != null && Model.Page.ImageMultimedia.Count > 0)
        {
            @Html.Partial("_Image-Gallery-Thumbnail", Model.Page.ImageMultimedia)
        }
        @if (Model.Page.Widgets != null && Model.Page.Widgets.Count > 0)
        {
            @Html.Partial("_Widgets-Thumbnail", Model.Page.Widgets)
        }
        @if (Model.Page.Documents != null && Model.Page.Documents.Count > 0)
        {
            @Html.Partial("_Download-Links", Model.Page.Documents)
        }
        <section class="e-social-networks">
            <strong>Redes Sociales</strong>
            <ul>
                <li class="facebook-share.button">
                    <div class="fb-like" data-href="@string.Format("http://www.{0}{1}",
                                    Model.GetConfiguration("website/info/domain"),
                                    Model.Page.URL)"
                         data-send="false" data-show-faces="false" data-colorscheme="light"
                         data-layout="button_count">
                    </div>
                </li>
                <li class="twitter-share-button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="" data-lang="es" data-related="">Twittear</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </li>
                <li class="whatsapp-share-button">
                    <a href="whatsapp://send" data-text="" data-href="" class="wa_btn wa_btn_s" style="display: none">Whatsapp</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </section>
    </article>
</div>
@section asideTop
{
    <div class="aside-flyers hidden-sm hidden-md hidden-lg col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
}
@section aside
{
    <div class="aside-flyers hidden-xs col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideTopFlyers)
    </div>
    <div class="aside-flyers col-sm-3">
        @Html.Partial("aside/_Flyers", Model.AsideFlyers)
    </div>
}
@section script
{
    @Html.Partial("_Scripts", Model.ScriptFlyers)
    <script type="text/javascript">if (typeof wabtn4fg === "undefined") { wabtn4fg = 1; h = document.head || document.getElementsByTagName("head")[0], s = document.createElement("script"); s.type = "text/javascript"; s.src = "/js/whatsapp-button.js"; h.appendChild(s); }</script>
}
