﻿@model Pixelario.CMS.Web.Models.Frontend.WidgetMultimediaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Widget</title>
</head>
<body>
    <div> 
        @if (Model != null && !string.IsNullOrEmpty(Model.Code))
        {
            @Html.Raw(Model.Code)
        }
    </div>
</body>
</html>
