#header-top {
  background-color: #ACD84D;
  color: #fff;
  height: 9rem;
  padding-top: 1.5rem;
  font-size: 1.2rem;
}
#header-top ul {
  padding: 0px;
  margin: 0;
  display: inline-block;
  float: left;
  height: 2.4rem;
}
#header-top ul li {
  list-style: none;
  float: left;
  margin: 0 1.5rem 0 0;
  padding-top: 0.2rem;
}
#header-top ul li img {
  height: 2rem;
  filter: invert(1);
}
#header-top form {
  display: inline-block;
  float: left;
  position: relative;
  margin-top: 1em;
  padding: 1px 0 0 0;
}
#header-top form input[type=search] {
  background-color: #7AC143;
  border-color: #fff;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  padding-left: 2.3rem;
  height: 2.2rem;
  font-size: 1em;
  width: 100%;
}
#header-top form button {
  position: absolute;
  top: 2px;
  background-color: #fff;
  border: none;
  padding: 0;
  text-align: center;
  width: 2rem;
  height: 2rem;
  left: 0rem;
}
#header-top form button img {
  vertical-align: text-bottom;
}
#header-top span {
  display: inline-block;
  font-size: 1em;
  height: 2.4rem;
  padding-left: 1.5rem;
  text-transform: capitalize;
  vertical-align: text-bottom;
}
@media (min-width: 768px) {
  #header-top {
    height: 5.5rem;
    padding-top: 1.5rem;
  }
  #header-top ul {
    float: right;
  }
  #header-top form {
    margin-top: 0;
    padding: 1px 1.5rem 0 1.5rem;
    float: right;
  }
  #header-top form input[type=search] {
    width: auto;
  }
  #header-top form button {
    left: 1.6rem;
  }
}
#header-middle {
  height: 12.4rem;
}
#header-bottom {
  background-color: #0a960a;
}
#header-bottom .navbar-toggle {
  float: none;
  margin-right: 0px;
  margin-left: 15px;
  color: #fff;
}
#header-bottom .navbar {
  min-height: 0;
  margin-bottom: 0;
}
#header-bottom .nav.navbar-nav > li > span {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#header-bottom .nav.navbar-nav > li > span a {
  line-height: 100%;
}
#header-bottom .nav.navbar-nav > li > span a:hover,
#header-bottom .nav.navbar-nav > li > span a:active {
  text-decoration: none;
}
#header-bottom .nav.navbar-nav a {
  color: #fff;
}
#header-bottom .nav.navbar-nav .open a:hover,
#header-bottom .nav.navbar-nav .open a:hover,
#header-bottom .nav.navbar-nav .open a:focus {
  background-color: inherit;
}
#header-bottom .nav.navbar-nav > li > a {
  background-color: inherit;
}
@media (min-width: 768px) {
  #header-bottom .dropdown-menu {
    background-color: #0a960a;
  }
  #header-bottom .nav.navbar-nav > li > span {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1px;
  }
  #header-bottom .nav.navbar-nav > li > span a {
    line-height: inherit;
  }
}
@media (min-width: 1200px) {
  #header-bottom .nav.navbar-nav > li > span {
    line-height: 100%;
  }
}
#logo {
  padding-top: 2.0rem;
}
#logo a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  width: 29.5rem;
  height: 8.4rem;
  margin: 0 auto;
}
#logo-footer span {
  width: 50%;
  margin: 0 auto;
  display: block;
}
#logo-footer span a {
  width: 100%;
  padding-top: 100%;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  height: 0;
}
@media (min-width: 768px) {
  #logo a {
    margin: 0;
  }
}
#slide-container {
  padding: 1.5rem 0;
  background-color: #ACD84D;
}
#slide {
  height: 47.5rem;
  overflow: hidden;
}
#slide .carousel-indicators {
  margin-bottom: 0px;
  bottom: 0px;
}
#slide .carousel-control {
  height: 47.5rem;
  width: 5rem;
  background-image: none;
}
#slide .carousel-control span {
  color: #0a960a;
}
#slide .carousel-control.left {
  left: -5rem;
}
#slide .carousel-control.right {
  right: -5rem;
}
#slide article figure {
  width: 100%;
  height: 37.5rem;
  padding: 0;
  margin: 0;
}
#slide article figure a {
  display: flex;
  height: 37.5rem;
  overflow: hidden;
  justify-content: center;
  width: 100%;
}
#slide article figure a img {
  min-height: 37.5rem;
  min-width: 100%;
}
#slide article header {
  margin: 1.5rem;
  padding: 0;
  position: absolute;
  z-index: 6;
}
#slide article header a {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  margin: 0 1.5rem 1.5rem 0;
  text-transform: uppercase;
}
#slide article header a:hover {
  text-decoration: none;
}
#slide article aside {
  width: 100%;
  height: 10rem;
  padding: 1.5rem;
  background-color: #0a960a;
}
#slide article aside h1 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#slide article aside h1 a {
  color: #fff;
  display: block;
  font-size: 2rem;
  line-height: 133.34%;
}
#slide article aside h1 a:hover {
  text-decoration: none;
}
#slide article aside p {
  display: none;
}
.hr-slide {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 20px 0 20px;
  border-color: #0a960a transparent transparent transparent;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
@media (min-width: 768px) {
  #slide article aside h1 a {
    font-size: 3rem;
  }
  #slide article aside p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  #slide {
    padding: 0 5rem;
  }
  #slide article {
    position: relative;
  }
  #slide article figure {
    width: 60%;
    height: 47.5rem;
  }
  #slide article figure a {
    display: flex;
    width: 100%;
    height: 47.5rem;
    justify-content: center;
  }
  #slide article figure a img {
    width: auto;
    height: 47.5rem;
  }
  #slide article aside {
    width: 40%;
    height: 47.5rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
    padding: 1.5rem;
    background-color: #0a960a;
  }
  #slide article aside h1 a {
    font-size: 4rem;
    padding-top: 0;
  }
  #slide article aside p {
    display: block;
    color: #fff;
    padding-top: 1.5rem;
    font-size: 2.4rem;
    line-height: 120%;
  }
}
#wrapper {
  padding-top: 1.5rem;
}
#aside ul {
  padding: 0;
  margin: 0;
}
#aside ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
  list-style: none;
}
#footer {
  padding: 1.5rem 0;
  background-color: #7AC143;
  color: #fff;
}
#footer section {
  background-image: url(/img/telefono-icono.svg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 1.5rem 0 0 4.4rem;
  background-size: 2.4rem 2.4rem;
  background-position: 1rem 1.5rem;
}
#footer section.footer-prensa {
  background-image: url(/img/mega-icono.svg);
}
#footer section.footer-direccion {
  background-image: url(/img/direccion-icono.svg);
}
#footer section.footer-mensaje {
  background-image: url(/img/mensaje-icono.svg);
}
#footer section strong {
  display: block;
  font-size: 2rem;
}
#footer section ul {
  padding: 0;
}
#footer section ul li {
  list-style: none;
  font-size: 1.2rem;
}
#footer section ul li a {
  color: #fff;
}
#footer section ul li a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  #footer section {
    background-size: 1.68rem 1.68rem;
    padding: 1.5rem 0 0 3.3rem;
  }
  #footer section strong {
    display: block;
    font-size: 1.5rem;
  }
  #footer section ul li {
    list-style: none;
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  #footer section {
    background-size: 2.4rem 2.4rem;
    padding: 1.5rem 0 0 4.4rem;
  }
  #footer section strong {
    display: block;
    font-size: 2rem;
  }
  #footer section ul li {
    list-style: none;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  #footer section {
    background-size: 2.64rem 2.64rem;
    padding: 1.5rem 0 0 4.84rem;
  }
  #footer section strong {
    display: block;
    font-size: 2.2rem;
  }
  #footer section ul li {
    list-style: none;
    font-size: 1.32rem;
  }
}
#platform {
  padding: 0.75rem 0;
  background-color: #252525;
}
#platform p {
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
#platform p a {
  color: #0a960a;
}
@media (min-width: 768px) {
  #platform p {
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  #platform p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  #platform p {
    font-size: 1.32rem;
  }
}
#page article header {
  padding: 0;
  border-bottom: 1px solid #0a960a;
}
#page article header h1 {
  padding: 1.5rem 0 1.5rem 0;
  margin: 0 0 1.5rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #0a960a;
  font-size: 4rem;
  position: relative;
}
#page article header h1:after {
  content: "";
  display: block;
  width: 1em;
  height: 0.3em;
  background-color: #0a960a;
  position: absolute;
  left: 0;
  bottom: -0.15em;
}
#page article header p {
  padding: 1.5rem 0 0 0;
  font-size: 2.1rem;
}
#page article figure {
  padding: 1.5rem 0 0 0;
}
#page article figure a img {
  width: 100%;
}
#page article section {
  padding: 1.5rem 0;
  font-size: 1.8rem;
  border-bottom: 1px solid #0a960a;
}
#page article section strong {
  font-size: 2rem;
  color: #0a960a;
  position: relative;
  padding: 0.75rem 0;
  margin-bottom: 0.145em;
}
#page article section strong:after {
  content: "";
  display: block;
  width: 1em;
  height: 0.3em;
  background-color: #0a960a;
  position: absolute;
  left: 0.05em;
  bottom: -0.145em;
}
#page article section:first-of-type,
#page article section:last-of-type {
  border-bottom: none;
}
#article article header {
  padding: 0;
  border-bottom: 1px solid #0a960a;
}
#article article header h1 {
  padding: 1.5rem 0 1.5rem 0;
  margin: 0 0 1.5rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #0a960a;
  font-size: 4rem;
  position: relative;
}
#article article header h1:after {
  content: "";
  display: block;
  width: 1em;
  height: 0.3em;
  background-color: #0a960a;
  position: absolute;
  left: 0;
  bottom: -0.15em;
}
#article article header p {
  padding: 1.5rem 0 0 0;
  font-size: 2.1rem;
}
#article article figure {
  padding: 1.5rem 0 0 0;
}
#article article figure a img {
  width: 100%;
}
#article article section {
  padding: 1.5rem 0;
  font-size: 1.8rem;
  border-bottom: 1px solid #0a960a;
}
#article article section strong {
  font-size: 2rem;
  color: #0a960a;
  position: relative;
  padding: 0.75rem 0;
  margin-bottom: 0.145em;
}
#article article section strong:after {
  content: "";
  display: block;
  width: 1em;
  height: 0.3em;
  background-color: #0a960a;
  position: absolute;
  left: 0.05em;
  bottom: -0.145em;
}
#article article section:first-of-type,
#article article section:last-of-type {
  border-bottom: none;
}
#contact section ul {
  background-color: #0a960a;
}
#contact section ul li {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
#contact section ul li h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
}
#contact section ul li span {
  font-size: 1.2rem;
  font-weight: 400;
}
#contact form {
  margin-bottom: 1.5rem;
}
#contact form .form-control {
  font-family: 'Lato', sans-serif;
  border-color: #0a960a;
}
#contact p {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}
#contact-error-list ul li {
  color: red;
}
#flyers ul li a img {
  width: 100%;
}
#central-columns {
  padding: 0;
}
#central-columns li {
  list-style: none;
  margin: 0;
  margin-bottom: 1.5rem;
}
#central-columns li article {
  border: 1px solid #0a960a;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
#central-columns li article header {
  position: absolute;
  padding: 1.5rem 0 0 0;
}
#central-columns li article header a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 1.5rem 1.5rem;
}
#central-columns li article header a:hover {
  text-decoration: none;
}
#central-columns li article figure {
  padding: 0px;
  margin: 0px;
}
#central-columns li article figure a {
  display: block;
}
#central-columns li article figure a img {
  width: 100%;
}
#central-columns li article aside {
  background-color: #0a960a;
  padding: 1.5rem;
}
#central-columns li article aside h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
#central-columns li article aside h1 a {
  font-size: 2rem;
  color: #fff;
  line-height: 133.34%;
  display: block;
}
#central-columns li article aside h1 a:hover {
  text-decoration: none;
}
#central-columns li article aside p {
  display: none;
}
@media (min-width: 768px) {
  #central-columns li article {
    height: 22.5rem;
  }
  #central-columns li article figure {
    height: 0;
    padding-bottom: 15rem;
    overflow: hidden;
  }
  #central-columns li article figure a {
    height: 15rem;
  }
  #central-columns li article figure a img {
    display: inline;
    min-height: 100%;
    vertical-align: middle;
  }
  #central-columns li article aside {
    height: 7.5rem;
    overflow: hidden;
  }
  #central-columns li article aside h1 a {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) {
  #central-columns li article {
    height: 25rem;
  }
  #central-columns li article figure {
    height: 0;
    padding-bottom: 17rem;
    overflow: hidden;
  }
  #central-columns li article figure a {
    height: 17rem;
  }
  #central-columns li article figure a img {
    display: inline;
    min-height: 100%;
    vertical-align: middle;
  }
  #central-columns li article aside {
    height: 8rem;
    overflow: hidden;
  }
  #central-columns li article aside h1 a {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #central-columns li article {
    height: 28rem;
  }
  #central-columns li article figure {
    height: 0;
    padding-bottom: 19rem;
    overflow: hidden;
  }
  #central-columns li article figure a {
    height: 19rem;
  }
  #central-columns li article figure a img {
    display: inline;
    min-height: 100%;
    vertical-align: middle;
  }
  #central-columns li article aside {
    height: 9rem;
    overflow: hidden;
  }
  #central-columns li article aside h1 a {
    font-size: 2.4rem;
  }
}
.informative-section {
  padding: 1.5rem 0;
  /*Default color*/
  background-color: #ACD84D;
}
.informative-section ul {
  padding: 0;
  margin: 0;
}
.informative-section ul li {
  list-style: none;
  margin-bottom: 1.5rem;
}
.informative-section ul li article {
  position: relative;
}
.informative-section ul li article header {
  position: absolute;
  padding: 1.5rem 0 0 0;
}
.informative-section ul li article header a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 1.5rem 1.5rem;
}
.informative-section ul li article header a:hover {
  text-decoration: none;
}
.informative-section ul li article figure {
  padding: 0px;
  margin: 0px;
}
.informative-section ul li article figure a {
  display: block;
}
.informative-section ul li article figure a img {
  width: 100%;
}
.informative-section ul li article aside {
  /*Default color*/
  background-color: #0a960a;
  padding: 1.5rem;
}
.informative-section ul li article aside h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
.informative-section ul li article aside h1 a {
  /* default color */
  font-size: 2rem;
  line-height: 133.34%;
  display: block;
  color: #fff;
}
.informative-section ul li article aside h1 a:hover {
  text-decoration: none;
}
.informative-section ul li article aside p {
  display: none;
}
.informative-section ul li:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .informative-section ul li {
    margin-bottom: 0;
  }
  .informative-section ul li article {
    height: 22.5rem;
  }
  .informative-section ul li article figure {
    height: 0;
    padding-bottom: 15rem;
    overflow: hidden;
  }
  .informative-section ul li article figure a {
    height: 15rem;
  }
  .informative-section ul li article figure a img {
    display: inline;
    min-height: 100%;
    vertical-align: middle;
  }
  .informative-section ul li article aside {
    height: 7.5rem;
    overflow: hidden;
  }
  .informative-section ul li article aside h1 a {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) {
  #central-columns ul li article {
    height: 25rem;
  }
  #central-columns ul li article figure {
    height: 0;
    padding-bottom: 17rem;
    overflow: hidden;
  }
  #central-columns ul li article figure a {
    height: 17rem;
  }
  #central-columns ul li article figure a img {
    display: inline;
    min-height: 100%;
    vertical-align: middle;
  }
  #central-columns ul li article aside {
    height: 8rem;
    overflow: hidden;
  }
  #central-columns ul li article aside h1 a {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #central-columns ul li article {
    height: 28rem;
  }
  #central-columns ul li article figure {
    height: 0;
    padding-bottom: 19rem;
    overflow: hidden;
  }
  #central-columns ul li article figure a {
    height: 19rem;
  }
  #central-columns ul li article figure a img {
    display: inline;
    min-height: 100%;
    vertical-align: middle;
  }
  #central-columns ul li article aside {
    height: 9rem;
    overflow: hidden;
  }
  #central-columns ul li article aside h1 a {
    font-size: 2.4rem;
  }
}
#related-articles {
  padding: 0.145em 0 0 0;
  margin: 0;
}
#related-articles li {
  list-style: none;
  margin: 1.5rem 0;
}
#related-articles li article {
  border: 1px solid #0a960a;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
#related-articles li article header {
  position: absolute;
  padding: 1.5rem 0 0 0;
  border-bottom: none;
}
#related-articles li article header a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 1.5rem 1.5rem;
}
#related-articles li article header a:hover {
  text-decoration: none;
}
#related-articles li article figure {
  padding: 0px;
  margin: 0px;
}
#related-articles li article figure a {
  display: block;
}
#related-articles li article figure a img {
  width: 100%;
}
#related-articles li article aside {
  background-color: #0a960a;
  padding: 1.5rem;
}
#related-articles li article aside h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
#related-articles li article aside h1 a {
  font-size: 2rem;
  color: #fff;
  line-height: 133.34%;
  display: block;
}
#related-articles li article aside h1 a:hover {
  text-decoration: none;
}
#related-articles li article aside p {
  display: none;
}
#atomic-article-list {
  padding: 0;
}
#atomic-article-list li {
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0 1.5rem;
  border-bottom: solid 1px #0a960a;
}
#atomic-article-list li:last-child {
  border-bottom: none;
}
#atomic-article-list li article a:hover {
  text-decoration: none;
}
#atomic-article-list li article header a {
  color: #7AC143;
  font-size: 1.44rem;
  font-weight: 700;
  padding: 0 0 0.75rem 0;
}
#atomic-article-list li article header a:after {
  font-family: 'Glyphicons Halflings';
  font-size: 1.2rem;
  content: '\e080';
  text-align: center;
  display: inline-block;
  width: 2.4rem;
  height: 1.2rem;
}
#atomic-article-list li article header a:last-child:after {
  display: none;
}
#atomic-article-list li article header a.strong-header-title {
  font-size: 1.56rem;
}
#atomic-article-list li article h1 {
  font-family: 'Roboto', sans-serif;
  padding: 0 0 0.75rem 0;
  margin: 0;
  font-size: inherit;
}
#atomic-article-list li article h1 a {
  font-size: 2rem;
  color: #0a960a;
  line-height: 133.34%;
}
#atomic-article-list li article aside {
  padding-bottom: 1.5rem;
}
#atomic-article-list li article aside p {
  color: #ACD84D;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  line-height: 120%;
}
.e-logo-jpg {
  background-image: url("/img/logo.jpg");
}
.e-logo-png {
  background-image: url("/img/logo.png");
}
.e-logo-gif {
  background-image: url("/img/logo.gif");
}
.e-logo-svg {
  background-image: url("/img/logo.svg");
}
.e-logo-footer-jpg {
  background-image: url("/img/logo-footer.jpg");
}
.e-logo-footer-png {
  background-image: url("/img/logo-footer.png");
}
.e-logo-footer-gif {
  background-image: url("/img/logo-footer.gif");
}
.e-logo-footer-svg {
  background-image: url("/img/logo-footer.svg");
}
@media (min-width: 768px) {
  #header-bottom .e-short-navbar .nav.navbar-nav > li > span a {
    line-height: 20px;
  }
  #header-bottom .e-short-navbar .navbar-nav {
    width: 100%;
  }
  #header-bottom .e-short-navbar .navbar-nav > li {
    width: 20%;
  }
  #header-bottom .e-short-navbar .navbar-nav > li a {
    text-align: center;
  }
  #header-bottom .e-short-navbar .dropdown-menu {
    min-width: 222px;
  }
}
@media (min-width: 768px) {
  .e-middle-navbar .navbar-nav {
    width: 100%;
  }
  .e-middle-navbar .navbar-nav > li {
    width: 12.5%;
  }
  .e-middle-navbar .navbar-nav > li > a {
    line-height: 4px;
  }
  .e-middle-navbar .navbar-nav > li a {
    text-align: center;
  }
  .e-middle-navbar .navbar-nav > li a:hover,
  .e-middle-navbar .navbar-nav > li a:active {
    text-decoration: none;
  }
  .e-middle-navbar .navbar-nav a {
    font-size: 0.67rem;
  }
  .e-middle-navbar .dropdown-menu {
    min-width: 86px;
  }
}
@media (min-width: 1024px) {
  .e-middle-navbar .navbar-nav a {
    font-size: 1rem;
  }
  .e-middle-navbar .dropdown-menu {
    min-width: 113.5px;
  }
}
@media (min-width: 1200px) {
  .e-middle-navbar .navbar-nav > li > a {
    line-height: 100%;
  }
  .e-middle-navbar .navbar-nav a {
    font-size: 1.3rem;
  }
  .e-middle-navbar .dropdown-menu {
    min-width: 113.5px;
  }
}
#slide article.e-article-long-title aside h1 a {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  #slide article.e-article-long-title aside h1 a {
    font-size: 2rem;
  }
  #central-columns article.e-article-long-title aside h1 a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  #slide article.e-article-long-title aside h1 a {
    font-size: 3rem;
  }
  #slide article.e-article-long-title aside p {
    font-size: 1.8rem;
  }
  #central-columns article.e-article-long-title aside h1 a {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  #slide article.e-article-long-title aside h1 a {
    font-size: 3.5rem;
  }
  #slide article.e-article-long-title aside p {
    font-size: 2.1rem;
  }
  #central-columns article.e-article-long-title aside h1 a {
    font-size: 2rem;
  }
}
.e-image-gallery-thumbnail ul {
  padding: 0.145em 0 0 0;
  margin: 0;
}
.e-image-gallery-thumbnail ul::after {
  content: "";
  clear: both;
  display: table;
}
.e-image-gallery-thumbnail ul li {
  list-style: none;
  float: left;
  padding: 0;
  width: 40%;
  margin: 1.5rem 1.5rem 1.5rem 0;
}
.e-image-gallery-thumbnail ul li span {
  background-color: #fff;
  padding: 10px;
  border: solid 1px #0a960a;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.e-image-gallery-thumbnail ul li span a {
  height: 13rem;
  overflow: hidden;
  display: block;
  position: relative;
}
.e-image-gallery-thumbnail ul li span a img {
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
@media (min-width: 768px) {
  .e-image-gallery-thumbnail ul li {
    width: 30%;
  }
  .e-image-gallery-thumbnail ul li span a {
    height: 15rem;
  }
}
@media (min-width: 1024px) {
  .e-image-gallery-thumbnail ul li {
    width: 23%;
  }
  .e-image-gallery-thumbnail ul li span a {
    height: 15rem;
  }
}
@media (min-width: 1200px) {
  .e-image-gallery-thumbnail ul li {
    width: 18%;
  }
  .e-image-gallery-thumbnail ul li span a {
    height: 14rem;
  }
}
.e-donwload-links ul {
  padding: 0.145em 0 0 0;
  margin: 0;
}
.e-donwload-links ul li {
  list-style: none;
  padding: 0;
  margin: 1.5rem 1.5rem 1.5rem 0;
  display: inline-block;
}
.e-donwload-links ul li a {
  display: block;
  color: #0a960a;
  font-size: 1.8rem;
  background-repeat: no-repeat;
}
.e-donwload-links ul li a:before {
  content: '';
  display: inline-block;
  background-position: 0 0;
  background-size: 2.5rem 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  vertical-align: baseline;
  margin: 0 0.5rem 0 -0.1em;
}
.e-donwload-links ul li a:hover,
.e-donwload-links ul li a:active,
.e-donwload-links ul li a:focus,
.e-donwload-links ul li a:link {
  text-decoration: none;
}
.e-donwload-links ul li a.xls-file:before,
.e-donwload-links ul li a.xlsx-file:before {
  background-image: url('/img/file-icons/xls-file.svg');
}
.e-donwload-links ul li a.doc-file:before,
.e-donwload-links ul li a.docx-file:before {
  background-image: url('/img/file-icons/doc-file.svg');
}
.e-donwload-links ul li a.ppt-file:before,
.e-donwload-links ul li a.pptx-file:before {
  background-image: url('/img/file-icons/ppt-file.svg');
}
.e-donwload-links ul li a.zip-file:before {
  background-image: url('/img/file-icons/zip-file.svg');
}
.e-donwload-links ul li a.pdf-file:before {
  background-image: url('/img/file-icons/pdf-file.svg');
}
@media (min-width: 768px) {
  .e-donwload-links ul li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .e-donwload-links ul li a {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .e-donwload-links ul li a {
    font-size: 1.6rem;
  }
}
.e-widget-thumbnail ul {
  padding: 0.145em 0 0 0;
  margin: 0;
}
.e-widget-thumbnail ul::after {
  content: "";
  clear: both;
  display: table;
}
.e-widget-thumbnail ul li {
  list-style: none;
  float: left;
  padding: 0;
  width: 40%;
  margin: 1.5rem 1.5rem 1.5rem 0;
}
.e-widget-thumbnail ul li span {
  background-color: #fff;
  padding: 10px;
  border: solid 1px #0a960a;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.e-widget-thumbnail ul li span a {
  height: 13rem;
  overflow: hidden;
  display: block;
  position: relative;
}
.e-widget-thumbnail ul li span a img {
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.e-widget-thumbnail ul li span a em {
  width: 33.3%;
  height: 33.3%;
  display: block;
  background-image: url('/img/play-icon.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-indent: -9999px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .e-widget-thumbnail ul li {
    width: 30%;
  }
  .e-widget-thumbnail ul li span a {
    height: 15rem;
  }
}
@media (min-width: 1024px) {
  .e-widget-thumbnail ul li {
    width: 23%;
  }
  .e-widget-thumbnail ul li span a {
    height: 15rem;
  }
}
@media (min-width: 1200px) {
  .e-widget-thumbnail ul li {
    width: 18%;
  }
  .e-widget-thumbnail ul li span a {
    height: 14rem;
  }
}
.e-social-networks ul {
  padding: 0.145em 0 0 0;
  margin: 0;
}
.e-social-networks ul li {
  list-style: none;
  float: left;
  padding: 0;
  margin: 1.5rem 1.5rem 1.5rem 0;
  min-height: 30px;
}
.e-social-networks ul li.twitter-share-button {
  padding-top: 5px;
}
.e-social-networks ul li.whatsapp-share-button {
  padding-top: 4px;
}
.e-topic-navigation ul.breadcrumb {
  background-color: #0a960a;
}
.e-topic-navigation ul li.active h1,
.e-topic-navigation ul li.active a {
  font-size: 2rem;
  font-weight: 700;
}
.e-topic-navigation ul li h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  color: #fff;
  margin: 0;
  font-weight: 400;
  display: inline;
}
.e-topic-navigation ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  color: #fff;
  font-weight: 400;
}
.e-topic-navigation ul li a:active,
.e-topic-navigation ul li a:hover {
  text-decoration: none;
}
.e-search-form {
  background-color: #0a960a;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.e-search-form form .glyphicon {
  color: #ACD84D;
}
.e-search-form form .btn-link {
  color: #fff;
}
.e-search-form form .has-error .help-block {
  color: #ffcccc;
}
.e-search-form form .has-error .form-control {
  border-color: #ffcccc;
}
.e-search-form form .has-error .input-group-addon {
  border-color: #ffcccc;
  color: inherit;
  background-color: beige;
}
.e-search-form p {
  padding: 1.5rem 0 0 1.5rem;
  color: #fff;
}
#error-list ul li {
  color: #ffcccc;
}
body {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
