﻿@using Pixelario.CMS.Web.Models.Frontend;
@using Pixelario.CMS.Domain.AggregatesModel.Articles;
@model List<AdvertismentFrontModel>
@if (Model != null && Model.Count > 0)
{
    <text>

        <section>
            <ul>
                @foreach (var item in Model)
                {
                    <text>
                                    <li>
                                        @if (item.HasCode)
                                        {
                                            <text>                                              

                                                <a href="@item.Href" title="@item.Title"
                                                    data-toggle="lightbox" data-parent="#page"
                                                    data-gallery="@item.GetHashCode()" rel="nofollow"
                                                    data-title="@item.Title">
                                                    <img src="@item.GetHomeImage("500")"
                                                         title="@item.Title" />
                                                </a>

                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <a href="@item.URL" title="@item.Title" target="_blank" rel="nofollow">
                                                    <img src="@item.GetHomeImage("500")"
                                                         alt="@item.Title" />
                                                </a>
                                            </text>
                                        }
                                    </li>
                    </text>
                }
            </ul>
        </section>
    </text>
}
